Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$
  horizon-tox-python3-django22: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests-xstatic-master: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$

Fix tenant_id for a new port.
  openstack_dashboard/dashboards/admin/networks/ports/tests.py
  openstack_dashboard/dashboards/admin/networks/ports/views.py
  openstack_dashboard/dashboards/project/networks/ports/tests.py
  openstack_dashboard/dashboards/project/networks/ports/views.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Update .gitreview for stable/ussuri
  .gitreview
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Handle case without pytest for plugin tests
  horizon/test/helpers.py
  openstack_dashboard/test/helpers.py
  openstack_dashboard/test/integration_tests/helpers.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Implement 'selector-append' sass function
  openstack_dashboard/themes/material/static/horizon/_styles.scss
  releasenotes/notes/pyscss-and-setuptools-7634dcee9d62bde9.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Fix "Update Metadata" tab on Horizon
  openstack_dashboard/dashboards/project/snapshots/tables.py
  openstack_dashboard/dashboards/project/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
Due: none

Gate fix: use tempest-horizon 0.2.0 explicitly
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Remove Keystone v2 related code
  openstack_auth/forms.py
  openstack_auth/tests/unit/test_auth.py
  openstack_auth/urls.py
  openstack_auth/user.py
  openstack_auth/utils.py
  openstack_auth/views.py
  openstack_dashboard/api/base.py
  openstack_dashboard/api/keystone.py
  openstack_dashboard/dashboards/identity/application_credentials/panel.py
  openstack_dashboard/dashboards/identity/domains/panel.py
  openstack_dashboard/dashboards/identity/groups/panel.py
  openstack_dashboard/dashboards/identity/groups/tests.py
  openstack_dashboard/dashboards/identity/identity_providers/panel.py
  openstack_dashboard/dashboards/identity/mappings/panel.py
  openstack_dashboard/dashboards/identity/projects/tables.py
  openstack_dashboard/dashboards/identity/projects/tabs.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/identity/projects/views.py
  openstack_dashboard/dashboards/identity/projects/workflows.py
  openstack_dashboard/dashboards/identity/roles/panel.py
  openstack_dashboard/dashboards/identity/users/forms.py
  openstack_dashboard/dashboards/identity/users/panel.py
  openstack_dashboard/dashboards/identity/users/tables.py
  openstack_dashboard/dashboards/identity/users/tabs.py
  openstack_dashboard/dashboards/identity/users/tests.py
  openstack_dashboard/dashboards/identity/users/views.py
  openstack_dashboard/templatetags/context_selection.py
  openstack_dashboard/test/test_data/keystone_data.py
  openstack_dashboard/test/unit/api/test_keystone.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Add py38 package metadata
  setup.cfg
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-integration-tests-xstatic-master

Bump default tox env from py37 to py38
  tox.ini
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Fix .zuul.yaml syntax errors
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
  horizon/locale/es/LC_MESSAGES/django.po
  horizon/locale/ko_KR/LC_MESSAGES/djangojs.po
  horizon/locale/pt_BR/LC_MESSAGES/django.po
  horizon/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_auth/locale/es/LC_MESSAGES/django.po
  openstack_auth/locale/zh_TW/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  horizon/locale/pt_BR/LC_MESSAGES/django.po
  horizon/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Refactor tools/unit_tests.sh
  tools/selenium_tests.sh
  tools/unit_tests.sh
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-integration-tests-xstatic-master

Fix regressions in unit_tests.sh during pytest mirgation
  tools/unit_tests.sh
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-integration-tests-xstatic-master

doc: update how to run specific test in pytest
  doc/source/contributor/testing.rst
Due: none

Suppress PytestCollectionWarning
  horizon/test/unit/forms/test_fields.py
  horizon/test/unit/forms/test_forms.py
  horizon/test/unit/workflows/test_workflows.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-tox-bandit-baseline

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
  horizon/locale/es/LC_MESSAGES/django.po
  horizon/locale/ko_KR/LC_MESSAGES/djangojs.po
  horizon/locale/pt_BR/LC_MESSAGES/django.po
  horizon/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_auth/locale/es/LC_MESSAGES/django.po
  openstack_auth/locale/zh_TW/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Give keystoneauth1.ClientException only 1 argument (message)
  openstack_auth/tests/unit/test_auth.py
  openstack_dashboard/api/keystone.py
  openstack_dashboard/dashboards/identity/domains/tables.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Fix listing security groups when no rules
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/test_neutron.py
  releasenotes/notes/security-group-no-rules-list-bugfix-b77ab5aff1d3e45e.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Consistency Group Snapshots detail url is wrong
  openstack_dashboard/dashboards/project/cg_snapshots/tables.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Fix aes-xts key length in Horizon Admin Guide / Manage Volumes
  doc/source/admin/manage-volumes.rst
Due: none

Authenticate before Authorization
  horizon/base.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master
