Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$

- job:
    name: horizon-openstack-tox-py27dj18
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj18

- job:
    name: horizon-openstack-tox-py27dj19
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj19

- job:
    name: horizon-openstack-tox-py27dj110
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj110

- job:
    name: horizon-openstack-tox-py35dj20
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py35dj20

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "'{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'"
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_venvlist: all

- project:
    name: openstack/horizon
    check:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-openstack-tox-py35dj20:
            voting: false
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin
    gate:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin

Change http link to https link
  doc/source/user/configure-access-and-security-for-instances.rst
Due: none

Remove empty test file
  openstack_auth/tests/unit/test_models.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fixed popover table colour change on hover
  openstack_dashboard/static/dashboard/scss/_variables.scss
  openstack_dashboard/static/dashboard/scss/components/_tables.scss
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/zh_CN/LC_MESSAGES/django.po
  horizon/locale/zh_CN/LC_MESSAGES/djangojs.po
  openstack_auth/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Enable to refresh ngdetails view
  horizon/base.py
  horizon/browsers/views.py
  horizon/test/tests/base.py
  horizon/test/tests/templates/angular.html
  releasenotes/notes/ngdetail-reload-e711a77b2d07191a.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Enable more hacking-extensions
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix collectstatic in case of theme customization
  openstack_dashboard/utils/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Tabbify quota default panel
  openstack_dashboard/dashboards/admin/defaults/tables.py
  openstack_dashboard/dashboards/admin/defaults/tabs.py
  openstack_dashboard/dashboards/admin/defaults/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Clean up broken links due to doc-migration
  doc/source/admin/index.rst
  doc/source/admin/manage-host-aggregates.rst
  doc/source/admin/manage-images.rst
  doc/source/admin/manage-instances.rst
  doc/source/admin/manage-resources.rst
  doc/source/admin/manage-shares.rst
  doc/source/admin/manage-volumes.rst
  doc/source/admin/sessions.rst
  doc/source/admin/set-quotas.rst
  doc/source/admin/view-cloud-resources.rst
  doc/source/user/create-networks.rst
  doc/source/user/launch-instances.rst
  doc/source/user/stacks.rst
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/es/LC_MESSAGES/djangojs.po
  horizon/locale/ko_KR/LC_MESSAGES/django.po
  openstack_auth/locale/ja/LC_MESSAGES/django.po
  openstack_auth/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Filtering networks or routers by non-existing tenants return an empty list
  openstack_dashboard/dashboards/admin/networks/tests.py
  openstack_dashboard/dashboards/admin/networks/views.py
  openstack_dashboard/dashboards/admin/routers/tests.py
  openstack_dashboard/dashboards/admin/routers/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Network topology "Graph" tab always shows nothing
  openstack_dashboard/static/js/horizon.networktopology.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix typos in horizon
  openstack_dashboard/dashboards/project/networks/forms.py
  openstack_dashboard/dashboards/project/networks/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/id/LC_MESSAGES/django.po
  openstack_auth/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update .gitreview for stable/queens
  .gitreview
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update UPPER_CONSTRAINTS_FILE for stable/queens
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update reno for stable/queens
  releasenotes/source/index.rst
  releasenotes/source/queens.rst
Due: none

Tabs in launch server wizard not depending on OPENSTACK_NOVA_EXTENSIONS_BLACKLIST
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-workflow.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-workflow.service.spec.js
  openstack_dashboard/static/app/core/workflow/decorator.service.js
  openstack_dashboard/static/app/core/workflow/decorator.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Views accessible via url even if user doesn't match policy rules
  horizon/base.py
  horizon/decorators.py
  openstack_dashboard/test/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Cache neutron extension list across requests
  horizon/utils/memoized.py
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/nl_NL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/sr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/fr/LC_MESSAGES/django.po
  horizon/locale/id/LC_MESSAGES/django.po
  openstack_auth/locale/fr/LC_MESSAGES/django.po
  openstack_auth/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Admin State is always UP whatever whether router Admin State is checked or not
  openstack_dashboard/dashboards/project/routers/forms.py
  openstack_dashboard/dashboards/project/routers/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Move test template to more proper directory
  horizon/test/templates/angular.html
  horizon/test/tests/templates/angular.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Replaces yaml.load() with yaml.safe_load()
  openstack_dashboard/dashboards/project/api_access/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/de/LC_MESSAGES/django.po
  horizon/locale/zh_CN/LC_MESSAGES/django.po
  openstack_auth/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Updated from global requirements
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Provide a way to disable mox completely
  horizon/test/helpers.py
  horizon/test/unit/tables/test_tables.py
  openstack_dashboard/test/helpers.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Minor fix on mock migrated tests
  openstack_dashboard/dashboards/project/images/images/tests.py
  openstack_dashboard/dashboards/project/images/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Switch Nova API tests to mock
  openstack_dashboard/test/helpers.py
  openstack_dashboard/test/unit/api/rest/test_nova.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_auth/locale/eo/LC_MESSAGES/django.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin
