Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-python3-django111: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
  horizon-dsvm-tempest-plugin-py27: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$

Add tooltips for "Admin State" in related forms
  openstack_dashboard/dashboards/admin/networks/forms.py
  openstack_dashboard/dashboards/project/networks/forms.py
  openstack_dashboard/dashboards/project/networks/ports/workflows.py
  openstack_dashboard/dashboards/project/networks/workflows.py
  openstack_dashboard/dashboards/project/routers/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Check if the key meets the cinder API validation
  openstack_dashboard/dashboards/admin/volume_types/qos_specs/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Do not call handle() when AZ is required
  openstack_dashboard/dashboards/admin/aggregates/forms.py
  openstack_dashboard/dashboards/admin/aggregates/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Check if network_id and qos_policy_id is empty
  openstack_dashboard/dashboards/admin/rbac_policies/forms.py
  openstack_dashboard/dashboards/admin/rbac_policies/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Correct the prompt message when creating a volume in the image panel
  openstack_dashboard/static/app/core/images/actions/create-volume.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Adds community image loading for instance index view
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Make project volume group table work even with volumev3 only env
  openstack_dashboard/dashboards/project/snapshots/tables.py
  openstack_dashboard/dashboards/project/vg_snapshots/tables.py
  openstack_dashboard/dashboards/project/volume_groups/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Correct error messages on create and update router form
  openstack_dashboard/dashboards/project/routers/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add asterisk mark for the required field on CreateNamespaceForm
  openstack_dashboard/dashboards/admin/metadata_defs/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix release version name in system-requirements.rst
  doc/source/install/system-requirements.rst
Due: none

Quote keypair name in keypair panel
  openstack_dashboard/dashboards/project/key_pairs/tables.py
  openstack_dashboard/dashboards/project/key_pairs/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Disable add rules button when quotas are exceeded in security rule panel
  openstack_dashboard/dashboards/project/security_groups/tables.py
  openstack_dashboard/dashboards/project/security_groups/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Remove reference to Neutron LBaaS
  doc/source/install/plugin-registry.rst
Due: none

Do not try to access sets by index
  openstack_dashboard/api/neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Blacklist sphinx 2.1.0 (autodoc bug)
  doc/requirements.txt
Due: none

Fix tenant floating_ip_allocation call in neutron rest api.
  openstack_dashboard/api/rest/network.py
  openstack_dashboard/test/unit/api/rest/test_network.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Image Name is optional parameter on create and update image form
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.html
  openstack_dashboard/static/app/core/images/steps/edit-image/edit-image.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add the group_snapshot attribute to the snapshot in UpdateRow
  openstack_dashboard/dashboards/admin/snapshots/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Uniform asterisk mark color and location
  openstack_dashboard/static/app/core/keypairs/actions/create.key-type.html
  openstack_dashboard/static/app/core/keypairs/actions/import.public-key.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Update the constraints url
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Remove volume_backup_list_paged from the volume tests file
  openstack_dashboard/dashboards/project/volumes/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Fixes creating nondefault type volumes from volume
  openstack_dashboard/dashboards/project/volumes/forms.py
  openstack_dashboard/dashboards/project/volumes/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Change the way of verifying field cidr
  openstack_dashboard/dashboards/project/networks/workflows.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix :param: in docstring
  openstack_auth/plugin/k2k.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Add unit test for image detail
  openstack_dashboard/static/app/core/images/details/details.module.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Replace "group spec" with "group type spec"
  openstack_dashboard/dashboards/admin/group_types/specs/forms.py
  openstack_dashboard/dashboards/admin/group_types/templates/group_types/specs/_create.html
  openstack_dashboard/dashboards/admin/group_types/templates/group_types/specs/_edit.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add exception message when user modify password same as previous
  openstack_dashboard/dashboards/settings/password/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Explicitly set LOCALE_PATHS for Horizon apps
  doc/source/configuration/settings.rst
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Cleanup unused util functions
  horizon/test/unit/utils/test_units.py
  horizon/utils/units.py
  openstack_auth/utils.py
  openstack_dashboard/dashboards/project/containers/utils.py
  openstack_dashboard/dashboards/project/images/utils.py
  openstack_dashboard/dashboards/project/instances/utils.py
  openstack_dashboard/dashboards/project/volumes/utils.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-admin.po
  doc/source/locale/eo/LC_MESSAGES/doc-admin.po
  doc/source/locale/fi_FI/LC_MESSAGES/doc-admin.po
  doc/source/locale/ja/LC_MESSAGES/doc.po
  doc/source/locale/pt_BR/LC_MESSAGES/doc.po
  doc/source/locale/ru/LC_MESSAGES/doc-admin.po
Due: none

fix loading modal
  horizon/templates/horizon/client_side/_loading_modal.html
  openstack_dashboard/static/dashboard/img/itera-circle.gif
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

modify itera-circle image
  openstack_dashboard/static/dashboard/img/itera-circle.gif
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

fix modal loader
  horizon/templates/horizon/client_side/_loading_modal.html
  openstack_dashboard/static/dashboard/img/itera-circle-100.gif
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

resize logo
  horizon/templates/horizon/client_side/_loading_modal.html
  openstack_dashboard/static/dashboard/img/itera-circ.gif
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27
