Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-python3-django111:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py3-dj111
  required-projects:
  - name: openstack/horizon

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
    devstack_services:
      horizon: true
  ...

Not implicitly set vol_device_name to vda
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Make project volume group table work even with volumev3 only env
  openstack_dashboard/dashboards/project/snapshots/tables.py
  openstack_dashboard/dashboards/project/vg_snapshots/tables.py
  openstack_dashboard/dashboards/project/volume_groups/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Allowed Address Pair/Delete buttons are only visible to admin
  openstack_dashboard/dashboards/admin/networks/ports/tests.py
  openstack_dashboard/dashboards/project/networks/ports/extensions/allowed_address_pairs/tables.py
  openstack_dashboard/dashboards/project/networks/ports/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix typo in publicize_image policy name
  openstack_dashboard/static/app/core/images/steps/edit-image/edit-image.controller.js
  releasenotes/notes/publicize-image-policy-name-5d7fd5ecbdcfa893.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix deleting port from port details page
  openstack_dashboard/dashboards/project/networks/ports/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Call Glance list with certain image ids
  openstack_dashboard/api/glance.py
  openstack_dashboard/dashboards/admin/instances/tests.py
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/test/unit/api/test_glance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update geckodriver to version 0.23.0
  roles/setup-selenium-tests/defaults/main.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix .zuul.yaml syntax errors
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Gate fix: use tempest-horizon 0.2.0 explicitly
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: none

Fixing broken links
  doc/source/configuration/branding.rst
  doc/source/user/log-in.rst
Due: none

network topology: handle port AZ correctly
  openstack_dashboard/static/js/horizon.networktopology.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix "prev" link pagination for instances with identical timestamps
  openstack_dashboard/api/nova.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix tenant floating_ip_allocation call in neutron rest api.
  openstack_dashboard/api/rest/network.py
  openstack_dashboard/test/unit/api/rest/test_network.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Allow creating ICMPV6 rules
  openstack_dashboard/dashboards/project/security_groups/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Avoid forced logout when 403 error encountered
  horizon/static/framework/framework.module.js
  horizon/static/framework/framework.module.spec.js
  horizon/static/framework/widgets/wizard/wizard.controller.js
  horizon/static/framework/widgets/wizard/wizard.controller.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
Due: none

Remove the check which causes plugin's quotas update failure
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix quoting in zuul for tempest plugins
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Don't use check_for_language in the user settings form
  openstack_dashboard/dashboards/settings/user/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Updated max-width to be dynamic for .member class
  openstack_dashboard/static/dashboard/scss/_variables.scss
  openstack_dashboard/static/dashboard/scss/components/_membership.scss
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Complete angular translation extract pattern
  horizon/test/unit/utils/test_babel_extract_angular.py
  horizon/utils/babel_extract_angular.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
Due: none

Add "prev" link to instance page list pagination
  openstack_dashboard/api/nova.py
  openstack_dashboard/dashboards/admin/instances/tests.py
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/views.py
  openstack_dashboard/test/integration_tests/tests/test_instances.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Ensure to call patch_middleware_get_user() in api.test_base
  openstack_dashboard/test/unit/api/test_base.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Ensure python versions
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Give keystoneauth1.ClientException only 1 argument (message)
  openstack_auth/tests/unit/test_auth.py
  openstack_dashboard/api/keystone.py
  openstack_dashboard/dashboards/identity/domains/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Switch to py38 for horizon-non-primary-django-jobs
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
Due: none

Using pytest skip to make all of the skip reason equal
  openstack_dashboard/test/integration_tests/tests/test_volumes.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless

Fix tenant_id for a new port.
  openstack_dashboard/dashboards/admin/networks/ports/tests.py
  openstack_dashboard/dashboards/admin/networks/ports/views.py
  openstack_dashboard/dashboards/project/networks/ports/tests.py
  openstack_dashboard/dashboards/project/networks/ports/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix "Rescue Instance" tab on Horizon
  openstack_dashboard/dashboards/project/instances/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Fix tempest and pep8 tests
  .zuul.yaml
  openstack_dashboard/api/cinder.py
  openstack_dashboard/settings.py
  openstack_dashboard/test/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-python3-django111: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
