Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$

- job:
    name: horizon-openstack-tox-py27dj18
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj18

- job:
    name: horizon-openstack-tox-py27dj19
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj19

- job:
    name: horizon-openstack-tox-py27dj110
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj110

- job:
    name: horizon-openstack-tox-py35dj20
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py35dj20

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "'{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'"
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_venvlist: all

- project:
    name: openstack/horizon
    check:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-openstack-tox-py35dj20:
            voting: false
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin
    gate:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Render 'Volume Transfer' as modal instead of page
  openstack_dashboard/dashboards/project/volumes/forms.py
  openstack_dashboard/dashboards/project/volumes/templates/volumes/_show_transfer.html
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/dashboards/project/volumes/views.py
  openstack_dashboard/static/dashboard/scss/components/_messages.scss
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

API micro-version support for multiple features
  openstack_dashboard/api/cinder.py
  openstack_dashboard/api/microversions.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/api/rest/nova.py
  openstack_dashboard/test/api_tests/microversions_tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Trunks panel: display the MAC of ports
  openstack_dashboard/static/app/core/trunks/steps/trunk-parent-port.html
  openstack_dashboard/static/app/core/trunks/steps/trunk-subports.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Updated from global requirements
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Heat Dasbhoard to Plugin Registry
  doc/source/install/plugin-registry.rst
Due: none

Imported Translations from Zanata
  horizon/locale/de/LC_MESSAGES/django.po
  horizon/locale/ko_KR/LC_MESSAGES/django.po
  openstack_auth/locale/de/LC_MESSAGES/django.po
  openstack_auth/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

horizon: Move test files to match corresponding module structure
  horizon/test/selenium/selenium_tests.py
  horizon/test/tests/forms.py
  horizon/test/tests/utils.py
  horizon/test/unit/__init__.py
  horizon/test/unit/forms/__init__.py
  horizon/test/unit/forms/test_fields.py
  horizon/test/unit/forms/test_forms.py
  horizon/test/unit/hacking/__init__.py
  horizon/test/unit/hacking/test_checks.py
  horizon/test/unit/management/__init__.py
  horizon/test/unit/management/commands/__init__.py
  horizon/test/unit/management/commands/test_startdash.py
  horizon/test/unit/management/commands/test_startpanel.py
  horizon/test/unit/middleware/__init__.py
  horizon/test/unit/middleware/test_base.py
  horizon/test/unit/middleware/test_operation_log.py
  horizon/test/unit/tables/__init__.py
  horizon/test/unit/tables/test_tables.py
  horizon/test/unit/tabs/__init__.py
  horizon/test/unit/tabs/test_tabs.py
  horizon/test/unit/templatetags/__init__.py
  horizon/test/unit/templatetags/test_templatetags.py
  horizon/test/unit/test_base.py
  horizon/test/unit/test_exceptions.py
  horizon/test/unit/test_messages.py
  horizon/test/unit/test_notifications.py
  horizon/test/unit/test_views.py
  horizon/test/unit/utils/__init__.py
  horizon/test/unit/utils/test_babel_extract_angular.py
  horizon/test/unit/utils/test_file_discovery.py
  horizon/test/unit/utils/test_filters.py
  horizon/test/unit/utils/test_functions.py
  horizon/test/unit/utils/test_memoized.py
  horizon/test/unit/utils/test_secret_key.py
  horizon/test/unit/utils/test_units.py
  horizon/test/unit/utils/test_validators.py
  horizon/test/unit/workflows/__init__.py
  horizon/test/unit/workflows/test_workflows.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

openstack_auth: Move test files to match module structure
  openstack_auth/tests/run_tests.py
  openstack_auth/tests/unit/__init__.py
  openstack_auth/tests/unit/test_auth.py
  openstack_auth/tests/unit/test_models.py
  openstack_auth/tests/unit/test_policy.py
  openstack_auth/tests/unit/test_user.py
  openstack_auth/tests/unit/test_utils.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

openstack_dashboard: Move test files to match module structure
  openstack_dashboard/dashboards/project/api_access/tests.py
  openstack_dashboard/test/selenium/__init__.py
  openstack_dashboard/test/selenium/selenium_tests.py
  openstack_dashboard/test/tests/policy.py
  openstack_dashboard/test/tests/templates.py
  openstack_dashboard/test/unit/__init__.py
  openstack_dashboard/test/unit/api/__init__.py
  openstack_dashboard/test/unit/api/rest/__init__.py
  openstack_dashboard/test/unit/api/rest/test_cinder.py
  openstack_dashboard/test/unit/api/rest/test_config.py
  openstack_dashboard/test/unit/api/rest/test_glance.py
  openstack_dashboard/test/unit/api/rest/test_keystone.py
  openstack_dashboard/test/unit/api/rest/test_network.py
  openstack_dashboard/test/unit/api/rest/test_neutron.py
  openstack_dashboard/test/unit/api/rest/test_nova.py
  openstack_dashboard/test/unit/api/rest/test_policy.py
  openstack_dashboard/test/unit/api/rest/test_swift.py
  openstack_dashboard/test/unit/api/rest/test_utils.py
  openstack_dashboard/test/unit/api/test_base.py
  openstack_dashboard/test/unit/api/test_cinder.py
  openstack_dashboard/test/unit/api/test_glance.py
  openstack_dashboard/test/unit/api/test_keystone.py
  openstack_dashboard/test/unit/api/test_network.py
  openstack_dashboard/test/unit/api/test_neutron.py
  openstack_dashboard/test/unit/api/test_nova.py
  openstack_dashboard/test/unit/api/test_swift.py
  openstack_dashboard/test/unit/test_error_pages.py
  openstack_dashboard/test/unit/test_policy.py
  openstack_dashboard/test/unit/test_themes.py
  openstack_dashboard/test/unit/test_views.py
  openstack_dashboard/test/unit/usage/__init__.py
  openstack_dashboard/test/unit/usage/test_quotas.py
  openstack_dashboard/test/unit/utils/__init__.py
  openstack_dashboard/test/unit/utils/test_config_types.py
  openstack_dashboard/test/unit/utils/test_filters.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Remove app-catalog from plugin list
  doc/source/install/plugin-registry.rst
Due: none

Fix wrong link to VM in admin volume detail
  openstack_dashboard/dashboards/admin/volumes/tabs.py
  openstack_dashboard/dashboards/admin/volumes/views.py
  openstack_dashboard/dashboards/project/volumes/tabs.py
  openstack_dashboard/dashboards/project/volumes/templates/volumes/_detail_overview.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Show volume snapshots in admin volume detail page
  openstack_dashboard/dashboards/admin/snapshots/tables.py
  openstack_dashboard/dashboards/admin/volumes/tabs.py
  openstack_dashboard/dashboards/admin/volumes/tests.py
  openstack_dashboard/dashboards/admin/volumes/views.py
  openstack_dashboard/dashboards/project/volumes/tabs.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/dashboards/project/volumes/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Allow to skip API calls to Neutron in instance tables
  doc/source/configuration/settings.rst
  openstack_dashboard/dashboards/admin/instances/tests.py
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/views.py
  openstack_dashboard/local/local_settings.py.example
  releasenotes/notes/setting-retrieve-instance-ip-addresses-b9db6703d8b010c8.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Define default POLICY_DIRS value
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

doc: use "python manage.py" directly rather "tox -e manage"
  doc/source/configuration/themes.rst
  doc/source/contributor/contributing.rst
Due: none

Always display server description
  openstack_dashboard/dashboards/project/instances/templates/instances/_detail_overview.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Optional removal of V2 openrc file
  doc/source/configuration/settings.rst
  openstack_dashboard/context_processors.py
  openstack_dashboard/dashboards/project/api_access/tables.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/settings.py
  openstack_dashboard/templates/header/_user_menu.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

python3: long does not exist in python 3
  openstack_dashboard/dashboards/admin/images/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

API tests: Avoid UnhashableKeyWarning
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix "Open Console" issue on network topology
  openstack_dashboard/static/js/horizon.flatnetworktopology.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Angular keystone user creation action
  horizon/static/framework/util/validators/hz-password-match.directive.js
  horizon/static/framework/util/validators/hz-password-match.directive.spec.js
  horizon/static/framework/widgets/form/decorator.js
  horizon/static/framework/widgets/form/decorator.spec.js
  horizon/static/framework/widgets/form/fields/password-confirm.html
  openstack_dashboard/api/rest/keystone.py
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/create.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/create.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/workflow/info.create.help.html
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/workflow/workflow.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/workflow/workflow.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/panel.html
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/users.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/users.module.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/users.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/users.service.spec.js
  openstack_dashboard/static/app/core/openstack-service-api/keystone.service.js
  openstack_dashboard/static/app/core/openstack-service-api/keystone.service.spec.js
  openstack_dashboard/test/unit/api/rest/test_keystone.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add text download service
  horizon/static/framework/util/file/text-download.service.js
  horizon/static/framework/util/file/text-download.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Prevent non-admin users from detaching interfaces
  openstack_dashboard/conf/nova_policy.json
  openstack_dashboard/dashboards/project/instances/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

quota: Use network quota field names consistently
  openstack_dashboard/dashboards/admin/networks/ports/tables.py
  openstack_dashboard/dashboards/admin/networks/subnets/tables.py
  openstack_dashboard/dashboards/admin/networks/subnets/tests.py
  openstack_dashboard/dashboards/admin/networks/tables.py
  openstack_dashboard/dashboards/admin/networks/tests.py
  openstack_dashboard/dashboards/project/floating_ips/forms.py
  openstack_dashboard/dashboards/project/floating_ips/tables.py
  openstack_dashboard/dashboards/project/floating_ips/templates/floating_ips/_allocate.html
  openstack_dashboard/dashboards/project/floating_ips/tests.py
  openstack_dashboard/dashboards/project/floating_ips/views.py
  openstack_dashboard/dashboards/project/network_topology/tests.py
  openstack_dashboard/dashboards/project/network_topology/utils.py
  openstack_dashboard/dashboards/project/networks/ports/tables.py
  openstack_dashboard/dashboards/project/networks/subnets/tables.py
  openstack_dashboard/dashboards/project/networks/tables.py
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/dashboards/project/routers/tables.py
  openstack_dashboard/dashboards/project/routers/tests.py
  openstack_dashboard/dashboards/project/security_groups/tables.py
  openstack_dashboard/dashboards/project/security_groups/tests.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/usage/test_quotas.py
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

quota: Disable nova-network quotas completely
  openstack_dashboard/api/nova.py
  openstack_dashboard/dashboards/admin/defaults/tables.py
  openstack_dashboard/dashboards/admin/defaults/tests.py
  openstack_dashboard/dashboards/admin/defaults/workflows.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/identity/projects/workflows.py
  openstack_dashboard/test/test_data/nova_data.py
  openstack_dashboard/test/unit/usage/test_quotas.py
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

quota: Use neutron quota_details API to retrieve usage
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/project/floating_ips/tests.py
  openstack_dashboard/test/unit/usage/test_quotas.py
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

quota: retrieve quota (limit) and usage at once
  openstack_dashboard/api/cinder.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/dashboards/project/key_pairs/tables.py
  openstack_dashboard/dashboards/project/overview/tests.py
  openstack_dashboard/test/test_data/cinder_data.py
  openstack_dashboard/test/test_data/nova_data.py
  openstack_dashboard/test/unit/api/test_nova.py
  openstack_dashboard/test/unit/usage/test_quotas.py
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Sync glance policy
  openstack_dashboard/conf/glance_policy.json
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add create and import key pair actions
  doc/source/configuration/settings.rst
  horizon/static/framework/widgets/action-list/actions-batch.template.html
  horizon/static/framework/widgets/action-list/actions-row.template.html
  horizon/static/framework/widgets/action-list/actions.service.js
  horizon/static/framework/widgets/load-edit/load-edit.directive.js
  openstack_dashboard/settings.py
  openstack_dashboard/static/app/core/keypairs/_keypairs.scss
  openstack_dashboard/static/app/core/keypairs/actions/actions.module.js
  openstack_dashboard/static/app/core/keypairs/actions/create.description.html
  openstack_dashboard/static/app/core/keypairs/actions/create.service.js
  openstack_dashboard/static/app/core/keypairs/actions/create.service.spec.js
  openstack_dashboard/static/app/core/keypairs/actions/import.description.html
  openstack_dashboard/static/app/core/keypairs/actions/import.public-key.controller.js
  openstack_dashboard/static/app/core/keypairs/actions/import.public-key.controller.spec.js
  openstack_dashboard/static/app/core/keypairs/actions/import.public-key.html
  openstack_dashboard/static/app/core/keypairs/actions/import.service.js
  openstack_dashboard/static/app/core/keypairs/actions/import.service.spec.js
  releasenotes/notes/bp-ng-keypairs-876c38a1a8aed60f.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ko_KR/LC_MESSAGES/djangojs.po
  horizon/locale/zh_CN/LC_MESSAGES/django.po
  horizon/locale/zh_CN/LC_MESSAGES/djangojs.po
  openstack_auth/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ar/LC_MESSAGES/django.po
  horizon/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Refactor swap_filter in instance views
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/dashboards/project/instances/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Do not make duplicate requests to Glance for image names in admin panel
  openstack_dashboard/dashboards/admin/instances/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin
