Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-python3-django111:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py3-dj111
  required-projects:
  - name: openstack/horizon

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-integration-tests:
  parent: devstack
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  vars:
    devstack_services:
      horizon: true
    tox_envlist: integration

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
      USE_PYTHON3: true
    devstack_services:
  ...

horizon-dsvm-tempest-plugin-py27:
  parent: horizon-dsvm-tempest-plugin
  vars:
    devstack_localrc:
      USE_PYTHON3: false

Modify the regex for name on import public key form
  openstack_dashboard/static/app/core/keypairs/actions/import.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: horizon-integration-tests

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: horizon-integration-tests

Complete angular translation extract pattern
  horizon/test/unit/utils/test_babel_extract_angular.py
  horizon/utils/babel_extract_angular.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
Due: horizon-integration-tests

Marking CIDR as mandatory field on Add rule form in security_group panel
  openstack_dashboard/dashboards/project/security_groups/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Incoming tenant id when creating a subnet on create network form
  openstack_dashboard/dashboards/admin/networks/tests.py
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/dashboards/project/networks/workflows.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix typo: disassocaite -> disassociate
  openstack_dashboard/dashboards/project/instances/templates/instances/_disassociate.html
  openstack_dashboard/dashboards/project/instances/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Remove token object from credentials
  openstack_auth/policy.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Set min version of python-cinderclient to 4.0.0
  lower-constraints.txt
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Correct error messages of Create Extra Spec Form under Volume Type Panel
  openstack_dashboard/dashboards/admin/volume_types/extras/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Change Cinder API version in the documentation
  doc/source/configuration/settings.rst
  doc/source/install/install-debian.rst
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Translate instance action of lock and unlock and create image
  openstack_dashboard/dashboards/project/instances/audit_tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add missing ws separator between words
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Drop nodejs4 job
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Disable textbox on create image form when submitting
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Adjusts subnet_free_ips to 0 when it is negative
  openstack_dashboard/dashboards/admin/networks/subnets/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

OpenDev Migration Patch
  .gitreview
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  openstack_auth/locale/de/LC_MESSAGES/django.po
  openstack_auth/locale/en_GB/LC_MESSAGES/django.po
  openstack_auth/locale/eo/LC_MESSAGES/django.po
  openstack_auth/locale/es/LC_MESSAGES/django.po
  openstack_auth/locale/fr/LC_MESSAGES/django.po
  openstack_auth/locale/id/LC_MESSAGES/django.po
  openstack_auth/locale/ja/LC_MESSAGES/django.po
  openstack_auth/locale/ko_KR/LC_MESSAGES/django.po
  openstack_auth/locale/pt_BR/LC_MESSAGES/django.po
  openstack_auth/locale/ru/LC_MESSAGES/django.po
  openstack_auth/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
Due: horizon-integration-tests

Periodically check item status if it in transition state
  horizon/static/framework/widgets/table/hz-resource-table.controller.js
  horizon/static/framework/widgets/table/hz-resource-table.controller.spec.js
  openstack_dashboard/api/rest/config.py
  openstack_dashboard/static/app/core/images/images.service.js
  openstack_dashboard/static/app/core/images/images.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Display the error message on create volume group form
  horizon/templates/horizon/common/_workflow_step_update_members.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Application Credentials: Set unrestricted Default to False
  openstack_dashboard/dashboards/identity/application_credentials/forms.py
  openstack_dashboard/dashboards/identity/application_credentials/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Define default settings explicitly (openstack_dashboard 2/5)
  openstack_dashboard/dashboards/admin/flavors/tests.py
  openstack_dashboard/dashboards/admin/floating_ips/panel.py
  openstack_dashboard/dashboards/admin/images/views.py
  openstack_dashboard/dashboards/admin/info/tables.py
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/dashboards/admin/networks/forms.py
  openstack_dashboard/dashboards/admin/networks/views.py
  openstack_dashboard/dashboards/admin/overview/views.py
  openstack_dashboard/dashboards/admin/rbac_policies/panel.py
  openstack_dashboard/dashboards/admin/routers/panel.py
  openstack_dashboard/dashboards/admin/routers/views.py
  openstack_dashboard/dashboards/admin/volumes/views.py
  openstack_dashboard/dashboards/identity/application_credentials/views.py
  openstack_dashboard/dashboards/identity/groups/views.py
  openstack_dashboard/dashboards/identity/projects/views.py
  openstack_dashboard/dashboards/identity/roles/views.py
  openstack_dashboard/dashboards/identity/users/views.py
  openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Define default settings explicitly (openstack_dashboard 1/5)
  openstack_dashboard/api/_nova.py
  openstack_dashboard/api/base.py
  openstack_dashboard/api/cinder.py
  openstack_dashboard/api/glance.py
  openstack_dashboard/api/keystone.py
  openstack_dashboard/api/neutron.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/api/rest/config.py
  openstack_dashboard/api/rest/keystone.py
  openstack_dashboard/api/swift.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/settings.py
  openstack_dashboard/test/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Replace git.openstack.org URLs with opendev.org URLs
  doc/source/configuration/settings.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/quickstart.rst
  doc/source/contributor/ref/local_conf.rst
  doc/source/contributor/testing.rst
  doc/source/install/from-source.rst
  horizon/static/horizon/js/horizon.selenium.js
  openstack_dashboard/api/neutron.py
  openstack_dashboard/api/rest/glance.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/static/app/core/trunks/steps/trunk-details.controller.js
  openstack_dashboard/test/helpers.py
  releasenotes/notes/deprecate-lbaas-v1-dashboard-1f9c48d7c6997b1f.yaml
  releasenotes/notes/drop-LBaaS-v1-dashboard-d767b0bde5274af5.yaml
  releasenotes/notes/vpnaas-panel-splitout-5783df1675bc984f.yaml
  tools/abandon_old_reviews.sh
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Translate status of volume group
  openstack_dashboard/dashboards/project/volume_groups/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  openstack_auth/locale/zh_CN/LC_MESSAGES/django.po
Due: horizon-integration-tests

Allow deletion of description information when editing a volume group
  openstack_dashboard/dashboards/project/volume_groups/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Correctly set content-type for workflow response
  horizon/forms/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Correct error messages on create rbac policy form
  openstack_dashboard/dashboards/admin/rbac_policies/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Document the plan of ini-based-configuration
  doc/source/contributor/topics/index.rst
  doc/source/contributor/topics/ini-based-configuration.rst
Due: none

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-python3-django111: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
  horizon-dsvm-tempest-plugin-py27: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
