Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$
      - ^openstack_auth/locale/.*$

- job:
    name: horizon-openstack-tox-python3-django111
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py3-dj111
    required-projects:
      - name: openstack/horizon

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    pre-run: playbooks/horizon-selenium-headless/pre.yaml
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$
      - ^openstack_auth/locale/.*$
      # Test codes are not related to tempest tests
      # as tempest is defined in a separete repository
      - ^horizon/test/.*$
      - ^openstack_auth/tests/.*$
      - ^openstack_dashboard/test/.*$
      - ^openstack_dashboard/dashboards/.*/tests.py$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "'{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'"
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_envlist: all

- job:
    # Security testing for known issues
    name: horizon-tox-bandit-baseline
    parent: openstack-tox
    timeout: 2400
    vars:
      tox_envlist: bandit-baseline
    irrelevant-files:
      - ^.*\.rst$
      - ^.*\locale/.*$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$

- project:
    templates:
      - openstack-python-jobs
      - openstack-python35-jobs
      - publish-openstack-sphinx-docs
      - periodic-stable-jobs
      - check-requirements
      - release-notes-jobs
      - nodejs4-jobs
    check:
      jobs:
        - horizon-openstack-tox-python3-django111
        - horizon-selenium-headless:
            voting: false
        - horizon-dsvm-tempest-plugin
        - openstack-tox-lower-constraints
        - horizon-tox-bandit-baseline:
            voting: false
    gate:
      queue: horizon
      jobs:
        - horizon-openstack-tox-python3-django111
        - horizon-dsvm-tempest-plugin
        - openstack-tox-lower-constraints

Switch to new javascript jobs
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix hacking min version to 3.0.1
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix tempest and pep8 tests
  .zuul.yaml
  openstack_dashboard/api/cinder.py
  openstack_dashboard/settings.py
  openstack_dashboard/test/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix display of application credential roles
  openstack_dashboard/dashboards/identity/application_credentials/tables.py
  openstack_dashboard/dashboards/identity/application_credentials/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Gate fix: use tempest-horizon 0.2.0 explicitly
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix template lookup errors on the login page
  openstack_auth/forms.py
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix instances integration tests
  openstack_dashboard/test/integration_tests/pages/admin/compute/instancespage.py
  openstack_dashboard/test/integration_tests/pages/project/compute/instancespage.py
  openstack_dashboard/test/integration_tests/regions/forms.py
  openstack_dashboard/test/integration_tests/regions/menus.py
  openstack_dashboard/test/integration_tests/regions/tables.py
  openstack_dashboard/test/integration_tests/tests/test_instances.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless

Fix "Edit Port Security Groups" tab on Horizon
  openstack_dashboard/dashboards/project/instances/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Removed unused import
  openstack_dashboard/urls.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

remove hardcoded test_reports dir
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/helpers.py
  openstack_dashboard/test/integration_tests/horizon.conf
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless

Remove ceilometer from osprofile backend
  doc/source/configuration/settings.rst
  openstack_dashboard/contrib/developer/profiler/api.py
  openstack_dashboard/contrib/developer/profiler/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix published docs
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Fix session.domain_context_name existence check
  horizon/templates/horizon/common/_domain_page_header.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Update cirros image to cirros-0.5.1-x86_64
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless

Add pages menu to volume backups pagination
  horizon/tables/__init__.py
  horizon/tables/views.py
  horizon/templates/horizon/common/_data_table.html
  horizon/templates/horizon/common/_data_table_pagination_with_pages.html
  horizon/templatetags/form_helpers.py
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/project/backups/tables.py
  openstack_dashboard/dashboards/project/backups/tests.py
  openstack_dashboard/dashboards/project/backups/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Default keystone endpoint type is hard coded
  openstack_dashboard/api/keystone.py
  openstack_dashboard/test/unit/api/test_keystone.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Stop to use the __future__ module.
  doc/source/conf.py
  horizon/templatetags/bootstrap.py
  horizon/templatetags/horizon.py
  horizon/utils/csvbase.py
  openstack_dashboard/api/cinder.py
  openstack_dashboard/api/glance.py
  openstack_dashboard/api/neutron.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/management/commands/make_web_conf.py
  openstack_dashboard/management/commands/migrate_settings.py
  openstack_dashboard/management/commands/upgrade_check.py
  openstack_dashboard/templatetags/context_selection.py
  openstack_dashboard/templatetags/themes.py
  openstack_dashboard/test/unit/api/test_base.py
  openstack_dashboard/test/unit/api/test_keystone.py
  openstack_dashboard/test/unit/api/test_nova.py
  openstack_dashboard/test/unit/api/test_swift.py
  openstack_dashboard/test/unit/usage/test_quotas.py
  openstack_dashboard/usage/base.py
  tools/policy-diff.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-install.po
Due: none

Incoming tenant id when creating a subnet on create network form
  openstack_dashboard/dashboards/admin/networks/tests.py
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/dashboards/project/networks/workflows.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update MANIFEST for dashboard config
  MANIFEST.in
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/en_GB/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Added Bootstrap in HTML to make page Responsive
  horizon/static/framework/widgets/metadata/tree/metadata-tree.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix django-compress caching issues
  horizon/cache.py
  horizon/templatetags/angular.py
  openstack_dashboard/management/commands/cleanup_angular_template_cache.py
  releasenotes/notes/cleanup-cache-command-64a5020755c5e05c.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
Due: none

Fix horizon-nodejs10-run jobs
  .zuul.yaml
  playbooks/horizon-nodejs/pre.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/eo/LC_MESSAGES/doc.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix horizon-nodejs jobs
  .zuul.yaml
  playbooks/horizon-nodejs/pre.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/eo/LC_MESSAGES/doc.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
Due: none

zuul: break down config files into pieces
  .zuul.d/base.yaml
  .zuul.d/django-jobs.yaml
  .zuul.d/nodejs-jobs.yaml
  .zuul.d/project.yaml
  .zuul.d/tempest-and-integrated.yaml
  .zuul.d/xstatic-master.yaml
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update plugin registry
  plugin-registry.csv
  tools/list-horizon-plugins.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Define periodic jobs
  .zuul.d/project.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-dsvm-tempest-plugin
