Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$

- job:
    name: horizon-openstack-tox-py27dj18
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj18

- job:
    name: horizon-openstack-tox-py27dj19
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj19

- job:
    name: horizon-openstack-tox-py27dj110
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj110

- job:
    name: horizon-openstack-tox-py35dj20
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py35dj20

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "'{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'"
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_venvlist: all

- project:
    name: openstack/horizon
    check:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-openstack-tox-py35dj20:
            voting: false
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin
    gate:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin

fix an issue with nova extension support checking
  openstack_dashboard/api/nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Remove "Change Password" from users table for non-admin users
  openstack_dashboard/dashboards/identity/users/tables.py
  releasenotes/notes/remove-change-pw-from-users-table-ef8d45a4a95762e0.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Drop unnecessary LOCALE_PATHS from settings.py
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fixed path after moving wsgi/django.wsgi to wsgi.py
  openstack_dashboard/wsgi.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Updating "Create an Encrypted Volume Type" Picture
  doc/source/admin/figures/create_volume_type_encryption.png
Due: none

Show ports without IP in instance table and detail
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/project/instances/templates/instances/_detail_overview.html
  openstack_dashboard/dashboards/project/instances/templates/instances/_instance_ips.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update geckodriver to version 0.23.0
  roles/setup-selenium-tests/defaults/main.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-user.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-user.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  horizon/locale/ar/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Get rid of keys() usage
  horizon/base.py
  openstack_auth/policy.py
  openstack_dashboard/dashboards/identity/domains/workflows.py
  openstack_dashboard/dashboards/identity/projects/workflows.py
  openstack_dashboard/test/unit/api/test_cinder.py
  openstack_dashboard/test/unit/api/test_nova.py
  openstack_dashboard/utils/config_types.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Fix django.contrib.auth.middleware monkey patching for APITestCase
  openstack_dashboard/test/helpers.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Error should be reported when only a space is entered
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/create.action.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update mailinglist from dev to discuss
  setup.cfg
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Drop pki token check from Token class in openstack_auth
  doc/source/configuration/settings.rst
  openstack_auth/tests/data_v3.py
  openstack_auth/tests/unit/test_user.py
  openstack_auth/user.py
  openstack_dashboard/local/local_settings.py.example
  releasenotes/notes/drop-pki-token-d8bc4d665887aedf.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Get scope token of current project when switch Keystone Provider
  openstack_auth/plugin/k2k.py
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-user.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix precission issue when calculating image size in GB.
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Modify the prompt of update network
  openstack_dashboard/dashboards/project/networks/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

translate instance action of rescue and unrescue
  openstack_dashboard/dashboards/project/instances/audit_tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Instance: show network info even if name is empty
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/project/instances/templates/instances/_detail_overview.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

first checkin of token-based sso login and logout redirect
  horizon/templates/auth/_logout.html
  horizon/templates/auth/_logout_form.html
  horizon/templates/auth/_logout_page.html
  horizon/templates/auth/logout.html
  openstack_dashboard/cc_web_sso_urls.py
  openstack_dashboard/cc_websso_views.py
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Instances column is shortened so it fits properly
  openstack_dashboard/dashboards/admin/instances/tables.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/project/instances/tables.py
  openstack_dashboard/dashboards/project/instances/templates/instances/_detail_overview.html
  openstack_dashboard/dashboards/project/overview/views.py
  openstack_dashboard/usage/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update table header checkbox after searching
  horizon/static/horizon/js/horizon.tables.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/id/LC_MESSAGES/doc-admin.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-user.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
  horizon/locale/zh_CN/LC_MESSAGES/djangojs.po
  openstack_auth/locale/fr/LC_MESSAGES/django.po
  openstack_auth/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix images minimum ram and disk default values
  openstack_dashboard/api/glance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add role assignment tab in the user details view.
  openstack_dashboard/dashboards/identity/users/role_assignments/__init__.py
  openstack_dashboard/dashboards/identity/users/role_assignments/tables.py
  openstack_dashboard/dashboards/identity/users/tabs.py
  openstack_dashboard/dashboards/identity/users/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add group tab in user details view.
  openstack_dashboard/dashboards/identity/users/groups/__init__.py
  openstack_dashboard/dashboards/identity/users/groups/tables.py
  openstack_dashboard/dashboards/identity/users/tabs.py
  openstack_dashboard/dashboards/identity/users/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Displays role assignment through group in user details
  openstack_dashboard/dashboards/identity/users/role_assignments/tables.py
  openstack_dashboard/dashboards/identity/users/tabs.py
  openstack_dashboard/dashboards/identity/users/tests.py
  releasenotes/notes/bug-1792524-7497aabcf6bc1e81.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Show password expiration date on user detail
  openstack_dashboard/dashboards/identity/users/templates/users/_detail_overview.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Drop TripleO UI from horizon plugin registry
  doc/source/install/plugin-registry.rst
Due: none

Use template for lower-constraints
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Stein deprecation notices on deprecated/remoevd features
  releasenotes/notes/deprecations-in-stein-4090a0b816ba2d81.yaml
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin
