Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-tox-python3-django22:
  parent: horizon-tox-python3-django
  vars:
    django_version: '>=2.2,<3.0'

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-integration-tests:
  parent: devstack
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  vars:
    devstack_services:
      horizon: true
    tox_envlist: integration

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '{{ ansible_user_dir }}/src/opendev.org/openstack/tempest-horizon'
      USE_PYTHON3: true
    devstack_services:
  ...

horizon-tempest-plugin-ipv6:
  parent: devstack-tempest-ipv6
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '{{ ansible_user_dir }}/src/opendev.org/openstack/tempest-horizon'
      USE_PYTHON3: true
    devstack_services:
  ...

horizon-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline

horizon-integration-tests-xstatic-master:
  parent: horizon-integration-tests
  required-projects:
  - openstack/horizon
  - openstack/xstatic-angular
  - openstack/xstatic-angular-bootstrap
  - openstack/xstatic-angular-gettext
  - openstack/xstatic-angular-lrdragndrop
  - openstack/xstatic-angular-smart-table
  - openstack/xstatic-bootstrap-datepicker
  ...

tests: Convert 'OpenStackAuthTestsV3Base' to mock (pt. 1)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-tox-bandit-baseline

tests: Convert 'OpenStackAuthTestsV3Base' to mock (pt. 2)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-tox-bandit-baseline

tests: Convert 'OpenStackAuthTestsV3Base' to mock (pt. 3)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-tox-bandit-baseline

tests: Convert 'OpenStackAuthTestsV3Base' to mock (pt. 4)
  lower-constraints.txt
  openstack_auth/tests/unit/test_auth.py
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Catch AttributeError when deleting temp file on image upload
  openstack_dashboard/api/glance.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Remove unused tools/gate/integration/* files
  tools/gate/integration/devstack_gate_rc
  tools/gate/integration/post_test_hook.sh
  tools/gate/integration/pre_test_hook.sh
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-integration-tests-xstatic-master

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Use pyScss2 and django-pyscss2
  bindep.txt
  lower-constraints.txt
  requirements.txt
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Fix typo in comments
  openstack_dashboard/api/neutron.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Tell reno to ignore the kilo branch
  .gitignore
  reno.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Deprecate legacy way to retrieve neutron usage
  openstack_dashboard/settings.py
  openstack_dashboard/usage/quotas.py
  releasenotes/notes/deprecate-neutron-quota-legacy-144468a1b269cce8.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Set tox_constraints_file for npm jobs and integration tests
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Fix Horizon to work with the latest pyScss
  lower-constraints.txt
  openstack_dashboard/themes/material/static/horizon/_icons.scss
  requirements.txt
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Forwards LOGOUT_URL to templates.
  openstack_dashboard/context_processors.py
  openstack_dashboard/templates/header/_user_menu.html
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Update pyScss to 1.3.7
  bindep.txt
  lower-constraints.txt
  requirements.txt
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Authenticate before Authorization
  horizon/base.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Update pyScss to 1.3.7
  lower-constraints.txt
  releasenotes/notes/pyscss-and-setuptools-7634dcee9d62bde9.yaml
  requirements.txt
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Imported Translations from Zanata
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Bump xstatic-mdi lower-bound
  lower-constraints.txt
  requirements.txt
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Bump hacking to 3.0.0
  lower-constraints.txt
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Change horizon test runner to pytest
  .gitignore
  doc/requirements.txt
  horizon/test/helpers.py
  horizon/test/unit/test_base.py
  lower-constraints.txt
  openstack_auth/tests/unit/test_auth.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/test/helpers.py
  openstack_dashboard/test/integration_tests/helpers.py
  openstack_dashboard/test/integration_tests/tests/test_floatingips.py
  openstack_dashboard/test/integration_tests/tests/test_images.py
  openstack_dashboard/test/integration_tests/tests/test_instances.py
  openstack_dashboard/test/integration_tests/tests/test_keypairs.py
  openstack_dashboard/test/integration_tests/tests/test_projects.py
  openstack_dashboard/test/integration_tests/tests/test_router.py
  openstack_dashboard/test/integration_tests/tests/test_users.py
  openstack_dashboard/test/test_plugins/test_panel.py
  openstack_dashboard/test/test_plugins/test_panel_group.py
  test-requirements.txt
  tools/executable_files.txt
  tools/selenium_tests.sh
  tools/unit_tests.sh
  tox.ini
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Add auth_type to template context for openrc file rendering
  openstack_auth/user.py
  openstack_auth/views.py
  openstack_dashboard/dashboards/project/api_access/views.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Fix video recording for integration tests
  bindep.txt
  openstack_dashboard/test/integration_tests/helpers.py
  openstack_dashboard/test/integration_tests/video_recorder.py
  playbooks/horizon-devstack-integration/run.yaml
  tox.ini
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Support for Keystone password_lock option
  openstack_dashboard/dashboards/identity/users/forms.py
  openstack_dashboard/dashboards/identity/users/tables.py
  openstack_dashboard/dashboards/identity/users/templates/users/_detail_overview.html
  openstack_dashboard/dashboards/identity/users/tests.py
  openstack_dashboard/dashboards/identity/users/views.py
  openstack_dashboard/dashboards/settings/password/forms.py
  openstack_dashboard/dashboards/settings/password/tests.py
  openstack_dashboard/test/test_data/keystone_data.py
  releasenotes/notes/lock-password-d87b63f361d4bdc1.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Fix docs build
  horizon/base.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Implement 'selector-append' sass function
  openstack_dashboard/themes/material/static/horizon/_icons.scss
  openstack_dashboard/themes/material/static/horizon/_styles.scss
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Add support for multiple swift storage policies
  doc/source/configuration/settings.rst
  openstack_dashboard/api/rest/swift.py
  openstack_dashboard/api/swift.py
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/containers.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/containers.controller.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/containers.html
  openstack_dashboard/defaults.py
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.spec.js
  openstack_dashboard/test/unit/api/rest/test_swift.py
  openstack_dashboard/test/unit/api/test_swift.py
  releasenotes/notes/swift-storage-policy-options-308087b16156a2cb.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-tox-bandit-baseline, horizon-integration-tests-xstatic-master

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$
  horizon-tox-python3-django22: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests-xstatic-master: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
