Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$
      - ^openstack_auth/locale/.*$

- job:
    name: horizon-openstack-tox-py27dj18
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj18

- job:
    name: horizon-openstack-tox-py27dj19
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj19

- job:
    name: horizon-openstack-tox-py27dj110
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj110

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
        override-checkout: 0.2.0
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$
      - ^openstack_auth/locale/.*$
      # Test codes are not related to tempest tests
      # as tempest is defined in a separete repository
      - ^horizon/test/.*$
      - ^openstack_auth/tests/.*$
      - ^openstack_dashboard/test/.*$
      - ^openstack_dashboard/dashboards/.*/tests.py$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "{{ ansible_user_dir }}/src/opendev.org/openstack/tempest-horizon"
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_envlist: all

- project:
    templates:
      - openstack-python-jobs
      - openstack-python35-jobs
      - publish-openstack-sphinx-docs
      - periodic-stable-jobs
      - check-requirements
      - release-notes-jobs
      - nodejs4-jobs
    check:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin
    gate:
      queue: horizon
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin

Added Bootstrap and css for responsive page
  horizon/templates/horizon/common/_workflow_step_update_members.html
  openstack_dashboard/static/dashboard/scss/_legacy.scss
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/cs/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/it/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/djangojs.po
Due: none

doc: Update default value of REST_API_REQUIRED_SETTINGS
  doc/source/configuration/settings.rst
Due: none

Make identity tests work
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/delete.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/delete.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/delete.action.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Make filters tests work
  horizon/static/framework/util/filters/filters.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Clarify the plan of OPENSTACK_NOVA_EXTENSIONS_BLACKLIST deprecation
  doc/source/configuration/settings.rst
Due: none

Bump pylint version to support python3.8
  .pylintrc
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix ironic-ui cross job
  .zuul.d/cross-jobs.yaml
  playbooks/cross-jobs/phantomjs-deps.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add cinder-user-facing messages
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/admin/snapshots/tabs.py
  openstack_dashboard/dashboards/admin/volumes/tabs.py
  openstack_dashboard/dashboards/admin/volumes/tests.py
  openstack_dashboard/dashboards/project/snapshots/tables.py
  openstack_dashboard/dashboards/project/snapshots/tabs.py
  openstack_dashboard/dashboards/project/volumes/tables.py
  openstack_dashboard/dashboards/project/volumes/tabs.py
  openstack_dashboard/dashboards/project/volumes/templates/volumes/_detail_overview.html
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/dashboards/project/volumes/views.py
  openstack_dashboard/test/test_data/cinder_data.py
  openstack_dashboard/test/unit/api/test_cinder.py
  releasenotes/notes/cinder-user-facing-messages-92cfd25492616d6d.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Refactor error messages.
  horizon/exceptions.py
  horizon/static/horizon/js/horizon.messages.js
  horizon/templates/horizon/client_side/_alert_message.html
  horizon/templatetags/splitfilter.py
  horizon/test/unit/test_exceptions.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix missing comment in swift storage policy code
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Make getPorts and setBreadcrumb tests work
  horizon/static/framework/util/navigations/navigations.service.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Drop remaining glance v1 related code
  openstack_dashboard/dashboards/project/instances/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless

test: use safer way to override settings
  openstack_dashboard/dashboards/settings/user/tests.py
  openstack_dashboard/test/unit/api/test_base.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix open redirect
  horizon/test/unit/workflows/test_workflows.py
  horizon/workflows/views.py
  releasenotes/notes/bug-cd9099c1ba78d637.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Add allow_delete_snapshot_before_volume config option
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/integration_tests/tests/test_volume_snapshots.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless

Make permissions tests work
  horizon/static/framework/conf/permissions.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Make text download and load groups tests work
  horizon/static/framework/util/file/text-download.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/groups.module.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Set unique identifier for Django messages
  horizon/karma.conf.js
  horizon/static/framework/util/uuid/uuid.js
  horizon/static/horizon/js/horizon.messages.js
  horizon/static/horizon/js/horizon.uuid.js
  horizon/templates/horizon/_messages.html
  horizon/templates/horizon/client_side/_alert_message.html
  openstack_dashboard/templates/horizon/_scripts.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix: Page crashes on instance confirm resize
  openstack_dashboard/dashboards/project/instances/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Show all os-extended-server-attributes
  openstack_dashboard/api/_nova.py
  openstack_dashboard/dashboards/project/instances/templates/instances/_detail_overview.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Unit Test for cinder-user-facing messages
  openstack_dashboard/dashboards/project/snapshots/tests.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/test/test_data/cinder_data.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless

Relnote on disabling stripping leading/trailing spaces in password
  releasenotes/notes/strip-trailing-space-password-856bd5595938a094.yaml
Due: none

Imported Translations from Zanata
  horizon/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Update .gitreview for stable/victoria
  .gitreview
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  .zuul.d/django-jobs.yaml
  .zuul.d/project.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix Jasmine Spec Runner for Django messages patch
  horizon/templates/horizon/jasmine/jasmine.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

pylint: Fix unnecessary-comprehension warning
  .pylintrc
  horizon/templatetags/angular.py
  openstack_auth/backend.py
  openstack_dashboard/api/base.py
  openstack_dashboard/api/rest/glance.py
  openstack_dashboard/api/rest/neutron.py
  openstack_dashboard/api/rest/nova.py
  openstack_dashboard/dashboards/admin/aggregates/tables.py
  openstack_dashboard/dashboards/admin/networks/ports/tables.py
  openstack_dashboard/dashboards/admin/networks/subnets/tables.py
  openstack_dashboard/dashboards/admin/networks/tables.py
  openstack_dashboard/dashboards/project/floating_ips/tables.py
  openstack_dashboard/dashboards/project/instances/tables.py
  openstack_dashboard/dashboards/project/key_pairs/tables.py
  openstack_dashboard/dashboards/project/networks/ports/tables.py
  openstack_dashboard/dashboards/project/networks/subnets/tables.py
  openstack_dashboard/dashboards/project/networks/tables.py
  openstack_dashboard/dashboards/project/routers/tables.py
  openstack_dashboard/dashboards/project/security_groups/tables.py
  openstack_dashboard/dashboards/project/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

pylint: Address no-else-continue/no-else-raise warnings
  .pylintrc
  horizon/base.py
  horizon/tables/views.py
  horizon/workflows/base.py
  openstack_dashboard/dashboards/identity/domains/tables.py
  openstack_dashboard/dashboards/project/images/images/forms.py
  openstack_dashboard/dashboards/project/instances/workflows/create_instance.py
  openstack_dashboard/dashboards/project/vg_snapshots/views.py
  openstack_dashboard/dashboards/project/volume_groups/views.py
  openstack_dashboard/dashboards/project/volumes/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Follow-up on pylint upgrade
  .pylintrc
  horizon/exceptions.py
  horizon/forms/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Add custom SSL CA Cert support for api.cinder.get_microversion
  openstack_dashboard/api/cinder.py
  openstack_dashboard/test/test_data/cinder_data.py
  openstack_dashboard/test/unit/api/test_cinder.py
  releasenotes/notes/cinder-ssl-deployment-e4dcd6fc0027c96a.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
Due: none
