Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$
      - ^openstack_auth/locale/.*$

- job:
    name: horizon-openstack-tox-python3-django111
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py3-dj111
    required-projects:
      - name: openstack/horizon

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    pre-run: playbooks/horizon-selenium-headless/pre.yaml
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-integration-tests
    parent: devstack
    pre-run: playbooks/horizon-devstack-integration/pre.yaml
    run: playbooks/horizon-devstack-integration/run.yaml
    post-run: playbooks/horizon-devstack-integration/post.yaml
    roles:
      - zuul: openstack-infra/devstack
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    vars:
      devstack_services:
        horizon: true
      tox_envlist: py27integration

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$
      - ^openstack_auth/locale/.*$
      # Test codes are not related to tempest tests
      # as tempest is defined in a separete repository
      - ^horizon/test/.*$
      - ^openstack_auth/tests/.*$
      - ^openstack_dashboard/test/.*$
      - ^openstack_dashboard/dashboards/.*/tests.py$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "'{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'"
        USE_PYTHON3: true
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_envlist: all

- job:
    # Security testing for known issues
    name: horizon-tox-bandit-baseline
    parent: openstack-tox
    timeout: 2400
    vars:
      tox_envlist: bandit-baseline
    irrelevant-files:
      - ^.*\.rst$
      - ^.*\locale/.*$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$

- project:
    templates:
      - check-requirements
      - nodejs4-jobs
      - openstack-lower-constraints-jobs
      - openstack-python-jobs
      - openstack-python35-jobs
      - openstack-python36-jobs
      - periodic-stable-jobs
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
    check:
      jobs:
        - horizon-openstack-tox-python3-django111
        - horizon-selenium-headless:
            voting: false
        - horizon-integration-tests:
            voting: false
        - horizon-dsvm-tempest-plugin
        - horizon-tox-bandit-baseline:
            voting: false
    gate:
      queue: horizon
      jobs:
        - horizon-openstack-tox-python3-django111
        - horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Judge if horizon.datatables.qs is undefined
  horizon/static/horizon/js/horizon.tables.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Switch integration tests to run with python3
  .zuul.yaml
  openstack_dashboard/test/integration_tests/helpers.py
  openstack_dashboard/test/integration_tests/pages/navigation.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Add Project Information column in group-snapshot table
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/admin/vg_snapshots/tables.py
  openstack_dashboard/dashboards/admin/vg_snapshots/templates/vg_snapshots/_detail_overview.html
  openstack_dashboard/dashboards/admin/vg_snapshots/tests.py
  openstack_dashboard/dashboards/admin/vg_snapshots/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Updating Note to Setup guide
  doc/source/contributor/quickstart.rst
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Add python-memcached library to test-requirements.txt
  lower-constraints.txt
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Use correct cinder API version for tenant_absolute_limits
  openstack_dashboard/api/cinder.py
  openstack_dashboard/api/microversions.py
  openstack_dashboard/test/unit/api/test_cinder.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Correcting the error messages of Volume Snapshot Table
  openstack_dashboard/dashboards/admin/snapshots/tables.py
  openstack_dashboard/dashboards/admin/snapshots/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Don't use check_for_language in the user settings form
  openstack_dashboard/dashboards/settings/user/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Fixes double loading in Image source loading
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Ensure to call patch_middleware_get_user() in api.test_base
  openstack_dashboard/test/unit/api/test_base.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

NaNJSONEncoder should be used in api "cinder/tenantabsolutelimits"
  openstack_dashboard/api/rest/cinder.py
  openstack_dashboard/test/api_tests/cinder_rest_tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Display first volume image_metadata as an instance image
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Show flavor tooltip on mouse hover
  openstack_dashboard/dashboards/project/instances/templates/instances/_instance_flavor.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

add the 'word-wrap' to update metadata form
  horizon/static/framework/widgets/metadata/tree/metadata-tree.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Implement CSRF_COOKIE_HTTPONLY option support
  openstack_dashboard/static/app/app.module.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Modify the success message of 'Edit' user information
  openstack_dashboard/dashboards/identity/users/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Support setting more visibility options for edit/create image
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.controller.js
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.controller.spec.js
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.html
  openstack_dashboard/static/app/core/images/steps/edit-image/edit-image.controller.js
  openstack_dashboard/static/app/core/images/steps/edit-image/edit-image.controller.spec.js
  openstack_dashboard/static/app/core/images/steps/edit-image/edit-image.html
  openstack_dashboard/static/app/core/openstack-service-api/glance.service.js
  releasenotes/notes/change-default-image-visibility-560c3b6ab2830cdc.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
Due: horizon-integration-tests

Add key_type selection on Keypairs form
  openstack_dashboard/api/microversions.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/api/rest/nova.py
  openstack_dashboard/dashboards/project/key_pairs/forms.py
  openstack_dashboard/dashboards/project/key_pairs/tables.py
  openstack_dashboard/dashboards/project/key_pairs/tests.py
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/keypair/create-keypair.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/keypair/create-keypair.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/keypair/import-keypair.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/keypair/import-keypair.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/keypair/keypair.controller.js
  openstack_dashboard/static/app/core/keypairs/actions/create.key-type.controller.js
  openstack_dashboard/static/app/core/keypairs/actions/create.key-type.html
  openstack_dashboard/static/app/core/keypairs/actions/create.service.js
  openstack_dashboard/static/app/core/keypairs/actions/import.public-key.controller.spec.js
  openstack_dashboard/static/app/core/keypairs/actions/import.public-key.html
  openstack_dashboard/static/app/core/keypairs/actions/import.service.js
  openstack_dashboard/static/app/core/keypairs/keypairs.module.js
  openstack_dashboard/test/unit/api/rest/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Define a project-template for horizon plugins
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Add verification of the volume type
  openstack_dashboard/dashboards/project/volumes/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Make domain_lookup return consistent type
  openstack_dashboard/api/keystone.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Setup project-template for nodejs10 jobs
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
Due: horizon-integration-tests

Add py36 and py37 tox envs
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
Due: horizon-integration-tests

Add Group and Group Snapshot colunm
  openstack_dashboard/dashboards/admin/snapshots/tables.py
  openstack_dashboard/dashboards/admin/snapshots/views.py
  openstack_dashboard/dashboards/admin/volumes/tables.py
  openstack_dashboard/dashboards/admin/volumes/tabs.py
  openstack_dashboard/dashboards/admin/volumes/templates/volumes/_detail_overview.html
  openstack_dashboard/dashboards/admin/volumes/views.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/dashboards/project/volumes/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Fix CSRF error on Images dashboard
  horizon/browsers/views.py
  openstack_dashboard/templates/angular.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Add Validation msg in Create Extra Spec Form under Volume Type Panel
  openstack_dashboard/dashboards/admin/volume_types/extras/forms.py
  openstack_dashboard/dashboards/admin/volume_types/extras/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
Due: horizon-integration-tests

Fix: Help text for creating group type has incorrect description
  openstack_dashboard/dashboards/admin/group_types/templates/group_types/_create_group_type.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Modify the success message of launch instance
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
Due: horizon-integration-tests

network topology: handle port AZ correctly
  openstack_dashboard/static/js/horizon.networktopology.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin

Update .gitreview for stable/stein
  .gitreview
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin
