Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$
      - ^openstack_auth/locale/.*$

- job:
    name: horizon-openstack-tox-py27dj18
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj18

- job:
    name: horizon-openstack-tox-py27dj19
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj19

- job:
    name: horizon-openstack-tox-py27dj110
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj110

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
        override-checkout: 0.2.0
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$
      - ^openstack_auth/locale/.*$
      # Test codes are not related to tempest tests
      # as tempest is defined in a separete repository
      - ^horizon/test/.*$
      - ^openstack_auth/tests/.*$
      - ^openstack_dashboard/test/.*$
      - ^openstack_dashboard/dashboards/.*/tests.py$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "{{ ansible_user_dir }}/src/opendev.org/openstack/tempest-horizon"
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_envlist: all

- project:
    templates:
      - openstack-python-jobs
      - openstack-python35-jobs
      - publish-openstack-sphinx-docs
      - periodic-stable-jobs
      - check-requirements
      - release-notes-jobs
      - nodejs4-jobs
    check:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin
    gate:
      queue: horizon
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin

Update docs for Ubuntu 20.04
  doc/source/contributor/quickstart.rst
  doc/source/contributor/testing.rst
  doc/source/install/from-source.rst
Due: none

Fix create/update_port with python3
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix AttributeError in the project instance detail view
  openstack_dashboard/api/_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

doc: Drop old Django information
  doc/source/install/system-requirements.rst
Due: none

Add integration-test for Volume Group Type
  openstack_dashboard/test/integration_tests/pages/admin/volume/grouptypespage.py
  openstack_dashboard/test/integration_tests/pages/navigation.py
  openstack_dashboard/test/integration_tests/tests/test_grouptypes.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless

Add default index URL to Server Groups module
  openstack_dashboard/static/app/core/server_groups/server-groups.module.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Remove retired qinling-dashbaord usage
  plugin-registry.csv
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Remove retired searchlight-ui usage
  plugin-registry.csv
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Avoid malformed HTML warning from jquery-migrate
  openstack_dashboard/templates/header/_header_sections.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

[Cleanup] Remove unused attributes
  openstack_dashboard/test/integration_tests/pages/navigation.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless

Add try/except block for some nova and neutron api calls
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add WEBROOT to ngdetails navigation
  horizon/static/framework/util/navigations/navigations.service.js
  horizon/static/framework/util/navigations/navigations.service.spec.js
  horizon/static/framework/widgets/details/routed-details-view.controller.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Remove depretaced django.wsgi
  openstack_dashboard/wsgi/django.wsgi
  releasenotes/notes/drop-django-wsgi-a6a1ae2df4e05118.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

[cleanup] Remove unused file refernce from .gitignore file
  .gitignore
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix open redirect
  horizon/test/unit/workflows/test_workflows.py
  horizon/workflows/views.py
  releasenotes/notes/bug-cd9099c1ba78d637.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Document bug triaging process
  doc/source/contributor/policies/horizon-bugs.rst
  doc/source/contributor/policies/index.rst
Due: none

Cap bandit for python 2.7 env
  doc/requirements.txt
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update lower constraints and change browser to Firefox to unblock gate
  horizon/karma.conf.js
  lower-constraints.txt
  openstack_dashboard/karma.conf.js
  package.json
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Remove retired karbor-dashboard usage
  plugin-registry.csv
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Update ESLint devDependencies in package.json
  .eslintrc
  horizon/static/horizon/js/horizon.d3linechart.js
  horizon/static/horizon/js/horizon.extensible_header.js
  horizon/static/horizon/js/horizon.forms.js
  horizon/static/horizon/js/horizon.heattop.js
  horizon/static/horizon/js/horizon.lists.js
  horizon/static/horizon/js/horizon.membership.js
  horizon/static/horizon/js/horizon.tables.js
  horizon/static/horizon/js/horizon.tabs.js
  openstack_dashboard/static/js/.eslintrc
  package.json
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update devDependencies in package.json
  horizon/karma.conf.js
  horizon/static/framework/conf/resource-type-registry.service.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/karma.conf.js
  package.json
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Add expectations to identity specs
  horizon/karma.conf.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/delete.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/delete.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/delete.action.service.spec.js
  openstack_dashboard/karma.conf.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix horizon-nodejs jobs
  .zuul.yaml
  playbooks/horizon-nodejs/pre.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  openstack_auth/locale/id/LC_MESSAGES/django.po
Due: none

Fix open redirect
  horizon/test/tests/workflows.py
  horizon/workflows/views.py
  releasenotes/notes/bug-cd9099c1ba78d637.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Cap bandit for python 2.7 env
  doc/requirements.txt
  lower-constraints.txt
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_auth/locale/en_GB/LC_MESSAGES/django.po
  openstack_auth/locale/id/LC_MESSAGES/django.po
  openstack_auth/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
Due: none

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Clean up the removed enable_* settings
  doc/source/install/install-debian.rst
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
Due: none
