Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-python3-django111:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py3-dj111
  required-projects:
  - name: openstack/horizon

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-integration-tests:
  parent: devstack
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  vars:
    devstack_services:
      horizon: true
    tox_envlist: integration

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
      USE_PYTHON3: true
    devstack_services:
  ...

horizon-dsvm-tempest-plugin-py27:
  parent: horizon-dsvm-tempest-plugin
  vars:
    devstack_localrc:
      USE_PYTHON3: false

Add Allowed Address Pair/Delete buttons are only visible to admin
  openstack_dashboard/dashboards/admin/networks/ports/tests.py
  openstack_dashboard/dashboards/project/networks/ports/extensions/allowed_address_pairs/tables.py
  openstack_dashboard/dashboards/project/networks/ports/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Wrong list of attached vms are shown in manage volume attachments
  openstack_dashboard/dashboards/project/volumes/tables.py
  openstack_dashboard/dashboards/project/volumes/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Avoid forced logout when 403 error encountered
  horizon/static/framework/framework.module.js
  horizon/static/framework/framework.module.spec.js
  horizon/static/framework/widgets/wizard/wizard.controller.js
  horizon/static/framework/widgets/wizard/wizard.controller.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix skipped integration tests for securitygroup, namespace, usersettings
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/integration_tests/pages/admin/system/metadatadefinitionspage.py
  openstack_dashboard/test/integration_tests/pages/loginpage.py
  openstack_dashboard/test/integration_tests/pages/project/network/securitygroupspage.py
  openstack_dashboard/test/integration_tests/regions/forms.py
  openstack_dashboard/test/integration_tests/tests/test_metadata_definitions.py
  openstack_dashboard/test/integration_tests/tests/test_security_groups.py
  openstack_dashboard/test/integration_tests/tests/test_user_settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Imported Translations from Zanata
  horizon/locale/fi_FI/LC_MESSAGES/django.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Updated max-width to be dynamic for .member class
  openstack_dashboard/static/dashboard/scss/_variables.scss
  openstack_dashboard/static/dashboard/scss/components/_membership.scss
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Handle Permission Denied for policy files
  openstack_auth/policy.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Update .gitreview for stable/train
  .gitreview
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Update TOX/UPPER_CONSTRAINTS_FILE for stable/train
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Update master for stable/train
  releasenotes/source/index.rst
  releasenotes/source/train.rst
Due: none

doc: Move DevStack local.conf to "Topics" section
  doc/source/contributor/ref/horizon.rst
  doc/source/contributor/ref/index.rst
  doc/source/contributor/topics/devstack.rst
  doc/source/contributor/topics/index.rst
Due: none

Allow creating ICMPV6 rules
  openstack_dashboard/dashboards/project/security_groups/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_auth/locale/de/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_auth/locale/de/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
Due: horizon-integration-tests

Imported Translations from Zanata
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  horizon/locale/ja/LC_MESSAGES/django.po
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  openstack_auth/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
Due: horizon-integration-tests

Imported Translations from Zanata
  horizon/locale/ja/LC_MESSAGES/django.po
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  openstack_auth/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Update the list of required packages for Development Environment
  doc/source/contributor/quickstart.rst
Due: none

Remove the check which causes plugin's quotas update failure
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

tox: Move doc8 to docs related envs
  doc/requirements.txt
  lower-constraints.txt
  test-requirements.txt
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Relnote: default values are moved to openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
  releasenotes/notes/default-settings-moved-1e6a60408c47e2e2.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Update `How to run the tests` section
  doc/source/contributor/testing.rst
Due: none

Fix listing security groups when no rules
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/test_neutron.py
  releasenotes/notes/security-group-no-rules-list-bugfix-b77ab5aff1d3e45e.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix router integration tests
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/integration_tests/pages/project/network/networkoverviewpage.py
  openstack_dashboard/test/integration_tests/pages/project/network/routerinterfacespage.py
  openstack_dashboard/test/integration_tests/pages/project/network/routerspage.py
  openstack_dashboard/test/integration_tests/regions/forms.py
  openstack_dashboard/test/integration_tests/tests/test_router.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Imported Translations from Zanata
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  horizon/locale/ja/LC_MESSAGES/djangojs.po
Due: horizon-integration-tests

Imported Translations from Zanata
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
Due: none

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  horizon/locale/eo/LC_MESSAGES/django.po
  horizon/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
Due: horizon-integration-tests

Imported Translations from Zanata
  openstack_auth/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
Due: horizon-integration-tests

Imported Translations from Zanata
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  horizon/locale/eo/LC_MESSAGES/django.po
  horizon/locale/eo/LC_MESSAGES/djangojs.po
  openstack_auth/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Imported Translations from Zanata
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  horizon/locale/ko_KR/LC_MESSAGES/django.po
  openstack_auth/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
Due: horizon-integration-tests

Drop deprecated Glance V1 API support
  openstack_dashboard/api/glance.py
  openstack_dashboard/dashboards/project/images/images/tests.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/test/test_data/glance_data.py
  openstack_dashboard/test/unit/api/rest/test_glance.py
  openstack_dashboard/test/unit/api/test_glance.py
  releasenotes/notes/drop-glance-v1-support-2c161d19b179951e.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-python3-django111: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
  horizon-dsvm-tempest-plugin-py27: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
