Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$

- job:
    name: horizon-openstack-tox-py27dj18
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj18

- job:
    name: horizon-openstack-tox-py27dj19
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj19

- job:
    name: horizon-openstack-tox-py27dj110
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj110

- job:
    name: horizon-openstack-tox-py35dj20
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py35dj20

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "'{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'"
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_venvlist: all

- project:
    name: openstack/horizon
    check:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-openstack-tox-py35dj20:
            voting: false
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin
    gate:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin

Fix the error format of glance's createImage
  openstack_dashboard/static/app/core/openstack-service-api/glance.service.js
  openstack_dashboard/static/app/core/openstack-service-api/glance.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

extract_messages: Specify input directory
  openstack_dashboard/management/commands/extract_messages.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add render method to ThemableCheckboxSelectMultiple
  horizon/forms/fields.py
  openstack_dashboard/dashboards/project/instances/workflows/create_instance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update Ubuntu horizon installation instruction
  doc/source/install/install-ubuntu.rst
Due: none

Make icmp_type/code optional
  openstack_dashboard/dashboards/project/security_groups/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Set default panel of identity with pluggable settings mechanism
  openstack_dashboard/dashboards/identity/dashboard.py
  openstack_dashboard/enabled/_3020_identity_projects_panel.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Show subnet detail with prefix_delegation subnetpool properly
  openstack_dashboard/dashboards/project/networks/subnets/tests.py
  openstack_dashboard/dashboards/project/networks/subnets/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix displayed type for instance snapshots
  openstack_dashboard/static/app/core/images/images.module.js
  openstack_dashboard/static/app/core/images/images.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Better designed 404 error page
  openstack_dashboard/templates/404.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Fix api.keystone.is_cloud_admin/is_domain_admin handling with new policies
  openstack_auth/policy.py
  openstack_auth/tests/conf/no_default_policy.json
  openstack_auth/tests/conf/with_default_policy.json
  openstack_auth/tests/unit/test_policy.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Updated from global requirements
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

font for transfer table heading enlarged
  openstack_dashboard/static/dashboard/scss/components/_transfer_tables.scss
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Security group quota error handling
  openstack_dashboard/api/neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Correctly show no data message in Network Topology
  openstack_dashboard/static/js/horizon.networktopology.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Text clippin in window security groups Fixed text overflow from form by removing limiting max-height media in scss.
  openstack_dashboard/static/dashboard/scss/components/_modals.scss
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add setting for user menu links
  doc/source/configuration/settings.rst
  openstack_dashboard/context_processors.py
  openstack_dashboard/settings.py
  openstack_dashboard/templates/header/_user_menu.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Make serial console resizable
  openstack_dashboard/static/js/angular/directives/serialConsole.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

elif replace if
  openstack_dashboard/api/nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/es/LC_MESSAGES/django.po
  horizon/locale/es/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

doc: Move the note to an appropriate place
  doc/source/user/launch-instances.rst
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/nl_NL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/sr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

operation_log: add QUERY_STRING to request_url
  horizon/middleware/operation_log.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

table: Show checkbox only when there is BatchAction
  horizon/tables/base.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Add note for Django 1.8-1.10 support in relnote and doc
  doc/source/install/from-source.rst
  doc/source/install/index.rst
  doc/source/install/system-requirements.rst
  releasenotes/notes/django-version-queens-b7785b96ecbceaf0.yaml
Due: none

Avoid sending error message twice in BatchAction
  openstack_dashboard/dashboards/admin/networks/agents/tables.py
  openstack_dashboard/dashboards/admin/volume_types/tables.py
  openstack_dashboard/dashboards/project/networks/ports/extensions/allowed_address_pairs/tables.py
  openstack_dashboard/dashboards/project/networks/ports/tables.py
  openstack_dashboard/dashboards/project/routers/ports/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Avoid duplicated message in Batch/DeleteAction
  horizon/tables/actions.py
  horizon/test/unit/tables/test_tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Improve exception message in network related Batch/DeleteAction
  openstack_dashboard/dashboards/admin/networks/subnets/tables.py
  openstack_dashboard/dashboards/admin/networks/tables.py
  openstack_dashboard/dashboards/project/networks/subnets/tables.py
  openstack_dashboard/dashboards/project/networks/tables.py
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/dashboards/project/routers/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Ignore node_modules from test target
  tools/executable_files.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Trunks panel: eliminate spinner at create/edit
  openstack_dashboard/static/app/core/trunks/actions/create.action.service.js
  openstack_dashboard/static/app/core/trunks/actions/create.action.service.spec.js
  openstack_dashboard/static/app/core/trunks/actions/edit.action.service.js
  openstack_dashboard/static/app/core/trunks/actions/edit.action.service.spec.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-details.controller.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-details.controller.spec.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-details.html
  openstack_dashboard/static/app/core/trunks/steps/trunk-parent-port.controller.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-parent-port.controller.spec.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-parent-port.html
  openstack_dashboard/static/app/core/trunks/steps/trunk-subports.controller.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-subports.controller.spec.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-subports.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

comment was wrongly declared
  horizon/forms/fields.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin
