Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: selenium-headless

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
    override-checkout: 0.2.0
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '{{ ansible_user_dir }}/src/opendev.org/openstack/tempest-horizon'
    devstack_services:
  ...

Add plugin cross jobs
  .zuul.d/cross-jobs.yaml
  .zuul.d/project.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update _instance_flavor.html
  openstack_dashboard/dashboards/project/instances/templates/instances/_instance_flavor.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix empty popover-content on mouse over.
  openstack_dashboard/dashboards/project/instances/templates/instances/_instance_flavor.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix tooltips and popovers for flavor details on the instance list.
  openstack_dashboard/dashboards/project/instances/templates/instances/_instance_flavor.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  horizon/locale/de/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix instance integration tests
  openstack_dashboard/test/integration_tests/regions/menus.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  horizon/locale/id/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Add miss comma of "REST_API_REQUIRED_SETTINGS" list
  openstack_dashboard/defaults.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Revert "Add required mark on Create and Update image form"
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.html
  openstack_dashboard/static/app/core/images/steps/edit-image/edit-image.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix horizon-nodejs jobs
  .zuul.yaml
  playbooks/horizon-nodejs/pre.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

doc: Enable parallel build
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

doc: Reorganize contributor doc
  doc/source/contributor/contributing.rst
  doc/source/contributor/index.rst
  doc/source/contributor/policies/core-reviewers.rst
  doc/source/contributor/policies/index.rst
  doc/source/contributor/policies/supported-software.rst
  doc/source/contributor/topics/code-style.rst
  doc/source/contributor/topics/index.rst
  doc/source/contributor/topics/profiling.rst
  doc/source/contributor/topics/release-notes.rst
  doc/source/install/system-requirements.rst
Due: none

[ussuri] [goal] Project PTL and contributor docs
  CONTRIBUTING.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/index.rst
  doc/source/contributor/policies/core-reviewers.rst
Due: none

Fix Angular mediumDateFilter
  horizon/static/framework/util/filters/filters.js
  horizon/static/framework/util/filters/filters.spec.js
  openstack_dashboard/static/app/core/images/images.module.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Cleanup references to Cinder API v1
  openstack_dashboard/api/cinder.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Refactor error messages.
  horizon/exceptions.py
  horizon/static/horizon/js/horizon.messages.js
  horizon/templates/horizon/_messages.html
  horizon/templates/horizon/client_side/_alert_message.html
  horizon/templatetags/splitfilter.py
  horizon/test/unit/test_exceptions.py
  releasenotes/notes/refactor-error-messages-26c53bb3fe57fe72.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Update geckodriver version to v0.27.0.
  roles/setup-selenium-tests/defaults/main.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

[goal] Migrate testing to ubuntu focal
  .zuul.d/nodejs-jobs.yaml
  lower-constraints.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

npm job: Add 'nodejs' bindep profile
  playbooks/horizon-nodejs/pre.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Define periodic jobs
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

pep8: Cap isort version to <5
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Improve integration tests logging
  openstack_dashboard/test/integration_tests/helpers.py
  playbooks/horizon-devstack-integration/post.yaml
  roles/fetch-video-output/README.rst
  roles/fetch-video-output/defaults/main.yaml
  roles/fetch-video-output/tasks/main.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Cleanup for Refactor-error-messages
  openstack_dashboard/dashboards/admin/volume_types/forms.py
  openstack_dashboard/dashboards/identity/application_credentials/forms.py
  openstack_dashboard/dashboards/project/images/snapshots/forms.py
  openstack_dashboard/dashboards/project/instances/forms.py
  openstack_dashboard/dashboards/project/instances/utils.py
  openstack_dashboard/dashboards/project/instances/workflows/update_instance.py
  openstack_dashboard/dashboards/project/networks/subnets/workflows.py
  openstack_dashboard/dashboards/project/networks/workflows.py
  openstack_dashboard/dashboards/project/routers/extensions/extraroutes/forms.py
  openstack_dashboard/dashboards/project/routers/ports/forms.py
  openstack_dashboard/dashboards/project/routers/views.py
  openstack_dashboard/dashboards/project/security_groups/forms.py
  openstack_dashboard/dashboards/settings/password/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add heat-dashboard cross-project tests
  .zuul.d/cross-jobs.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Fix use of ngettext in registry getName
  horizon/static/framework/conf/resource-type-registry.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/domains.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/groups.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/roles.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/users.module.js
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/containers.module.js
  openstack_dashboard/static/app/core/flavors/flavors.module.js
  openstack_dashboard/static/app/core/images/images.module.js
  openstack_dashboard/static/app/core/keypairs/keypairs.module.js
  openstack_dashboard/static/app/core/network_qos/qos.module.js
  openstack_dashboard/static/app/core/server_groups/server-groups.module.js
  openstack_dashboard/static/app/core/trunks/trunks.module.js
  openstack_dashboard/static/app/resources/resources.module.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Support extending in-use volumes
  openstack_dashboard/api/cinder.py
  openstack_dashboard/api/microversions.py
  openstack_dashboard/dashboards/project/volumes/tables.py
  releasenotes/notes/support-extending-in-use-volume-404b29c2cbc6df84.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
