Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

horizon-openstack-tox-py35dj20:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py35dj20

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: selenium-headless

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
    devstack_services:
      horizon: true
  ...

Replace all mentions of get_identity_providers with get_identity_provider
  doc/source/contributor/topics/policy.rst
  openstack_auth/tests/conf/keystone_policy.json
  openstack_auth/tests/conf/policy.v3cloudsample.json
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert identity.projects tests into mock
  openstack_dashboard/dashboards/identity/projects/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Standardize the login form button text
  horizon/templates/auth/_login_form.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add support for application credentials
  lower-constraints.txt
  openstack_dashboard/api/keystone.py
  openstack_dashboard/dashboards/identity/application_credentials/__init__.py
  openstack_dashboard/dashboards/identity/application_credentials/forms.py
  openstack_dashboard/dashboards/identity/application_credentials/panel.py
  openstack_dashboard/dashboards/identity/application_credentials/tables.py
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/_create.html
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/_detail_overview.html
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/_success.html
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/clouds.yaml.template
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/create.html
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/detail.html
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/index.html
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/openrc.sh.template
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/success.html
  openstack_dashboard/dashboards/identity/application_credentials/tests.py
  openstack_dashboard/dashboards/identity/application_credentials/urls.py
  openstack_dashboard/dashboards/identity/application_credentials/views.py
  openstack_dashboard/enabled/_3090_identity_application_credentials_panel.py
  openstack_dashboard/test/settings.py
  openstack_dashboard/test/test_data/keystone_data.py
  releasenotes/notes/bp-application-credentials-26aa907271e467c2.yaml
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/en_GB/LC_MESSAGES/djangojs.po
  horizon/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Bug Fix : Local variable 'quota_display' referenced before assignment
  openstack_dashboard/usage/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Trivial: Update pypi url to new url
  doc/source/contributor/contributing.rst
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

quota: Merge tenant_limit_usages into tenant_quota_usages
  openstack_dashboard/dashboards/project/cg_snapshots/views.py
  openstack_dashboard/dashboards/project/cgroups/templates/cgroups/_snapshot_limits.html
  openstack_dashboard/dashboards/project/cgroups/views.py
  openstack_dashboard/dashboards/project/instances/templates/instances/_flavors_and_quotas.html
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/workflows/create_instance.py
  openstack_dashboard/dashboards/project/snapshots/tests.py
  openstack_dashboard/dashboards/project/volumes/forms.py
  openstack_dashboard/dashboards/project/volumes/templates/volumes/_extend_limits.html
  openstack_dashboard/dashboards/project/volumes/templates/volumes/_limits.html
  openstack_dashboard/dashboards/project/volumes/templates/volumes/_snapshot_limits.html
  openstack_dashboard/dashboards/project/volumes/templates/volumes/_volume_limits.html
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/dashboards/project/volumes/views.py
  openstack_dashboard/test/unit/usage/test_quotas.py
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/es/LC_MESSAGES/django.po
  horizon/locale/es/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ja/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ko_KR/LC_MESSAGES/django.po
  horizon/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Add server groups and server group members quota management in Horizon
  openstack_dashboard/dashboards/admin/defaults/tests.py
  openstack_dashboard/dashboards/admin/defaults/workflows.py
  openstack_dashboard/dashboards/identity/projects/workflows.py
  openstack_dashboard/test/test_data/nova_data.py
  openstack_dashboard/usage/quotas.py
  releasenotes/notes/add-server-groups-quota-management-0c1dc5763a3b893c.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Support "Get me a network" in launch instance
  doc/source/configuration/settings.rst
  openstack_dashboard/api/microversions.py
  openstack_dashboard/api/neutron.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/api/rest/neutron.py
  openstack_dashboard/dashboards/project/instances/utils.py
  openstack_dashboard/dashboards/project/instances/workflows/create_instance.py
  openstack_dashboard/dashboards/project/network_topology/tests.py
  openstack_dashboard/dashboards/project/network_topology/views.py
  openstack_dashboard/dashboards/project/networks/tables.py
  openstack_dashboard/dashboards/project/networks/views.py
  openstack_dashboard/test/unit/api/rest/test_neutron.py
  openstack_dashboard/test/unit/api/test_neutron.py
  openstack_dashboard/test/unit/api/test_nova.py
  releasenotes/notes/get-me-a-network-c979c244fa038258.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

doc: Fix doc build failure due to dropped UpdateAction
  doc/source/contributor/ref/tables.rst
Due: none

fix bug : Lack of dependence python-memcached
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/id/LC_MESSAGES/django.po
  horizon/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Add a link to the documentation into the README.rst
  README.rst
Due: none

Convert admin.networks.subnets tests into mock
  openstack_dashboard/dashboards/admin/networks/subnets/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert admin.overview tests into mock
  openstack_dashboard/dashboards/admin/overview/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert admin.flavors tests into mock
  openstack_dashboard/dashboards/admin/flavors/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert admin.networks.agents tests into mock
  openstack_dashboard/dashboards/admin/networks/agents/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert admin.networks tests into mock
  openstack_dashboard/dashboards/admin/networks/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert admin.networks.ports tests into mock
  openstack_dashboard/dashboards/admin/networks/ports/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Improve mocking in REST API tests (test_glance)
  openstack_dashboard/test/unit/api/rest/test_glance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Allow OVA upload for images
  openstack_dashboard/api/glance.py
  openstack_dashboard/api/rest/glance.py
  openstack_dashboard/dashboards/project/images/images/forms.py
  openstack_dashboard/dashboards/project/images/images/tests.py
  openstack_dashboard/dashboards/project/images/images/views.py
  openstack_dashboard/test/integration_tests/pages/project/compute/imagespage.py
  openstack_dashboard/test/unit/api/test_glance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Create new wsgi.py file and deprecate old file
  .gitignore
  doc/source/admin/customize-configure.rst
  doc/source/install/from-source.rst
  openstack_dashboard/management/commands/make_web_conf.py
  openstack_dashboard/wsgi.py
  releasenotes/notes/deprecation-of-old-wsgi-file-7ffdeae78698ff93.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Add reserved status key word to horizon
  openstack_dashboard/dashboards/admin/volumes/forms.py
  openstack_dashboard/dashboards/project/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

[trivial] Fixes a typo
  openstack_dashboard/api/neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix mismatched attach_volume rule
  openstack_dashboard/dashboards/project/instances/tables.py
  openstack_dashboard/dashboards/project/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Update attach_volume and detach_volume policy rules
  openstack_dashboard/dashboards/project/instances/tables.py
  openstack_dashboard/dashboards/project/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Heat projects have been migrated to Storyboard
  doc/source/install/plugin-registry.rst
Due: none

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py35dj20: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
