Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

horizon-openstack-tox-py35dj20:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py35dj20

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: selenium-headless

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
    devstack_services:
      horizon: true
  ...

[doc] Add the missing editable properties for image
  doc/source/user/manage-images.rst
Due: none

[doc] Modify the content of the configure access and security for instances
  doc/source/user/configure-access-and-security-for-instances.rst
Due: none

tox: run doc8 in pep8
  doc/source/user/log-in.rst
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Remove the redundant codes
  openstack_dashboard/dashboards/identity/domains/tables.py
  openstack_dashboard/dashboards/identity/groups/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Use 'trimmed' for blocktrans in multi-line strings
  openstack_dashboard/dashboards/project/networks/templates/networks/ports/_create.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

[doc] Reorganize the content of horizon Admin tab
  doc/source/user/log-in.rst
Due: none

Upload the latest screenshots
  doc/source/user/figures/dashboard_admin_tab.png
  doc/source/user/figures/dashboard_identity_tab.png
  doc/source/user/figures/dashboard_project_tab.png
  doc/source/user/figures/dashboard_settings_tab.png
Due: none

[doc] Correct the wrong volumes tab
  doc/source/user/manage-volumes.rst
Due: none

[doc] Correct the wrong 'System' tab
  doc/source/admin/manage-volumes.rst
Due: none

Implement create_mocks decorator to make mocks easier
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/test/helpers.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Switch settings password tests to mock
  openstack_dashboard/dashboards/settings/password/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/cs/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/it/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

quota: Move neutron quota logic in identity.projects.views
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/identity/projects/views.py
  openstack_dashboard/test/unit/usage/test_quotas.py
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_auth/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Handle unicode when downloading transfer credentials
  openstack_dashboard/dashboards/project/volumes/templates/volumes/download_transfer_creds.html
  openstack_dashboard/dashboards/project/volumes/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Display policy in server groups table instead of sub table
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/server-groups/server-group-details.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/server-groups/server-groups.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/server-groups/server-groups.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/server-groups/server-groups.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Angular keystone user deletion action
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/delete.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/delete.action.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Edit action for Angular users panel
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/update.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/update.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/workflow/info.update.help.html
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/workflow/workflow.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Trunks panel: simplify code for easier testing
  openstack_dashboard/static/app/core/trunks/actions/create.action.service.js
  openstack_dashboard/static/app/core/trunks/actions/edit.action.service.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-parent-port.controller.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-parent-port.controller.spec.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-subports.controller.js
  openstack_dashboard/static/app/core/trunks/steps/trunk-subports.controller.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Orders the projects and roles in user creation combos
  openstack_dashboard/dashboards/identity/users/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Rename tox_venvlist (1/2)
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Rename tox_venvlist (2/2)
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/en_GB/LC_MESSAGES/djangojs.po
  horizon/locale/eo/LC_MESSAGES/django.po
  horizon/locale/eo/LC_MESSAGES/djangojs.po
  horizon/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/nl_NL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/sr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

usage: split out the limit related logic into ProjectUsageView
  openstack_dashboard/dashboards/admin/aggregates/tests.py
  openstack_dashboard/dashboards/admin/overview/tests.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/project/overview/views.py
  openstack_dashboard/usage/__init__.py
  openstack_dashboard/usage/base.py
  openstack_dashboard/usage/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

quota: Use neutron default quota (read-only) API
  openstack_dashboard/api/neutron.py
  openstack_dashboard/usage/quotas.py
  releasenotes/notes/neutron-default-quotas-ddd237af2935fde3.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

doc: Update project port create
  doc/source/user/create-networks.rst
Due: none

doc: cleanup unnecessary vertical lines
  doc/source/admin/manage-volumes.rst
  doc/source/configuration/customizing.rst
  doc/source/contributor/faq.rst
  doc/source/contributor/topics/packaging.rst
  doc/source/glossary.rst
  horizon/tables/actions.py
  openstack_auth/utils.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

doc: update policy related topics
  doc/source/configuration/settings.rst
  doc/source/contributor/topics/policy.rst
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Make neutron quota names translatable
  openstack_dashboard/dashboards/admin/defaults/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Set PROJECT_DOMAIN_NAME in generated v3 openrc
  openstack_dashboard/dashboards/project/api_access/templates/api_access/openrc.sh.template
  openstack_dashboard/dashboards/project/api_access/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

[doc] Correct the wrong 'System' tab
  doc/source/admin/manage-flavors.rst
  doc/source/admin/manage-host-aggregates.rst
  doc/source/admin/manage-images.rst
  doc/source/admin/manage-instances.rst
Due: none

Imported Translations from Zanata
  openstack_auth/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Change Password Action for Angular users panel
  openstack_dashboard/api/keystone.py
  openstack_dashboard/api/rest/keystone.py
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/password.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/password.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/workflow/error.admin-password-incorrect.html
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/workflow/error.default.html
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/workflow/info.password.help.html
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/workflow/workflow.service.js
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Enable/Disable User action for Angular users panel
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/disable.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/disable.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/enable.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/enable.action.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Updated from global requirements
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Correct quota usage check for instances
  openstack_dashboard/test/tests/quotas.py
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Allow admin to create port on networks of different projects
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/project/networks/ports/forms.py
  openstack_dashboard/dashboards/project/networks/ports/tests.py
  openstack_dashboard/test/api_tests/neutron_tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py35dj20: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
