Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

horizon-openstack-tox-py35dj20:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py35dj20

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: selenium-headless

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
    devstack_services:
      horizon: true
  ...

Show snapshots list correctly when launching instance
  openstack_dashboard/dashboards/project/images/images/tables.py
  openstack_dashboard/dashboards/project/images/tests.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/workflows/create_instance.py
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/test/test_data/glance_data.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Only thorw one prompt when resizing instance error
  openstack_dashboard/dashboards/project/instances/workflows/resize_instance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  horizon/locale/eo/LC_MESSAGES/djangojs.po
  openstack_auth/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Correct the word spell of "corporate firewall"
  releasenotes/notes/add-domain-dropdown-65006187e5605735.yaml
Due: none

Bump hacking to 1.1.0
  horizon/templatetags/shellfilter.py
  horizon/utils/functions.py
  horizon/utils/memoized.py
  horizon/utils/validators.py
  openstack_auth/tests/unit/test_auth.py
  openstack_auth/views.py
  openstack_dashboard/api/neutron.py
  openstack_dashboard/api/rest/utils.py
  openstack_dashboard/dashboards/admin/dashboard.py
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/dashboards/admin/networks/urls.py
  openstack_dashboard/dashboards/identity/identity_providers/urls.py
  openstack_dashboard/dashboards/project/dashboard.py
  openstack_dashboard/dashboards/project/images/images/forms.py
  openstack_dashboard/dashboards/project/networks/urls.py
  openstack_dashboard/management/commands/make_web_conf.py
  openstack_dashboard/test/integration_tests/pages/project/network/floatingipspage.py
  openstack_dashboard/test/unit/api/rest/test_keystone.py
  openstack_dashboard/test/unit/api/test_glance.py
  test-requirements.txt
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Add domain support for specialized test login
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/pages/loginpage.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

fix the bug of checkSpinnerValue
  horizon/static/horizon/js/horizon.forms.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Make table filters valid for every languages
  horizon/tables/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Ignore error msg for gateway IP when gateway is disabled
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/dashboards/project/networks/workflows.py
  openstack_dashboard/test/helpers.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Fix: Inconsistent use of btn-danger
  horizon/static/framework/widgets/modal/simple-modal.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update the HTTP links to HTTPS.
  doc/source/contributor/contributing.rst
  doc/source/install/from-source.rst
  releasenotes/notes/deprecate-lbaas-v1-dashboard-1f9c48d7c6997b1f.yaml
  releasenotes/notes/drop-LBaaS-v1-dashboard-d767b0bde5274af5.yaml
  releasenotes/notes/vpnaas-panel-splitout-5783df1675bc984f.yaml
  releasenotes/source/folsom.rst
Due: none

Make API calls in Volumes view parallel
  openstack_dashboard/dashboards/admin/volumes/views.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/dashboards/project/volumes/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

add the assertWorkflowErrors
  openstack_dashboard/dashboards/admin/networks/tests.py
  openstack_dashboard/dashboards/project/networks/subnets/tests.py
  openstack_dashboard/test/helpers.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Support of rescue instance in Horizon
  openstack_dashboard/api/nova.py
  openstack_dashboard/dashboards/admin/instances/forms.py
  openstack_dashboard/dashboards/admin/instances/tables.py
  openstack_dashboard/dashboards/admin/instances/templates/instances/_rescue.html
  openstack_dashboard/dashboards/admin/instances/templates/instances/rescue.html
  openstack_dashboard/dashboards/admin/instances/urls.py
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/dashboards/project/instances/forms.py
  openstack_dashboard/dashboards/project/instances/tables.py
  openstack_dashboard/dashboards/project/instances/templates/instances/_rescue.html
  openstack_dashboard/dashboards/project/instances/templates/instances/rescue.html
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/urls.py
  openstack_dashboard/dashboards/project/instances/views.py
  releasenotes/notes/bp-support-rescue-instance-a7b8578c395abd3e.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Document Django and Python support policy
  doc/source/install/system-requirements.rst
Due: none

Fix django.contrib.auth.middleware monkey patching
  horizon/test/settings.py
  openstack_auth/middleware.py
  openstack_auth/tests/settings.py
  openstack_auth/tests/urls.py
  openstack_auth/urls.py
  openstack_auth/utils.py
  openstack_dashboard/settings.py
  openstack_dashboard/test/helpers.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix wording for Cinder Volume QoS Create Extra Specs
  openstack_dashboard/dashboards/admin/volume_types/templates/volume_types/qos_specs/_create.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Ensures proper network name in subnet error message
  openstack_dashboard/dashboards/admin/networks/subnets/tests.py
  openstack_dashboard/dashboards/admin/networks/subnets/workflows.py
  openstack_dashboard/dashboards/project/networks/subnets/tests.py
  openstack_dashboard/dashboards/project/networks/subnets/views.py
  openstack_dashboard/dashboards/project/networks/subnets/workflows.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix bug of updating metadata for images
  openstack_dashboard/api/rest/glance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
Due: none

Instance Action Log miss-translate some actions
  openstack_dashboard/dashboards/project/instances/audit_tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix: Help text for encrypted volume type has incorrect description
  openstack_dashboard/dashboards/admin/volume_types/templates/volume_types/_create_volume_type_encryption.html
  openstack_dashboard/dashboards/admin/volume_types/templates/volume_types/_update_volume_type_encryption.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Make update status dialog less confusing
  openstack_dashboard/dashboards/admin/snapshots/forms.py
  openstack_dashboard/dashboards/admin/snapshots/tests.py
  openstack_dashboard/dashboards/admin/volumes/forms.py
  openstack_dashboard/dashboards/admin/volumes/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

When creating a role, check if the role already exists
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/create.action.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix bug about snapshot pagination
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/admin/snapshots/views.py
  openstack_dashboard/dashboards/project/volumes/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update link addresses in documents
  doc/source/admin/manage-volumes.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/topics/angularjs.rst
  doc/source/contributor/topics/javascript_testing.rst
  doc/source/contributor/topics/packaging.rst
  doc/source/install/from-source.rst
Due: none

Check if the alert box has a sibling element, delete its parent if it doesn't exist
  horizon/static/horizon/js/horizon.modals.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

[doc]Fix: Modify content of configure access and security for instance
  doc/source/user/configure-access-and-security-for-instances.rst
Due: none

Remove "Change Password" from users table for non-admin users
  openstack_dashboard/dashboards/identity/users/tables.py
  releasenotes/notes/remove-change-pw-from-users-table-ef8d45a4a95762e0.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Modify the prompt of create routes and update routes.
  openstack_dashboard/dashboards/project/routers/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py35dj20: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
