Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-python3-django111: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
  horizon-dsvm-tempest-plugin-py27: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$

Fix quoting in zuul for tempest plugins
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Bump the openstackdocstheme extension to 1.20
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Define default settings explicitly (openstack_dashboard 3/5)
  openstack_dashboard/dashboards/project/api_access/views.py
  openstack_dashboard/dashboards/project/floating_ips/panel.py
  openstack_dashboard/dashboards/project/images/images/forms.py
  openstack_dashboard/dashboards/project/images/images/tables.py
  openstack_dashboard/dashboards/project/images/images/tabs.py
  openstack_dashboard/dashboards/project/images/images/views.py
  openstack_dashboard/dashboards/project/instances/tables.py
  openstack_dashboard/dashboards/project/instances/tabs.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/utils.py
  openstack_dashboard/dashboards/project/instances/views.py
  openstack_dashboard/dashboards/project/network_topology/utils.py
  openstack_dashboard/dashboards/project/network_topology/views.py
  openstack_dashboard/dashboards/project/networks/ports/workflows.py
  openstack_dashboard/dashboards/project/networks/views.py
  openstack_dashboard/dashboards/project/networks/workflows.py
  openstack_dashboard/dashboards/project/routers/panel.py
  openstack_dashboard/dashboards/project/security_groups/forms.py
  openstack_dashboard/dashboards/project/security_groups/tables.py
  openstack_dashboard/dashboards/project/snapshots/tables.py
  openstack_dashboard/dashboards/project/volumes/forms.py
  openstack_dashboard/dashboards/project/volumes/tables.py
  openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/settings.py
  openstack_dashboard/test/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add the unit test for network_qos
  openstack_dashboard/static/app/core/network_qos/details/details.module.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Define default settings explicitly (openstack_dashboard 4/5)
  openstack_dashboard/dashboards/identity/domains/tables.py
  openstack_dashboard/dashboards/identity/domains/workflows.py
  openstack_dashboard/dashboards/identity/projects/tabs.py
  openstack_dashboard/dashboards/identity/projects/views.py
  openstack_dashboard/dashboards/identity/projects/workflows.py
  openstack_dashboard/dashboards/identity/users/forms.py
  openstack_dashboard/dashboards/identity/users/tabs.py
  openstack_dashboard/dashboards/identity/users/views.py
  openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add the unit test for keypairs
  openstack_dashboard/static/app/core/keypairs/actions/actions.module.spec.js
  openstack_dashboard/static/app/core/keypairs/actions/create.key-type.controller.spec.js
  openstack_dashboard/static/app/core/keypairs/details/details.module.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-admin.po
  doc/source/locale/eo/LC_MESSAGES/doc-admin.po
  doc/source/locale/fi_FI/LC_MESSAGES/doc-admin.po
  doc/source/locale/ja/LC_MESSAGES/doc.po
  doc/source/locale/ru/LC_MESSAGES/doc-admin.po
  openstack_auth/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
Due: horizon-integration-tests

Fix image description field
  openstack_dashboard/static/app/core/images/actions/edit.action.service.js
  openstack_dashboard/static/app/core/images/actions/edit.action.service.spec.js
  releasenotes/notes/image-description-3fc00c02f46a80c7.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Define default settings explicitly (openstack_dashboard 5/5)
  horizon/views.py
  openstack_dashboard/context_processors.py
  openstack_dashboard/contrib/developer/dashboard.py
  openstack_dashboard/contrib/developer/profiler/api.py
  openstack_dashboard/contrib/developer/profiler/middleware.py
  openstack_dashboard/contrib/developer/profiler/panel.py
  openstack_dashboard/dashboards/settings/user/forms.py
  openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/settings.py
  openstack_dashboard/templatetags/context_selection.py
  openstack_dashboard/test/helpers.py
  openstack_dashboard/test/settings.py
  openstack_dashboard/test/unit/api/test_glance.py
  openstack_dashboard/test/unit/api/test_nova.py
  openstack_dashboard/urls.py
  openstack_dashboard/usage/base.py
  openstack_dashboard/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Preserve form field order in python 3
  horizon/forms/fields.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
Due: horizon-integration-tests

Use the python real executable
  .pylintrc
  openstack_dashboard/management/commands/horizon.wsgi.template
  openstack_dashboard/management/commands/make_web_conf.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Avoid using nova volume test data for cinder API mocking
  openstack_dashboard/dashboards/admin/volumes/tests.py
  openstack_dashboard/dashboards/project/backups/tests.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/test/test_data/cinder_data.py
  openstack_dashboard/test/test_data/nova_data.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Switch from django string_concat to format_lazy
  openstack_dashboard/dashboards/admin/overview/views.py
  openstack_dashboard/dashboards/project/floating_ips/tables.py
  openstack_dashboard/dashboards/project/instances/tables.py
  openstack_dashboard/dashboards/project/key_pairs/tables.py
  openstack_dashboard/dashboards/project/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Update api-ref location
  openstack_dashboard/api/rest/neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  horizon/locale/fi_FI/LC_MESSAGES/django.po
Due: horizon-integration-tests

Add exception message when user Encrypt an 'Volume Type' in Use
  openstack_dashboard/dashboards/admin/volume_types/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Allow creating ICMPV6 rules
  openstack_dashboard/dashboards/project/security_groups/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Define new 'horizon-tempest-plugin-ipv6' job in gate
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add non-voting job with Python 3 + Django 2.2
  .zuul.yaml
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Enable volume snapshot backups
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/project/backups/forms.py
  openstack_dashboard/dashboards/project/backups/tables.py
  openstack_dashboard/dashboards/project/backups/tabs.py
  openstack_dashboard/dashboards/project/backups/templates/backups/_create_backup.html
  openstack_dashboard/dashboards/project/backups/templates/backups/_detail_overview.html
  openstack_dashboard/dashboards/project/backups/templates/backups/create_backup.html
  openstack_dashboard/dashboards/project/backups/tests.py
  openstack_dashboard/dashboards/project/backups/views.py
  openstack_dashboard/dashboards/project/snapshots/tables.py
  openstack_dashboard/dashboards/project/volumes/urls.py
  openstack_dashboard/test/test_data/cinder_data.py
  releasenotes/notes/bp-volume-snapshot-backups-54e4d18633fd4c5d.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

After deleting the server group, jump to the correct page
  openstack_dashboard/static/app/core/server_groups/actions/delete.action.service.js
  openstack_dashboard/static/app/core/server_groups/actions/delete.action.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix boot-from-volume test in project.instances.tests
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/test/test_data/cinder_data.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Do not always assume image_id in volume_image_metadata
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add the unit test for flavor
  openstack_dashboard/static/app/core/flavors/actions/actions.module.spec.js
  openstack_dashboard/static/app/core/flavors/flavors.module.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/ne/LC_MESSAGES/doc.po
  openstack_auth/locale/ne/LC_MESSAGES/django.po
Due: horizon-integration-tests

Allow to select multiattach volume that has been attached
  openstack_dashboard/dashboards/project/instances/forms.py
  openstack_dashboard/dashboards/project/instances/tests.py
  releasenotes/notes/multi-attached-volume-support-3d32cde6f296cdd9.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Correct error messages on detach volume form under instance panel
  openstack_dashboard/dashboards/project/instances/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
Due: horizon-integration-tests

Show username and user ID on "User Credentials Details" popup
  openstack_dashboard/dashboards/project/api_access/templates/api_access/_credentials.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  openstack_auth/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: horizon-integration-tests

Set log devel to DEBUG in local_settings.py.example
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add exception message when user 'Create Application Credential'
  openstack_dashboard/dashboards/identity/application_credentials/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fixing broken links
  doc/source/configuration/branding.rst
  doc/source/user/log-in.rst
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
Due: horizon-integration-tests

Selenium tests fail when response is slow.
  horizon/test/webdriver.py
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/integration_tests/regions/messages.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Display password_regex_description when password change fails
  openstack_dashboard/dashboards/identity/users/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27
