Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-tox-python3-django22:
  parent: horizon-tox-python3-django
  vars:
    django_version: '>=2.2,<3.0'

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-integration-tests:
  parent: devstack
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  vars:
    devstack_services:
      horizon: true
    tox_envlist: integration

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '{{ ansible_user_dir }}/src/opendev.org/openstack/tempest-horizon'
      USE_PYTHON3: true
    devstack_services:
  ...

horizon-tempest-plugin-ipv6:
  parent: devstack-tempest-ipv6
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '{{ ansible_user_dir }}/src/opendev.org/openstack/tempest-horizon'
      USE_PYTHON3: true
    devstack_services:
  ...

Experimental tests with xstatic reviews
  .zuul.yaml
  playbooks/npm-test-xstatic-master/pre.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Allow to evacuate without specifying a target host
  openstack_dashboard/dashboards/admin/hypervisors/compute/forms.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Manually registering 2 Dashboards breaks get_dashboards() (python3)
  horizon/base.py
  horizon/test/unit/test_base.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

tests: Remove unused helper functions
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

Remove errant references to mox
  doc/source/contributor/topics/testing.rst
  openstack_dashboard/dashboards/admin/instances/tests.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

tests: Convert remaining mox tests to mock (pt. 1)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

Add pagination to Server Groups table in Launch Instance wizard
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/server-groups/server-groups.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/server-groups/server-groups.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/server-groups/server-groups.spec.js
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Avoid stripping leading/traling spaces in password forms
  openstack_auth/forms.py
  openstack_dashboard/dashboards/identity/users/forms.py
  openstack_dashboard/dashboards/project/instances/forms.py
  openstack_dashboard/dashboards/project/instances/workflows/create_instance.py
  openstack_dashboard/dashboards/settings/password/forms.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Add pagination to Source table in Launch Instance wizard
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source-details.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.html
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

[doc]Correcting broken link
  doc/source/contributor/topics/styling.rst
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/fr/LC_MESSAGES/doc-admin.po
  doc/source/locale/id/LC_MESSAGES/doc-admin.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Note on enmerkar in requirements.txt
  requirements.txt
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
Due: none

Convert project-list related tests to mock
  openstack_auth/tests/unit/test_auth.py
  openstack_auth/utils.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Convert test_switch_* test to mock
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

minor clean up on mox removal
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

Allow to set default instance boot source
  doc/source/configuration/settings.rst
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.spec.js
  openstack_dashboard/defaults.py
  releasenotes/notes/default-instance-boot-source-0cd60b3090ef4b38.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Add support to modal.js for file attachments in form response
  horizon/static/horizon/js/horizon.modals.js
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Revert "Explicitly set LOCALE_PATHS for Horizon apps"
  doc/source/configuration/settings.rst
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Cleanup python 2.7 handling logic
  horizon/base.py
  horizon/tables/base.py
  horizon/test/helpers.py
  openstack_dashboard/api/base.py
  openstack_dashboard/test/integration_tests/decorators.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Drop custom formatwarning from settings.py
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

tests: Convert remaining mox tests to mock (pt. 2.1)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

tests: Convert remaining mox tests to mock (pt. 2.2)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

tests: Convert remaining mox tests to mock (pt. 2.3)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

tests: Convert remaining mox tests to mock (pt. 2.4)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

tests: Convert remaining mox tests to mock (pt. 2.5)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

tests: Convert remaining mox tests to mock (pt. 2.6)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

tests: Convert remaining mox tests to mock (pt. 2.7)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

Check volume endpoint availability in the same order
  openstack_dashboard/api/cinder.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

trivial: Remove now unused comments
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

tests: Convert remaining mox tests to mock (pt. 2.8)
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

trivial: Use literals inline
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

Fix menu navigation for slow loading pages
  openstack_dashboard/test/integration_tests/regions/menus.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

Remove PYTHONHASHSEED variable from integration tests env
  tox.ini
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc.po
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Skip integration tests for UT only changes
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

tests: Convert 'OpenStackAuthTestsWebSSO' to mock
  openstack_auth/tests/unit/test_auth.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests

Remove python_2_unicode_compatible usage
  horizon/base.py
  horizon/forms/fields.py
Due: horizon-openstack-tox-base, horizon-tox-python3-django22, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-tox-python3-django22: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
