Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-python3-django111:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py3-dj111
  required-projects:
  - name: openstack/horizon

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-integration-tests:
  parent: devstack
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  vars:
    devstack_services:
      horizon: true
    tox_envlist: integration

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
      USE_PYTHON3: true
    devstack_services:
  ...

horizon-dsvm-tempest-plugin-py27:
  parent: horizon-dsvm-tempest-plugin
  vars:
    devstack_localrc:
      USE_PYTHON3: false

Fix listing security groups when no rules
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/test_neutron.py
  releasenotes/notes/security-group-no-rules-list-bugfix-b77ab5aff1d3e45e.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-install.po
  doc/source/locale/de/LC_MESSAGES/doc-user.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-user.po
  doc/source/locale/id/LC_MESSAGES/doc-user.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
Due: horizon-integration-tests

Fix quoting in zuul for tempest plugins
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Syntax error in image detail template
  openstack_dashboard/dashboards/project/images/templates/images/images/_detail_overview.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Allow creating ICMPV6 rules
  openstack_dashboard/dashboards/project/security_groups/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-user.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-user.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-user.po
  doc/source/locale/ja/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
Due: horizon-integration-tests

django22: Handle changes in management commands
  horizon/test/unit/management/commands/test_startdash.py
  horizon/test/unit/management/commands/test_startpanel.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

django22: The 'login' functional-based view is gone (pt. 1)
  horizon/test/urls.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

django22: The 'login' functional-based view is gone (pt. 2)
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

django22: Call 'is_safe_url' with 'allowed_hosts'
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

django22: Add 'renderer' argument
  horizon/forms/fields.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

django22: Django now truncates using the ellipsis character
  horizon/test/unit/tables/test_tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

django22: Add 'request' as first argument to 'authenticate'
  openstack_auth/backend.py
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-user.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Fix typo: setDefaultIndexUrl -> getDefaultIndexUrl
  horizon/static/framework/conf/resource-type-registry.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Revert "Raise NotFound error when retrieved by not uuid"
  openstack_dashboard/api/keystone.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Avoid forced logout when 403 error encountered
  horizon/static/framework/framework.module.js
  horizon/static/framework/framework.module.spec.js
  horizon/static/framework/widgets/wizard/wizard.controller.js
  horizon/static/framework/widgets/wizard/wizard.controller.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Remove the check which causes plugin's quotas update failure
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

PDF documentation build
  doc/source/conf.py
  doc/source/index.rst
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  horizon/locale/ar/LC_MESSAGES/djangojs.po
  horizon/locale/de/LC_MESSAGES/djangojs.po
  horizon/locale/en_GB/LC_MESSAGES/djangojs.po
  horizon/locale/eo/LC_MESSAGES/djangojs.po
  horizon/locale/es/LC_MESSAGES/djangojs.po
  horizon/locale/fr/LC_MESSAGES/djangojs.po
  horizon/locale/id/LC_MESSAGES/djangojs.po
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  horizon/locale/ko_KR/LC_MESSAGES/djangojs.po
  horizon/locale/pt_BR/LC_MESSAGES/djangojs.po
  horizon/locale/ru/LC_MESSAGES/djangojs.po
  horizon/locale/zh_CN/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Fix navigation hang issue
  openstack_dashboard/test/integration_tests/regions/menus.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Fix version handling compatible with python-semanticversion 2.8
  openstack_dashboard/api/base.py
  openstack_dashboard/api/cinder.py
  openstack_dashboard/test/unit/api/test_base.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix "_data_table_action.html" template usage
  horizon/tables/actions.py
  horizon/templates/horizon/common/_data_table_row_actions_dropdown.html
  horizon/templates/horizon/common/_data_table_table_actions.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Remove unused 'not_list' template argument
  openstack_dashboard/contrib/developer/profiler/templates/profiler/_mode_picker.html
  openstack_dashboard/templates/header/_context_selection.html
  openstack_dashboard/templates/header/_keystone_provider_selection.html
  openstack_dashboard/templates/header/_region_selection.html
  openstack_dashboard/templates/header/_user_menu.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

tox: Slight tweaks
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

tox: Enable warnings
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Handle deprecation of inspect.getargspec
  horizon/tables/base.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Handle move of ABCs to collections.abc
  horizon/base.py
  horizon/tables/base.py
  horizon/test/helpers.py
  openstack_dashboard/api/base.py
  openstack_dashboard/api/glance.py
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/integration_tests/decorators.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
Due: horizon-integration-tests

Imported Translations from Zanata
  horizon/locale/id/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

django22: Replace 'render_to_response' with 'render'
  openstack_dashboard/dashboards/project/volumes/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

django22: django.test.client.encode_multipart no longer accepts None
  openstack_dashboard/dashboards/admin/flavors/tests.py
  openstack_dashboard/dashboards/admin/rbac_policies/tests.py
  openstack_dashboard/dashboards/identity/users/tests.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/security_groups/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

trivial: Mark inner method as such
  openstack_auth/backend.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

trivial: Remove dead code
  openstack_auth/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

trivial: Remove 'cache_control' decorator
  openstack_dashboard/dashboards/project/volumes/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

trivial: Add TODOs for remaining function-based views
  openstack_auth/views.py
  openstack_dashboard/dashboards/project/api_access/views.py
  openstack_dashboard/dashboards/project/instances/views.py
  openstack_dashboard/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

trivial: Remove vendored 'is_safe_url' function
  openstack_auth/utils.py
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-python3-django111: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
  horizon-dsvm-tempest-plugin-py27: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
