Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$

- job:
    name: horizon-openstack-tox-py27dj18
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj18

- job:
    name: horizon-openstack-tox-py27dj19
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj19

- job:
    name: horizon-openstack-tox-py27dj110
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj110

- job:
    name: horizon-openstack-tox-py35dj20
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py35dj20

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "'{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'"
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_venvlist: all

- project:
    name: openstack/horizon
    check:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-openstack-tox-py35dj20:
            voting: false
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin
    gate:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin

Replace "derails" with "details" in the doc
  doc/source/install/next-steps.rst
Due: none

Remove the "browser support" dead link in the doc
  doc/source/install/next-steps.rst
Due: none

Imported Translations from Zanata
  horizon/locale/eo/LC_MESSAGES/django.po
  horizon/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

updated integration tests README.rst
  openstack_dashboard/test/integration_tests/README.rst
Due: none

Add delete action to network_qos panel
  openstack_dashboard/api/rest/neutron.py
  openstack_dashboard/static/app/core/network_qos/actions/actions.module.js
  openstack_dashboard/static/app/core/network_qos/actions/actions.module.spec.js
  openstack_dashboard/static/app/core/network_qos/actions/delete.action.service.js
  openstack_dashboard/static/app/core/network_qos/actions/delete.action.service.spec.js
  openstack_dashboard/static/app/core/network_qos/qos.module.js
  openstack_dashboard/static/app/core/network_qos/qos.module.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

integration test fixes
  openstack_dashboard/test/integration_tests/helpers.py
  openstack_dashboard/test/integration_tests/pages/admin/compute/flavorspage.py
  openstack_dashboard/test/integration_tests/pages/admin/system/defaultspage.py
  openstack_dashboard/test/integration_tests/tests/test_defaults.py
  openstack_dashboard/test/integration_tests/tests/test_flavors.py
  openstack_dashboard/test/integration_tests/tests/test_projects.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Show generic group info in volume and volume snapshot pages
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/project/snapshots/tables.py
  openstack_dashboard/dashboards/project/snapshots/tabs.py
  openstack_dashboard/dashboards/project/snapshots/templates/snapshots/_detail_overview.html
  openstack_dashboard/dashboards/project/snapshots/tests.py
  openstack_dashboard/dashboards/project/snapshots/views.py
  openstack_dashboard/dashboards/project/vg_snapshots/tables.py
  openstack_dashboard/dashboards/project/vg_snapshots/views.py
  openstack_dashboard/dashboards/project/volumes/tables.py
  openstack_dashboard/dashboards/project/volumes/tabs.py
  openstack_dashboard/dashboards/project/volumes/templates/volumes/_detail_overview.html
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/dashboards/project/volumes/views.py
  openstack_dashboard/test/test_data/cinder_data.py
  openstack_dashboard/test/unit/api/test_cinder.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Support volume group when creating a volume
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/project/volumes/forms.py
  openstack_dashboard/dashboards/project/volumes/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Modify the 'tox.ini' file
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/fr/LC_MESSAGES/django.po
  horizon/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Add release notes link in README
  README.rst
Due: none

[doc] Correct the wrong virtual environment folder name
  doc/source/contributor/tutorials/plugin.rst
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Fix log message formatting
  openstack_auth/plugin/base.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Restores deletion in flat network topology
  openstack_dashboard/dashboards/project/network_topology/templates/network_topology/client_side/_balloon_container.html
  openstack_dashboard/static/js/horizon.flatnetworktopology.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Rework DEFAULT_SERVICE_REGIONS
  doc/source/configuration/settings.rst
  openstack_auth/tests/unit/test_utils.py
  openstack_auth/user.py
  openstack_auth/utils.py
  openstack_dashboard/local/local_settings.py.example
  releasenotes/notes/bp-global-default-service-region-0cafecaafa1af5be.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Support can_edit_user and can_edit_role settings in Angularized panels
  doc/source/configuration/settings.rst
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/create.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/create.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/delete.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/delete.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/edit.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/edit.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/create.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/create.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/delete.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/delete.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/disable.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/disable.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/enable.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/enable.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/password.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/password.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/update.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/update.action.service.spec.js
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/static/app/core/openstack-service-api/keystone.service.js
  openstack_dashboard/static/app/core/openstack-service-api/keystone.service.spec.js
  releasenotes/notes/bug-1779268-44848e4d2c69fddc.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Adding identity ng-groups create action
  openstack_dashboard/api/rest/keystone.py
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/create.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/create.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/groups.module.js
  openstack_dashboard/static/app/core/openstack-service-api/keystone.service.js
  openstack_dashboard/static/app/core/openstack-service-api/keystone.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Adding identity ng-groups delete action
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/delete.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/delete.action.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Assign project role to the user when the user is created
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/create.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/actions/create.action.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Drop horizon-openstack-tox-py35dj20 from .zuul.yaml
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Adding identity ng-groups edit action
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/edit.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/actions/edit.action.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/groups.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/panel.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert identity.users tests into mock
  openstack_dashboard/dashboards/identity/users/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix image description field
  openstack_dashboard/static/app/core/images/actions/edit.action.service.js
  openstack_dashboard/static/app/core/images/actions/edit.action.service.spec.js
  releasenotes/notes/image-description-3fc00c02f46a80c7.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add DNS parameters to Floating IP panels
  openstack_dashboard/api/neutron.py
  openstack_dashboard/api/rest/network.py
  openstack_dashboard/dashboards/admin/floating_ips/tests.py
  openstack_dashboard/dashboards/project/floating_ips/forms.py
  openstack_dashboard/dashboards/project/floating_ips/tables.py
  openstack_dashboard/dashboards/project/floating_ips/tests.py
  openstack_dashboard/test/unit/api/rest/test_network.py
  releasenotes/notes/floating-ip-dns-attributes-d227f98eb5c39396.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Remove the redundant "required=True"
  horizon/tables/base.py
  horizon/test/unit/forms/test_fields.py
  horizon/test/unit/tables/test_tables.py
  openstack_auth/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add create domain action in angular domain panel
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/actions.module.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/create.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/create.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/workflow/info.help.html
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/workflow/workflow.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/workflow/workflow.service.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/domains.module.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add delete domain action in angular domain panel
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/actions.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/delete.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/delete.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Replaces the delete button with a disabling version
  openstack_dashboard/static/app/core/images/actions/actions.module.js
  openstack_dashboard/static/app/core/images/actions/delete-image-selected-button.template.html
  openstack_dashboard/static/app/core/images/actions/delete-image-selected.component.js
  openstack_dashboard/static/app/core/images/actions/delete-image-selected.component.spec.js
  openstack_dashboard/static/app/core/images/actions/delete-image-selected.template.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Delete profiler object when request completes
  lower-constraints.txt
  openstack_dashboard/contrib/developer/profiler/middleware.py
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Addressed TODO to change project_id to tenant_id
  openstack_dashboard/api/rest/neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add Generic Volume Groups release notes
  releasenotes/notes/generic-volumes-support-407406de8233c912.yaml
Due: none

Safer handling of return statement inside of OperationLogMiddleware
  horizon/middleware/operation_log.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Using settings file to generate publish appliance link and image details link
  openstack_dashboard/api/glance.py
  openstack_dashboard/static/app/core/images/actions/link-to-appliance-catalog.service.js
  openstack_dashboard/static/app/core/images/actions/share-image.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Adding changes that allow users to publish images to the Appliance Catalog from Horizon
  openstack_dashboard/api/glance.py
  openstack_dashboard/settings.py
  openstack_dashboard/static/app/core/images/actions/actions.module.js
  openstack_dashboard/static/app/core/images/actions/publish-image.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Ensuring custom image properties aren't sent to glance on upate
  openstack_dashboard/api/glance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Adding share action to images
  openstack_dashboard/static/app/core/images/actions/actions.module.js
  openstack_dashboard/static/app/core/images/actions/share-image.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Making call to usersession as the images load in the images dashboard
  openstack_dashboard/static/app/core/images/actions/publish-image.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin
