Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

horizon-openstack-tox-py35dj20:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py35dj20

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: selenium-headless

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
    devstack_services:
      horizon: true
  ...

Update Django versions in horizon requirements
  doc/source/install/system-requirements.rst
Due: none

Update RHEL/CentOS horizon install instruction
  doc/source/install/install-rdo.rst
Due: none

Show an asterisk mark for 'switched' conditional filed(required=Flase)
  horizon/static/horizon/js/horizon.forms.js
  openstack_dashboard/dashboards/project/instances/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

project: Split quota update into a separate workflow
  openstack_dashboard/dashboards/identity/projects/tables.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/identity/projects/urls.py
  openstack_dashboard/dashboards/identity/projects/views.py
  openstack_dashboard/dashboards/identity/projects/workflows.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

project: Tabbify project quota update
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/identity/projects/views.py
  openstack_dashboard/dashboards/identity/projects/workflows.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Load networks and security groups in parallel
  openstack_dashboard/dashboards/project/networks/ports/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add angular create server group action
  openstack_dashboard/api/nova.py
  openstack_dashboard/api/rest/nova.py
  openstack_dashboard/static/app/core/openstack-service-api/nova.service.js
  openstack_dashboard/static/app/core/openstack-service-api/nova.service.spec.js
  openstack_dashboard/static/app/core/server_groups/actions/actions.module.js
  openstack_dashboard/static/app/core/server_groups/actions/actions.module.spec.js
  openstack_dashboard/static/app/core/server_groups/actions/create.action.service.js
  openstack_dashboard/static/app/core/server_groups/actions/create.action.service.spec.js
  openstack_dashboard/static/app/core/server_groups/actions/workflow/workflow.service.js
  openstack_dashboard/static/app/core/server_groups/actions/workflow/workflow.service.spec.js
  openstack_dashboard/static/app/core/server_groups/server-groups.module.js
  openstack_dashboard/static/app/core/server_groups/server-groups.service.js
  openstack_dashboard/test/unit/api/rest/test_nova.py
  openstack_dashboard/test/unit/api/test_nova.py
  releasenotes/notes/bp-ng-server-groups-c60849796a273138.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix Angular errors in openstack_auth
  horizon/base.py
  horizon/test/unit/test_base.py
  openstack_dashboard/test/unit/test_views.py
  openstack_dashboard/test/urls.py
  openstack_dashboard/urls.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Convert admin.info tests into mock
  openstack_dashboard/dashboards/admin/info/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert admin.metadata_defs tests into mock
  openstack_dashboard/dashboards/admin/metadata_defs/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert admin.instances tests into mock
  openstack_dashboard/dashboards/admin/instances/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add angular delete server groups action
  openstack_dashboard/api/nova.py
  openstack_dashboard/api/rest/nova.py
  openstack_dashboard/static/app/core/openstack-service-api/nova.service.js
  openstack_dashboard/static/app/core/openstack-service-api/nova.service.spec.js
  openstack_dashboard/static/app/core/server_groups/actions/actions.module.js
  openstack_dashboard/static/app/core/server_groups/actions/actions.module.spec.js
  openstack_dashboard/static/app/core/server_groups/actions/delete.action.service.js
  openstack_dashboard/static/app/core/server_groups/actions/delete.action.service.spec.js
  openstack_dashboard/test/unit/api/rest/test_nova.py
  openstack_dashboard/test/unit/api/test_nova.py
  releasenotes/notes/bp-ng-server-groups-c60849796a273138.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add angular server group details page
  openstack_dashboard/api/microversions.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/api/rest/nova.py
  openstack_dashboard/static/app/core/openstack-service-api/nova.service.js
  openstack_dashboard/static/app/core/openstack-service-api/nova.service.spec.js
  openstack_dashboard/static/app/core/server_groups/details/details.module.js
  openstack_dashboard/static/app/core/server_groups/details/details.module.spec.js
  openstack_dashboard/static/app/core/server_groups/details/overview.controller.js
  openstack_dashboard/static/app/core/server_groups/details/overview.controller.spec.js
  openstack_dashboard/static/app/core/server_groups/details/overview.html
  openstack_dashboard/static/app/core/server_groups/server-groups.module.js
  openstack_dashboard/static/app/core/server_groups/server-groups.service.js
  openstack_dashboard/static/app/core/server_groups/server-groups.service.spec.js
  openstack_dashboard/test/unit/api/rest/test_nova.py
  openstack_dashboard/test/unit/api/test_nova.py
  releasenotes/notes/bp-ng-server-groups-c60849796a273138.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Convert admin.hypervisors.compute tests into mock
  openstack_dashboard/dashboards/admin/hypervisors/compute/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert project tests into mock: fip/sg/key_pairs/topology
  openstack_dashboard/dashboards/project/floating_ips/tests.py
  openstack_dashboard/dashboards/project/key_pairs/tests.py
  openstack_dashboard/dashboards/project/network_topology/tests.py
  openstack_dashboard/dashboards/project/security_groups/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add plugin xstatic modules support
  doc/source/configuration/pluggable_panels.rst
  openstack_dashboard/settings.py
  openstack_dashboard/test/test_plugins/panel_config/_10_admin_add_panel.py
  openstack_dashboard/test/test_plugins/panel_tests.py
  openstack_dashboard/utils/settings.py
  releasenotes/notes/bug-1755339-2dfa3ce2accb568f.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Sahara projects have been migrated to Storyboard
  doc/source/install/plugin-registry.rst
Due: none

Update the doc links to the newest ones
  horizon/middleware/base.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/settings.py
  openstack_dashboard/static/app/core/openstack-service-api/cinder.service.js
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/settings.py
  releasenotes/notes/openstack-profiler-at-developer-dashboard-da1b1556e30aa858.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/nl_NL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/sr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Fix wrong setting name for SHOW_KEYSTONE_V2_RC
  openstack_dashboard/context_processors.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Switch test_quotas to mock
  openstack_dashboard/test/unit/usage/test_quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Improve mocking in REST API tests (test_keystone)
  openstack_dashboard/api/keystone.py
  openstack_dashboard/test/unit/api/rest/test_keystone.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Drop trove/sahara settings from horizon repo
  doc/source/configuration/settings.rst
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add asterisk to conditionally required fields
  openstack_dashboard/dashboards/project/instances/forms.py
  openstack_dashboard/dashboards/project/networks/ports/workflows.py
  openstack_dashboard/dashboards/project/networks/workflows.py
  openstack_dashboard/dashboards/project/security_groups/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Improve mocking in REST API tests (test_swift)
  openstack_dashboard/test/unit/api/rest/test_swift.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Avoid popup blocker after key-pair creation
  horizon/static/framework/util/file/text-download.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Convert admin.defaults tests into mock
  openstack_dashboard/dashboards/admin/defaults/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Delete choice of image source when file is the only option
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Drop deprecated settings
  doc/source/configuration/settings.rst
  openstack_auth/user.py
  openstack_auth/utils.py
  openstack_auth/views.py
  openstack_dashboard/api/glance.py
  openstack_dashboard/dashboards/project/images/images/tests.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/settings.py
  openstack_dashboard/test/settings.py
  openstack_dashboard/theme_settings.py
  releasenotes/notes/drop-deprecated-settings-rocky-dd8c853d979d6990.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Follow the new PTI for document build
  doc/requirements.txt
  doc/source/conf.py
  setup.cfg
  test-requirements.txt
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

add lower-constraints job
  .zuul.yaml
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Updated from global requirements
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Tabbity quota default update workflow
  openstack_dashboard/dashboards/admin/defaults/tables.py
  openstack_dashboard/dashboards/admin/defaults/views.py
  openstack_dashboard/dashboards/admin/defaults/workflows.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py35dj20: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
