Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-python3-django111:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py3-dj111
  required-projects:
  - name: openstack/horizon

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-integration-tests:
  parent: devstack
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  vars:
    devstack_services:
      horizon: true
    tox_envlist: integration

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
      USE_PYTHON3: true
    devstack_services:
  ...

horizon-dsvm-tempest-plugin-py27:
  parent: horizon-dsvm-tempest-plugin
  vars:
    devstack_localrc:
      USE_PYTHON3: false

Fix grammar error in a recent release notes
  releasenotes/notes/default-settings-moved-1e6a60408c47e2e2.yaml
Due: none

Relnote: default values are moved to openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
  releasenotes/notes/default-settings-moved-1e6a60408c47e2e2.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix add member integration test
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/integration_tests/regions/forms.py
  openstack_dashboard/test/integration_tests/regions/menus.py
  openstack_dashboard/test/integration_tests/tests/test_projects.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Switch to official Ussuri jobs
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Remove the check which causes plugin's quotas update failure
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Use quoting for CSV Writing
  horizon/utils/csvbase.py
  openstack_dashboard/dashboards/admin/instances/tests.py
  openstack_dashboard/dashboards/admin/overview/tests.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/test/test_data/nova_data.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  horizon/locale/ko_KR/LC_MESSAGES/django.po
  openstack_auth/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: horizon-integration-tests

Fix volumes and volume_snapshots integration tests
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/integration_tests/pages/project/volumes/volumespage.py
  openstack_dashboard/test/integration_tests/regions/forms.py
  openstack_dashboard/test/integration_tests/regions/tables.py
  openstack_dashboard/test/integration_tests/tests/test_volume_snapshots.py
  openstack_dashboard/test/integration_tests/tests/test_volumes.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Send binary frame in websocket client
  openstack_dashboard/static/js/angular/directives/serialConsole.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Assume features from N-4 release instead of N-3
  doc/source/contributor/policy.rst
Due: none

Fix users integration test
  openstack_dashboard/test/integration_tests/pages/identity/userspage.py
  openstack_dashboard/test/integration_tests/regions/forms.py
  openstack_dashboard/test/integration_tests/tests/test_users.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Modify the regex for name on import public key form
  openstack_dashboard/static/app/core/keypairs/actions/import.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Enable OPENSTACK_NEUTRON_NETWORK[enable_quotas] by default
  doc/source/configuration/settings.rst
  openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
  releasenotes/notes/enable-neutron-quotas-by-default-7c89cda96a972a48.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Fix aes-xts key length in Horizon Admin Guide / Manage Volumes
  doc/source/admin/manage-volumes.rst
Due: none

Remove dependency on novaclient list_extensions API
  openstack_dashboard/api/nova.py
  openstack_dashboard/api/rest/nova.py
  openstack_dashboard/static/app/core/openstack-service-api/nova.service.js
  openstack_dashboard/test/unit/api/rest/test_nova.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Remove Python 2.7 jobs
  .zuul.yaml
  setup.cfg
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add custom SSL CA Cert support for api.cinder.get_microversion
  lower-constraints.txt
  openstack_dashboard/api/cinder.py
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Set up the initial displayed values in all boot-sources
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add support for keystone access rules
  lower-constraints.txt
  openstack_dashboard/api/keystone.py
  openstack_dashboard/dashboards/identity/application_credentials/forms.py
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/_create.html
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/_detail_overview.html
  openstack_dashboard/dashboards/identity/application_credentials/tests.py
  releasenotes/notes/keystone-access-rules-35d00bd9cfe5d32e.yaml
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/fr/LC_MESSAGES/doc-admin.po
  doc/source/locale/id/LC_MESSAGES/doc-admin.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
Due: none

AgularJS pages display dates using Horizon's Settings Timezone
  horizon/static/framework/util/filters/filters.js
  horizon/static/framework/util/filters/filters.spec.js
  horizon/static/framework/util/timezones/timezone.service.js
  horizon/static/framework/util/timezones/timezone.service.spec.js
  horizon/static/framework/util/util.module.js
  openstack_dashboard/api/rest/config.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Make tox -e runserver work faster
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add image data for instance with volume
  openstack_dashboard/dashboards/project/instances/tabs.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
Due: horizon-integration-tests

Compact overly nested css in compressed css
  horizon/utils/scss_filter.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add policy_rules to aggregates dashboard
  openstack_dashboard/dashboards/admin/aggregates/tables.py
  releasenotes/notes/policy-rules-aggregates-3cd74c07e30511fa.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Call Glance list with certain image ids
  openstack_dashboard/api/glance.py
  openstack_dashboard/dashboards/admin/instances/tests.py
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/test/unit/api/test_glance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix failing tests under python3.8
  openstack_dashboard/dashboards/project/security_groups/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests

Pin jQuery to < 2; fixing unusable dashboard JS ('indexOf' of undefined)
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Add "prev" link to instance page list pagination
  openstack_dashboard/api/nova.py
  openstack_dashboard/dashboards/admin/instances/tests.py
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/views.py
  openstack_dashboard/test/integration_tests/tests/test_instances.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix tenant floating_ip_allocation call in neutron rest api.
  openstack_dashboard/api/rest/network.py
  openstack_dashboard/test/unit/api/rest/test_network.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix deleting port from port details page
  openstack_dashboard/dashboards/project/networks/ports/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-python3-django111: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
  horizon-dsvm-tempest-plugin-py27: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
