Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

horizon-openstack-tox-py35dj20:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py35dj20

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: selenium-headless

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'''
    devstack_services:
      horizon: true
  ...

Adding chameleon icon to images when they are officially supported by the project, adding a link out to the appliance catalog for images that are shared publicly on the cc portal appliance catalog.
  horizon/static/framework/widgets/table/hz-dynamic-table.html
  openstack_dashboard/api/glance.py
  openstack_dashboard/static/app/core/images/actions/actions.module.js
  openstack_dashboard/static/app/core/images/actions/link-to-appliance-catalog.service.js
  openstack_dashboard/static/app/core/images/images.module.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Adding property for env specific paths in chameleon to settings
  openstack_dashboard/api/glance.py
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

updating sharing perms to share images users can edit
  openstack_dashboard/static/app/core/images/actions/share-image.service.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Adding try/catch so images load on horizon even if chameleon portal happens to be down
  openstack_dashboard/api/glance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

fixing cache, using horizon utils memoized to cache api request
  openstack_dashboard/api/glance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix typo on release note for bug/1226003
  releasenotes/notes/bug-1226003-drop-simple-fip-disassociation-3c751297b467597e.yaml
Due: none

force plain text for header response
  openstack_dashboard/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

add dns_name and dns_domain into admin column
  openstack_dashboard/dashboards/admin/floating_ips/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

fix bug of fail to create volume type encryption from dashboard
  openstack_dashboard/dashboards/admin/volume_types/forms.py
  openstack_dashboard/dashboards/admin/volume_types/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Add package-lock.json which generate by npm
  .gitignore
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Hide default_cgsnapshot_type from cinder group types
  openstack_dashboard/dashboards/project/volume_groups/workflows.py
  releasenotes/notes/generic-volumes-support-407406de8233c912.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Change project details view in a tab view.
  openstack_dashboard/dashboards/identity/projects/tabs.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/identity/projects/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/fr/LC_MESSAGES/djangojs.po
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  horizon/locale/ru/LC_MESSAGES/django.po
  horizon/locale/ru/LC_MESSAGES/djangojs.po
  openstack_auth/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update .gitreview for stable/rocky
  .gitreview
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

Imported Translations from Zanata
  horizon/locale/fr/LC_MESSAGES/djangojs.po
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  horizon/locale/ru/LC_MESSAGES/django.po
  horizon/locale/ru/LC_MESSAGES/djangojs.po
  horizon/locale/zh_CN/LC_MESSAGES/django.po
  horizon/locale/zh_CN/LC_MESSAGES/djangojs.po
  openstack_auth/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Fix UnicodeError in build_reno in sphinx docs job
  releasenotes/notes/pluggable-workflow-steps-c919cdd8b0cbea55.yaml
Due: none

doc: Fix dashboard URL in Debian installation
  doc/source/install/verify-debian.rst
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Revert "Network Topology graph "twitches""
  openstack_dashboard/static/js/horizon.networktopologycommon.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
Due: horizon-dsvm-tempest-plugin

Allow to specify redirections on single IdP scenarios
  doc/source/configuration/settings.rst
  openstack_auth/tests/unit/test_auth.py
  openstack_auth/urls.py
  openstack_auth/user.py
  openstack_auth/utils.py
  openstack_auth/views.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/settings.py
  releasenotes/notes/websso-default-redirection-1acf25d32ac00dd1.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Improved getQosPolicy error messages
  openstack_dashboard/static/app/core/openstack-service-api/neutron.service.js
  openstack_dashboard/static/app/core/openstack-service-api/neutron.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update keystone v3 admin URL in UT
  openstack_auth/tests/data_v3.py
  openstack_dashboard/test/test_data/keystone_data.py
  openstack_dashboard/test/unit/api/test_base.py
  openstack_dashboard/test/unit/api/test_keystone.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Remove -u root as mysql is executed with root user
  doc/source/admin/sessions.rst
Due: none

Fix issue where qos delete action returns error message
  openstack_dashboard/api/neutron.py
  openstack_dashboard/static/app/core/openstack-service-api/neutron.service.js
  openstack_dashboard/static/app/core/openstack-service-api/neutron.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

add python 3.6 unit test job
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Make generic group check work with admin table
  openstack_dashboard/dashboards/project/snapshots/tables.py
  openstack_dashboard/dashboards/project/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Safer handling of return statement inside of OperationLogMiddleware
  horizon/middleware/operation_log.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
Due: horizon-dsvm-tempest-plugin

Restores deletion in flat network topology
  openstack_dashboard/dashboards/project/network_topology/templates/network_topology/client_side/_balloon_container.html
  openstack_dashboard/static/js/horizon.flatnetworktopology.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Remove the unused settings
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-openstack-tox-py35dj20: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
