Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Path conditions:
  horizon-openstack-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-python3-django111: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-selenium-headless: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  horizon-dsvm-tempest-plugin: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$
  horizon-dsvm-tempest-plugin-py27: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$

Fix syntax error in installation guide
  doc/source/install/from-source.rst
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/fr/LC_MESSAGES/doc-admin.po
  doc/source/locale/id/LC_MESSAGES/doc-admin.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
Due: none

Add policy_rules to flavors dashboard
  openstack_dashboard/dashboards/admin/flavors/tables.py
  releasenotes/notes/policy-rules-flavors-94f50aa168d8563b.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix deleting port from port details page
  openstack_dashboard/dashboards/project/networks/ports/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Change py27integration to integration.
  openstack_dashboard/test/integration_tests/README.rst
  tools/gate/integration/post_test_hook.sh
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix typo
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix quoting in zuul for tempest plugins
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix change expired password feature
  openstack_auth/forms.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Uncap django
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Changed default identity url to horizon
  doc/source/admin/customize-configure.rst
  doc/source/configuration/settings.rst
  doc/source/contributor/quickstart.rst
  doc/source/install/install-debian.rst
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
  openstack_auth/defaults.py
  openstack_auth/tests/data_v3.py
  openstack_auth/tests/unit/test_auth.py
  openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/test/settings.py
  openstack_dashboard/test/test_data/keystone_data.py
  openstack_dashboard/test/unit/api/test_base.py
  openstack_dashboard/test/unit/api/test_keystone.py
  releasenotes/notes/change-keystone-url-default-value-6a56397acf4f7328.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

GUI hangs on creation of project in User creation form
  horizon/workflows/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix users/projects list when domain context is changed
  openstack_dashboard/api/keystone.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Send binary frame in websocket client
  openstack_dashboard/static/js/angular/directives/serialConsole.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Cap hacking version to <2
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fixes a series of bugs related to Floating IPs.
  openstack_dashboard/dashboards/project/floating_ips/forms.py
  openstack_dashboard/dashboards/project/floating_ips/tables.py
  openstack_dashboard/dashboards/project/floating_ips/templates/floating_ips/_allocate.html
  openstack_dashboard/dashboards/project/floating_ips/templates/floating_ips/allocate.html
  openstack_dashboard/dashboards/project/floating_ips/views.py
  openstack_dashboard/dashboards/project/floating_ips/workflows.py
  openstack_dashboard/dashboards/project/overview/tests.py
  openstack_dashboard/test/unit/usage/test_quotas.py
  openstack_dashboard/usage/quotas.py
  openstack_dashboard/usage/views.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix pep8 failures with hacking 2.0.0
  horizon/defaults.py
  horizon/test/settings.py
  horizon/test/unit/templatetags/test_templatetags.py
  openstack_dashboard/defaults.py
  openstack_dashboard/settings.py
  openstack_dashboard/test/test_data/cinder_data.py
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Deprecate OPENSTACK_NOVA_EXTENSIONS_BLACKLIST
  doc/source/configuration/settings.rst
  releasenotes/notes/deprecate-nova-extensions-blacklist-b6285bf02c4011f8.yaml
Due: none

Add support to get disk_formats from glance
  openstack_dashboard/api/glance.py
  openstack_dashboard/api/rest/config.py
  openstack_dashboard/dashboards/admin/images/tests.py
  openstack_dashboard/dashboards/project/images/images/forms.py
  openstack_dashboard/dashboards/project/images/images/tests.py
  openstack_dashboard/dashboards/project/volumes/forms.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/settings.py
  openstack_dashboard/test/test_data/glance_data.py
  openstack_dashboard/test/unit/api/rest/test_config.py
  openstack_dashboard/test/unit/api/test_glance.py
  releasenotes/notes/glance_disk_formats-a13cb994a2d5c1fe.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-user.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
  horizon/locale/en_GB/LC_MESSAGES/django.po
  horizon/locale/en_GB/LC_MESSAGES/djangojs.po
  horizon/locale/es/LC_MESSAGES/django.po
  horizon/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_auth/locale/es/LC_MESSAGES/django.po
  openstack_auth/locale/zh_TW/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/djangojs.po
Due: horizon-integration-tests

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-user.po
  horizon/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
Due: horizon-integration-tests

Imported Translations from Zanata
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
Due: horizon-integration-tests

Fix use of ngettext in registry getName
  horizon/static/framework/conf/resource-type-registry.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/domains.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/groups/groups.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/roles.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/users.module.js
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/containers.module.js
  openstack_dashboard/static/app/core/flavors/flavors.module.js
  openstack_dashboard/static/app/core/images/images.module.js
  openstack_dashboard/static/app/core/keypairs/keypairs.module.js
  openstack_dashboard/static/app/core/network_qos/qos.module.js
  openstack_dashboard/static/app/core/server_groups/server-groups.module.js
  openstack_dashboard/static/app/core/trunks/trunks.module.js
  openstack_dashboard/static/app/resources/resources.module.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Drop babel extractor definitions from babel config
  babel-django.cfg
  babel-djangojs.cfg
  setup.cfg
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Generate plugin registry based on releases repo
  doc/source/install/plugin-registry.rst
  plugin-registry.csv
  tools/executable_files.txt
  tools/list-horizon-plugins.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Deprecate exceptions.check_message
  horizon/exceptions.py
  openstack_dashboard/dashboards/admin/aggregates/workflows.py
  openstack_dashboard/dashboards/admin/flavors/workflows.py
  openstack_dashboard/dashboards/admin/info/tabs.py
  requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Fix "prev" link pagination for instances with identical timestamps
  openstack_dashboard/api/nova.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27

Complete "Drop Python 2.7 Support" goal
  doc/requirements.txt
  doc/source/contributor/quickstart.rst
  doc/source/contributor/testing.rst
  doc/source/contributor/topics/packaging.rst
  doc/source/install/system-requirements.rst
  releasenotes/notes/drop-python27-support-160366ba52a1205b.yaml
  requirements.txt
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-python3-django111, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-dsvm-tempest-plugin-py27
