Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

.zuul.yaml:

- job:
    name: horizon-openstack-tox-base
    parent: openstack-tox
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^horizon/locale/.*$
      - ^openstack_dashboard/locale/.*$

- job:
    name: horizon-openstack-tox-py27dj18
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj18

- job:
    name: horizon-openstack-tox-py27dj19
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj19

- job:
    name: horizon-openstack-tox-py27dj110
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py27dj110

- job:
    name: horizon-openstack-tox-py35dj20
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: py35dj20

- job:
    name: horizon-selenium-headless
    parent: horizon-openstack-tox-base
    vars:
      tox_envlist: selenium-headless

- job:
    name: horizon-dsvm-tempest-plugin
    parent: devstack-tempest
    required-projects:
      - name: openstack/horizon
      - name: openstack/tempest
      - name: openstack/tempest-horizon
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    vars:
      devstack_localrc:
        TEMPEST_PLUGINS: "'{{ ansible_user_dir }}/src/git.openstack.org/openstack/tempest-horizon'"
      devstack_services:
        horizon: true
        tempest: true
      tempest_concurrency: 2
      tempest_test_regex: horizon
      tox_venvlist: all

- project:
    name: openstack/horizon
    check:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-openstack-tox-py35dj20:
            voting: false
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin
    gate:
      jobs:
        - horizon-openstack-tox-py27dj110
        - horizon-openstack-tox-py27dj19
        - horizon-openstack-tox-py27dj18
        - horizon-selenium-headless
        - horizon-dsvm-tempest-plugin

Improve mocking in REST API tests (test_nova)
  openstack_dashboard/test/unit/api/rest/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/nl_NL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/sr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Switch Neutron/Network API tests to mock
  openstack_dashboard/test/helpers.py
  openstack_dashboard/test/unit/api/rest/test_network.py
  openstack_dashboard/test/unit/api/rest/test_neutron.py
  openstack_dashboard/test/unit/api/test_network.py
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Improve mocking in REST API tests (test_neutron)
  openstack_dashboard/test/unit/api/rest/test_neutron.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Update supported browsers list
  doc/source/user/browser_support.rst
Due: none

Fix Angular errors in openstack_auth
  horizon/base.py
  horizon/test/tests/base.py
  openstack_dashboard/test/urls.py
  openstack_dashboard/test/views.py
  openstack_dashboard/urls.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Reproduce navigations on refreshing ngdetails view
  horizon/browsers/views.py
  horizon/static/framework/conf/resource-type-registry.service.js
  horizon/static/framework/util/navigations/navigations.module.js
  horizon/static/framework/util/navigations/navigations.service.js
  horizon/static/framework/util/navigations/navigations.service.spec.js
  horizon/static/framework/util/util.module.js
  horizon/static/framework/widgets/details/routed-details-view.controller.js
  horizon/static/framework/widgets/details/routed-details-view.controller.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/domains.module.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/users.module.js
  openstack_dashboard/static/app/core/images/images.module.js
  openstack_dashboard/static/app/core/images/images.service.js
  openstack_dashboard/static/app/core/keypairs/keypairs.module.js
  openstack_dashboard/static/app/core/network_qos/qos.module.js
  openstack_dashboard/static/app/core/trunks/trunks.module.js
  openstack_dashboard/templates/angular.html
  releasenotes/notes/bug-1746706-8d2f982c514f22b1.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/nl_NL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/sr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_TW/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Only display the bootable volume snapshots when creating instance
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/workflows/create_instance.py
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Support description for instance update/rebuild
  openstack_dashboard/api/nova.py
  openstack_dashboard/dashboards/project/instances/forms.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/views.py
  openstack_dashboard/dashboards/project/instances/workflows/update_instance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

The disk format is selected automatically when using file to create image
  openstack_dashboard/static/app/tech-debt/image-form.controller.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Update lower-constraints to requirements.txt
  lower-constraints.txt
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Cleanup Plugin Registry
  doc/source/install/plugin-registry.rst
Due: none

Fix unauthorized exception when using member user to access angular users panel
  openstack_dashboard/api/rest/keystone.py
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/users.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/users/users.service.spec.js
  openstack_dashboard/test/unit/api/rest/test_keystone.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Improve mocking in REST API tests (test_network)
  openstack_dashboard/test/unit/api/rest/test_network.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Pass whole selected entity to deleteEntity callback
  horizon/static/framework/widgets/modal/delete-modal.service.js
  horizon/static/framework/widgets/modal/delete-modal.service.spec.js
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: none

Make tests output more verbose
  tools/unit_tests.sh
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Removing flavor details from instance launch panel
  openstack_dashboard/dashboards/project/instances/templates/instances/_instance_flavor.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/flavor/flavor.html
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Rename pull_catalog args from version to branch
  horizon/management/commands/pull_catalog.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Support simple FIP disassociation (with FIP release)
  doc/source/configuration/settings.rst
  horizon/conf/default.py
  openstack_dashboard/dashboards/project/instances/forms.py
  openstack_dashboard/dashboards/project/instances/tables.py
  openstack_dashboard/dashboards/project/instances/templates/instances/_disassociate.html
  openstack_dashboard/dashboards/project/instances/templates/instances/disassociate.html
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/urls.py
  openstack_dashboard/dashboards/project/instances/views.py
  openstack_dashboard/local/local_settings.py.example
  releasenotes/notes/bug-1226003-drop-simple-fip-disassociation-3c751297b467597e.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Remove remaining mox usage in tests converted to mock
  openstack_dashboard/dashboards/admin/hypervisors/compute/tests.py
  openstack_dashboard/dashboards/admin/metadata_defs/tests.py
  openstack_dashboard/dashboards/project/networks/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Simplify APIMockTestCase
  openstack_dashboard/test/helpers.py
  openstack_dashboard/test/unit/api/test_cinder.py
  openstack_dashboard/test/unit/api/test_glance.py
  openstack_dashboard/test/unit/api/test_keystone.py
  openstack_dashboard/test/unit/api/test_network.py
  openstack_dashboard/test/unit/api/test_neutron.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Ensure to show security groups only from current project
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/views.py
  openstack_dashboard/dashboards/project/instances/workflows/update_instance.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Use items per page setting on Angular tables
  horizon/static/framework/conf/conf.js
  horizon/static/framework/widgets/table/hz-dynamic-table.directive.spec.js
  horizon/static/framework/widgets/table/hz-dynamic-table.spec.js
  horizon/static/framework/widgets/table/hz-table-footer.controller.js
  horizon/static/framework/widgets/table/hz-table-footer.directive.js
  horizon/static/framework/widgets/table/hz-table-footer.html
  horizon/static/framework/widgets/table/pagination.html
  horizon/static/framework/widgets/table/table.module.js
  horizon/static/framework/widgets/table/table.spec.js
  openstack_dashboard/static/dashboard/scss/_util.scss
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

A description can now be added to a security rule
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/project/security_groups/forms.py
  openstack_dashboard/dashboards/project/security_groups/tables.py
  openstack_dashboard/dashboards/project/security_groups/tests.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/test_neutron.py
  releasenotes/notes/sg-rule-description-support-37ea7580d3b7c7a9.yaml
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix pep8 errors
  openstack_dashboard/dashboards/admin/aggregates/tests.py
  openstack_dashboard/dashboards/admin/instances/tests.py
  openstack_dashboard/dashboards/admin/routers/tests.py
  openstack_dashboard/dashboards/project/images/tests.py
  openstack_dashboard/dashboards/project/instances/utils.py
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/dashboards/project/routers/tests.py
  openstack_dashboard/test/integration_tests/basewebobject.py
  openstack_dashboard/test/test_data/neutron_data.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Use microversion 2.60 when attaching a multiattach volume
  openstack_dashboard/api/cinder.py
  openstack_dashboard/api/microversions.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/dashboards/project/instances/forms.py
  openstack_dashboard/dashboards/project/instances/tests.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Imported Translations from Zanata
  horizon/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: horizon-dsvm-tempest-plugin

Fix W503 warnings
  horizon/notifications.py
  horizon/tables/base.py
  horizon/tables/views.py
  horizon/test/firefox_binary.py
  horizon/utils/file_discovery.py
  openstack_auth/user.py
  openstack_auth/utils.py
  openstack_dashboard/dashboards/admin/hypervisors/compute/tests.py
  openstack_dashboard/dashboards/admin/images/views.py
  openstack_dashboard/dashboards/admin/instances/tables.py
  openstack_dashboard/dashboards/admin/networks/ports/workflows.py
  openstack_dashboard/dashboards/admin/trunks/panel.py
  openstack_dashboard/dashboards/identity/groups/tables.py
  openstack_dashboard/dashboards/project/images/images/tables.py
  openstack_dashboard/dashboards/project/instances/tables.py
  openstack_dashboard/dashboards/project/instances/workflows/create_instance.py
  openstack_dashboard/dashboards/project/network_qos/panel.py
  openstack_dashboard/dashboards/project/network_topology/views.py
  openstack_dashboard/dashboards/project/networks/ports/views.py
  openstack_dashboard/dashboards/project/networks/ports/workflows.py
  openstack_dashboard/dashboards/project/routers/extensions/extraroutes/tables.py
  openstack_dashboard/dashboards/project/routers/ports/forms.py
  openstack_dashboard/dashboards/project/security_groups/tables.py
  openstack_dashboard/dashboards/project/server_groups/panel.py
  openstack_dashboard/dashboards/project/trunks/panel.py
  openstack_dashboard/dashboards/project/volumes/tables.py
  openstack_dashboard/dashboards/project/volumes/views.py
  openstack_dashboard/test/integration_tests/pages/project/compute/access_and_security/apiaccesspage.py
  openstack_dashboard/test/integration_tests/pages/project/compute/access_and_security/floatingipspage.py
  openstack_dashboard/test/unit/api/rest/test_neutron.py
  openstack_dashboard/test/unit/api/test_neutron.py
  openstack_dashboard/utils/settings.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix E402 warnings
  doc/source/conf.py
  horizon/test/helpers.py
  openstack_dashboard/settings.py
  openstack_dashboard/test/settings.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Make babel_extract_angular work with python 3
  horizon/utils/babel_extract_angular.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Modularize workflow action in quota defaults
  openstack_dashboard/dashboards/admin/defaults/tests.py
  openstack_dashboard/dashboards/admin/defaults/views.py
  openstack_dashboard/dashboards/admin/defaults/workflows.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Exclude nova-network quotas properly
  openstack_dashboard/api/base.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin

Fix pep8 errors
  openstack_dashboard/dashboards/admin/floating_ips/tests.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/project/images/tests.py
  openstack_dashboard/dashboards/project/instances/utils.py
  openstack_dashboard/dashboards/project/overview/tests.py
  openstack_dashboard/dashboards/project/routers/tests.py
  openstack_dashboard/test/integration_tests/basewebobject.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/test_neutron.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110, horizon-openstack-tox-py35dj20, horizon-selenium-headless, horizon-dsvm-tempest-plugin
