Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$

Integration test navigation machinery for Angular pages
  horizon/test/webdriver.py
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.html
  openstack_dashboard/static/app/core/images/steps/edit-image/edit-image.html
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/integration_tests/pages/project/compute/imagespage.py
  openstack_dashboard/test/integration_tests/regions/forms.py
  openstack_dashboard/test/integration_tests/regions/tables.py
  openstack_dashboard/test/integration_tests/tests/test_images.py
  openstack_dashboard/test/integration_tests/tests/test_volumes.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Make integration tests stop on first failure
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Use SetUp and cleanup for the network pagination tests
  openstack_dashboard/test/integration_tests/tests/test_networks.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop readonly image metadata properties from request
  openstack_dashboard/static/app/core/openstack-service-api/glance.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Remove usage of openstack/xstatic-font-awesome
  .zuul.d/xstatic-master.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add NAT rules to the floating IP workflow
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/project/floating_ip_portforwardings/__init__.py
  openstack_dashboard/dashboards/project/floating_ip_portforwardings/panel.py
  openstack_dashboard/dashboards/project/floating_ip_portforwardings/tables.py
  openstack_dashboard/dashboards/project/floating_ip_portforwardings/tests.py
  openstack_dashboard/dashboards/project/floating_ip_portforwardings/urls.py
  openstack_dashboard/dashboards/project/floating_ip_portforwardings/views.py
  openstack_dashboard/dashboards/project/floating_ip_portforwardings/workflows.py
  openstack_dashboard/dashboards/project/floating_ips/tables.py
  openstack_dashboard/dashboards/project/floating_ips/tests.py
  openstack_dashboard/dashboards/project/floating_ips/views.py
  openstack_dashboard/dashboards/project/floating_ips/workflows.py
  openstack_dashboard/enabled/_1520_project_floating_ip_portforwardings_panel.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/test_neutron.py
  releasenotes/notes/add-support-to-floating-ip-port-forwardings-3d0d43a2d997ce79.yaml
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Sync default policy rules
  openstack_dashboard/conf/cinder_policy.yaml
  openstack_dashboard/conf/default_policies/neutron.yaml
  openstack_dashboard/conf/default_policies/nova.yaml
  openstack_dashboard/conf/neutron_policy.yaml
  openstack_dashboard/conf/nova_policy.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix delete image tests.
  openstack_dashboard/test/integration_tests/basewebobject.py
  openstack_dashboard/test/integration_tests/pages/project/compute/imagespage.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update .gitreview for stable/2023.1
  .gitreview
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hans/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hant/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/as/LC_MESSAGES/django.po
  openstack_dashboard/locale/bn_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/brx/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/gu/LC_MESSAGES/django.po
  openstack_dashboard/locale/hi/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/kn/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/kok/LC_MESSAGES/django.po
  openstack_dashboard/locale/ks/LC_MESSAGES/django.po
  openstack_dashboard/locale/mai/LC_MESSAGES/django.po
  openstack_dashboard/locale/mni/LC_MESSAGES/django.po
  openstack_dashboard/locale/mr/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/pa_IN/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ta/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ur/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hans/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hant/LC_MESSAGES/django.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
Due: none

Change of the procedure how the popup messages are checked
  openstack_dashboard/test/integration_tests/helpers.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/integration_tests/pages/basepage.py
  openstack_dashboard/test/integration_tests/pages/project/compute/imagespage.py
  openstack_dashboard/test/integration_tests/regions/messages.py
  openstack_dashboard/test/integration_tests/tests/test_defaults.py
  openstack_dashboard/test/integration_tests/tests/test_flavors.py
  openstack_dashboard/test/integration_tests/tests/test_floatingips.py
  openstack_dashboard/test/integration_tests/tests/test_groups.py
  openstack_dashboard/test/integration_tests/tests/test_grouptypes.py
  openstack_dashboard/test/integration_tests/tests/test_host_aggregates.py
  openstack_dashboard/test/integration_tests/tests/test_images.py
  openstack_dashboard/test/integration_tests/tests/test_instances.py
  openstack_dashboard/test/integration_tests/tests/test_keypairs.py
  openstack_dashboard/test/integration_tests/tests/test_metadata_definitions.py
  openstack_dashboard/test/integration_tests/tests/test_networks.py
  openstack_dashboard/test/integration_tests/tests/test_projects.py
  openstack_dashboard/test/integration_tests/tests/test_router.py
  openstack_dashboard/test/integration_tests/tests/test_router_gateway.py
  openstack_dashboard/test/integration_tests/tests/test_security_groups.py
  openstack_dashboard/test/integration_tests/tests/test_user_settings.py
  openstack_dashboard/test/integration_tests/tests/test_users.py
  openstack_dashboard/test/integration_tests/tests/test_volume_snapshots.py
  openstack_dashboard/test/integration_tests/tests/test_volumes.py
  openstack_dashboard/test/integration_tests/tests/test_volumetypes.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

fix(swift): allow object creation
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Unskipping test_floatingip_associate_disassociate test case
  openstack_dashboard/test/integration_tests/pages/project/compute/instancespage.py
  openstack_dashboard/test/integration_tests/tests/test_floatingips.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Clean up the syntax of html attributes to always use double quotes
  horizon/static/framework/widgets/headers/hz-page-header.html
  horizon/static/framework/widgets/metadata/tree/metadata-tree.html
  horizon/static/framework/widgets/property/hz-resource-property.html
  horizon/templates/horizon/_nav_list.html
  horizon/templates/horizon/_subnav_list.html
  horizon/templates/horizon/client_side/_modal.html
  horizon/templates/horizon/common/_data_table.html
  horizon/templates/horizon/common/_data_table_row_action_row.html
  horizon/templates/horizon/common/_datepicker.html
  horizon/templates/horizon/common/_detail_header.html
  horizon/templates/horizon/common/_domain_page_header.html
  horizon/templates/horizon/common/_form_field.html
  horizon/templates/horizon/common/_page_header.html
  horizon/templates/horizon/common/_sidebar.html
  horizon/templates/horizon/common/_tab_group.html
  horizon/templates/horizon/jasmine/jasmine.html
  horizon/templates/horizon/jasmine/jasmine_legacy.html
  horizon/test/templates/base.html
  horizon/test/unit/tables/test_tables.py
  horizon/test/unit/templatetags/test_templatetags.py
  openstack_dashboard/contrib/developer/static/dashboard/developer/theme-preview/theme-preview.html
  openstack_dashboard/dashboards/project/instances/templates/instances/_detail_console.html
  openstack_dashboard/dashboards/project/instances/templates/instances/_instance_flavor.html
  openstack_dashboard/dashboards/project/network_topology/templates/network_topology/_graph_view.html
  openstack_dashboard/dashboards/project/network_topology/templates/network_topology/_post_massage.html
  openstack_dashboard/dashboards/project/network_topology/templates/network_topology/_svg_element.html
  openstack_dashboard/dashboards/project/network_topology/templates/network_topology/iframe.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/keypair/keypair.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.html
  openstack_dashboard/templates/500.html
  openstack_dashboard/templates/_stylesheets.html
  openstack_dashboard/templates/angular/angular_templates.html
  openstack_dashboard/templates/base.html
  openstack_dashboard/templates/context_selection/_anti_clickjack.html
  openstack_dashboard/templates/horizon/_conf.html
  openstack_dashboard/templates/horizon/_scripts.html
  openstack_dashboard/templates/serial_console.html
  openstack_dashboard/themes/example/templates/base.html
  openstack_dashboard/themes/material/templates/header/_header.html
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix instance error with attribute cells.
  openstack_dashboard/test/integration_tests/pages/project/compute/instancespage.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update deprecated jQuery functions
  horizon/static/framework/util/tech-debt/image-file-on-change.directive.js
  horizon/static/horizon/js/horizon.d3linechart.js
  horizon/static/horizon/js/horizon.hacks.js
  horizon/static/horizon/js/horizon.membership.js
  horizon/static/horizon/lib/jquery/jquery.bootstrap.wizard.js
  openstack_dashboard/static/js/angular/directives/serialConsole.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix Deprecated: jQuery.parseJSON() warning by updating to JSON.parse()
  horizon/static/horizon/js/horizon.messages.js
  horizon/static/horizon/js/horizon.modals.js
  openstack_dashboard/static/js/horizon.networktopology.js
  openstack_dashboard/static/js/horizon.networktopologycommon.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix "jQuery.fn.submit() event shorthand is deprecated" warning
  horizon/static/horizon/js/horizon.forms.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix deprecated use of 'jQuery.fn.mouseenter()' shorthand event
  openstack_dashboard/static/js/horizon.flatnetworktopology.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update jQuery click event to remove deprecation warning
  horizon/static/horizon/js/horizon.messages.js
  openstack_dashboard/contrib/developer/static/dashboard/developer/theme-preview/theme-preview.directive.js
  openstack_dashboard/static/js/horizon.flatnetworktopology.js
  openstack_dashboard/static/js/horizon.networktopology.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix deprecation warning for jQuery.fn.keydown() event shorthand
  horizon/static/horizon/js/horizon.membership.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix deprecation warning for jQuery.fn.keyup() event shorthand
  horizon/static/horizon/js/horizon.modals.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Disable form auto-complete on login form
  horizon/templates/auth/_login_form.html
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix "jQuery.fn.mousedown() event shorthand is deprecated" warning
  horizon/static/horizon/js/horizon.forms.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix deprecation warning for .removeAttr()
  horizon/static/horizon/js/horizon.forms.js
  horizon/static/horizon/js/horizon.lists.js
  horizon/static/horizon/js/horizon.membership.js
  horizon/static/horizon/js/horizon.modals.js
  horizon/static/horizon/js/horizon.tables.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix deprecated use of 'jQuery.fn.blur()' shorthand event
  horizon/static/horizon/js/horizon.membership.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Stability improvement of Instance tests
  openstack_dashboard/test/integration_tests/pages/project/compute/instancespage.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Remove Description from Edit Image Metadata
  horizon/static/framework/widgets/metadata/tree/metadata-tree-item.controller.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix "jQuery.fn.submit() event shorthand is deprecated" warning
  horizon/static/horizon/js/horizon.tables.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix deprecated use of 'jQuery.fn.change()' shorthand event
  horizon/static/horizon/js/horizon.users.js
  openstack_dashboard/static/js/horizon.instances.js
  openstack_dashboard/static/js/horizon.metering.js
  openstack_dashboard/static/js/horizon.networktopology.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110
