Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$

Fix redirect after deleting from details page
  horizon/static/framework/widgets/details/routed-details-view.controller.js
  horizon/static/framework/widgets/details/routed-details-view.controller.spec.js
  openstack_dashboard/static/app/core/keypairs/actions/delete.service.js
  openstack_dashboard/static/app/core/server_groups/actions/delete.action.service.js
  openstack_dashboard/static/app/core/server_groups/actions/delete.action.service.spec.js
  openstack_dashboard/static/app/core/trunks/actions/delete.action.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix success_url parameter issue for Edit Snapshot
  openstack_dashboard/dashboards/project/snapshots/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
  horizon/locale/ko_KR/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Update .gitreview for stable/zed
  .gitreview
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Switch to 2023.1 Python3 unit tests and generic template name
  .zuul.d/django-jobs.yaml
  .zuul.d/project.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Don't try and update port security if its not changing
  openstack_dashboard/dashboards/admin/networks/ports/tests.py
  openstack_dashboard/dashboards/project/networks/ports/tests.py
  openstack_dashboard/dashboards/project/networks/ports/workflows.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

Integration test navigation machinery for Angular pages
  horizon/test/webdriver.py
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.html
  openstack_dashboard/static/app/core/images/steps/edit-image/edit-image.html
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/integration_tests/pages/project/compute/imagespage.py
  openstack_dashboard/test/integration_tests/regions/forms.py
  openstack_dashboard/test/integration_tests/regions/tables.py
  openstack_dashboard/test/integration_tests/tests/test_images.py
  openstack_dashboard/test/integration_tests/tests/test_volumes.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Modified the image page to use CSS class
  openstack_dashboard/static/dashboard/scss/_util.scss
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add OPENSTACK_KEYSTONE_ENDPOINT_TYPE config opt
  doc/source/configuration/settings.rst
  openstack_auth/backend.py
  openstack_auth/defaults.py
  openstack_dashboard/api/keystone.py
  openstack_dashboard/defaults.py
  openstack_dashboard/test/unit/api/test_keystone.py
  releasenotes/notes/keystone-endpoint-type-ab4151eca35e04c0.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix flavor specification at instance overview page
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  horizon/locale/eo/LC_MESSAGES/django.po
  openstack_auth/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_Hans/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_Hant/LC_MESSAGES/djangojs.po
Due: none

Imported Translations from Zanata
  doc/source/locale/ko_KR/LC_MESSAGES/doc-admin.po
  horizon/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/cs/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_Hans/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_Hant/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
Due: none

Fix app cred create without project_id for domain admins
  openstack_dashboard/api/keystone.py
  openstack_dashboard/test/unit/api/test_keystone.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Make integration tests stop on first failure
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

zuul: Declare queue at top level
  .zuul.d/project.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix delete image tests.
  openstack_dashboard/test/integration_tests/basewebobject.py
  openstack_dashboard/test/integration_tests/pages/project/compute/imagespage.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  openstack_auth/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: none

Imported Translations from Zanata
  openstack_auth/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
Due: none

zuul: Declare queue at top level
  .zuul.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110
