Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  nodeset: debian-bullseye
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline

horizon-integration-tests:
  parent: devstack
  nodeset: devstack-single-node-debian-bookworm
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  required-projects:
  ...

horizon-integration-pytest:
  parent: devstack
  nodeset: devstack-single-node-debian-bookworm
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  required-projects:
  ...

horizon-ui-pytest:
  parent: devstack
  nodeset: devstack-single-node-debian-bookworm
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  required-projects:
  ...

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  vars:
    devstack_services:
      horizon: true
      tempest: true
    tempest_concurrency: 2
    tempest_test_regex: test_dashboard_basic_ops
    tox_envlist: all

horizon-tempest-plugin-ipv6:
  parent: devstack-tempest-ipv6
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  vars:
    devstack_services:
      horizon: true
      tempest: true
    tempest_concurrency: 2
    tempest_test_regex: test_dashboard_basic_ops
    tox_envlist: all

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

SDK for Neutron Subnetpools
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix Placement statistics display
  openstack_dashboard/api/placement.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Delete container show duplicate toast notifications
  openstack_dashboard/static/app/core/openstack-service-api/common-test.mock.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update horizon tests to use the RBAC new roles
  openstack_auth/policy.py
  openstack_dashboard/test/helpers.py
  openstack_dashboard/test/unit/api/rest/test_policy.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Keep new RBAC disable by default
  openstack_auth/policy.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

netaddr: fix IP conversion issues with netaddr>1.0.0
  horizon/forms/fields.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based UI tests add delete multiple image rows test
  openstack_dashboard/test/selenium/ui/test_actions.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based UI tests add basic browse settings tests
  openstack_dashboard/test/selenium/ui/test_browse.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
Due: none

Fix password_validator to accept regex expressions
  openstack_auth/forms.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update .gitreview for stable/2024.2
  .gitreview
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

pytest-based UI tests add fix form of comment
  openstack_dashboard/test/selenium/ui/test_actions.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

fix typos
  doc/source/configuration/settings.rst
Due: none

Deactivate/reactivate images
  openstack_dashboard/api/glance.py
  openstack_dashboard/api/rest/glance.py
  openstack_dashboard/karma.conf.js
  openstack_dashboard/static/app/core/images/actions/actions.module.js
  openstack_dashboard/static/app/core/images/actions/deactivate-image.service.js
  openstack_dashboard/static/app/core/images/actions/edit.action.service.js
  openstack_dashboard/static/app/core/images/actions/reactivate-image.service.js
  openstack_dashboard/static/app/core/images/steps/deactivate/deactivate.controller.js
  openstack_dashboard/static/app/core/images/steps/deactivate/deactivate.html
  openstack_dashboard/static/app/core/images/steps/update-metadata/update-metadata.help.html
  openstack_dashboard/static/app/core/openstack-service-api/glance.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

[CI] Remove periodic jobs from unmaintained branch
  .zuul.d/project.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based UI tests add fix create instance
  openstack_dashboard/test/selenium/integration/conftest.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based tests add fix more specific css selector
  openstack_dashboard/test/selenium/widgets.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

cinder: Use 'block-storage' service type to detect cinder
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/admin/group_types/panel.py
  openstack_dashboard/dashboards/admin/info/tabs.py
  openstack_dashboard/dashboards/admin/snapshots/panel.py
  openstack_dashboard/dashboards/admin/volume_types/panel.py
  openstack_dashboard/dashboards/admin/volumes/panel.py
  openstack_dashboard/dashboards/project/backups/panel.py
  openstack_dashboard/dashboards/project/snapshots/panel.py
  openstack_dashboard/dashboards/project/snapshots/tests.py
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/dashboards/project/vg_snapshots/panel.py
  openstack_dashboard/dashboards/project/volume_groups/panel.py
  openstack_dashboard/dashboards/project/volumes/panel.py
  openstack_dashboard/static/app/core/images/actions/create-volume.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

tox: Drop envdir
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix typo in metadef for Cinder Volume Type
  openstack_dashboard/static/app/core/metadata/metadata.service.js
  releasenotes/notes/change-metadef-for-cinder-volume-type-f65dd215d2a3ce75.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

[stable-only] Cap setuptools <71.0.0
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based UI tests add fix not interactable element
  openstack_dashboard/test/selenium/ui/test_browse.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Replace deprecated functions in datetime
  horizon/utils/functions.py
  openstack_dashboard/api/swift.py
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix integration tests image cirros version, ignore doc line length
  openstack_dashboard/test/integration_tests/horizon.conf
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix generation of inventory capacities
  openstack_dashboard/api/placement.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based tests move help_url test
  openstack_dashboard/test/selenium/integration/test_settings.py
  openstack_dashboard/test/selenium/ui/test_settings.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based tests add fix tooltip obscures
  openstack_dashboard/test/selenium/integration/test_instances.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update .gitreview for unmaintained/2023.1
  .gitreview
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

reno: Update master for unmaintained/2023.1
  releasenotes/source/2023.1.rst
Due: none

SDK for Neutron Routers
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/project/routers/tables.py
  openstack_dashboard/dashboards/project/routers/views.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop USE_L10N
  horizon/test/settings.py
  openstack_dashboard/management/commands/upgrade_check.py
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Configuring tests for different themes - ui unification
  openstack_dashboard/test/selenium/conftest.py
  openstack_dashboard/test/selenium/integration/test_images.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-integration-pytest: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-ui-pytest: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
