Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline

horizon-integration-tests:
  parent: devstack
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  required-projects:
  - openstack/horizon
  - openstack/requirements
  vars:
  ...

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_services:
      horizon: true
      tempest: true
    tempest_concurrency: 2
    tempest_test_regex: horizon
    tempest_plugins:
    - tempest-horizon
  ...

horizon-tempest-plugin-ipv6:
  parent: devstack-tempest-ipv6
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_services:
      horizon: true
      tempest: true
    tempest_concurrency: 2
    tempest_test_regex: horizon
    tempest_plugins:
    - tempest-horizon
  ...

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

Imported Translations from Zanata
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
Due: none

Add default_availability_zone for VM creation
  doc/source/configuration/settings.rst
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/defaults.py
  releasenotes/notes/add_default_availability_zone-9c070832b2992958.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
Due: none

Fix tooltips and popovers for flavor details on the instance list.
  openstack_dashboard/dashboards/project/instances/templates/instances/_instance_flavor.html
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Make word wrapping consistent
  openstack_dashboard/dashboards/admin/info/tables.py
  openstack_dashboard/dashboards/admin/instances/tables.py
  openstack_dashboard/dashboards/admin/networks/agents/tables.py
  openstack_dashboard/dashboards/admin/snapshots/tables.py
  openstack_dashboard/dashboards/admin/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix Unable to use multiattach volume as boot for new server
  openstack_dashboard/api/microversions.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Enable CSRF token handling for PUT and PATCH reqs
  openstack_dashboard/static/app/app.module.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix create/update_port with python3
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Change with_data=False for swift_get_container
  openstack_dashboard/api/swift.py
  openstack_dashboard/test/unit/api/test_swift.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop cinder v2 API support
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/admin/info/tabs.py
  openstack_dashboard/dashboards/admin/snapshots/panel.py
  openstack_dashboard/dashboards/admin/volume_types/panel.py
  openstack_dashboard/dashboards/admin/volumes/panel.py
  openstack_dashboard/dashboards/admin/volumes/tests.py
  openstack_dashboard/dashboards/project/backups/panel.py
  openstack_dashboard/dashboards/project/snapshots/panel.py
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/dashboards/project/volumes/panel.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/static/app/core/images/actions/create-volume.service.js
  openstack_dashboard/test/test_data/cinder_data.py
  openstack_dashboard/test/test_data/keystone_data.py
  openstack_dashboard/test/unit/api/rest/test_keystone.py
  openstack_dashboard/test/unit/api/test_cinder.py
  releasenotes/notes/cinder-v3-only-daae11ff71a26ba7.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Clean up the workaround of cinderclient v2->v3 transition
  lower-constraints.txt
  openstack_dashboard/test/test_data/cinder_data.py
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add POST/Redirect/GET for Domains dashboard
  openstack_dashboard/dashboards/identity/domains/tables.py
  openstack_dashboard/dashboards/identity/domains/tests.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix the instances pagination integration tests
  openstack_dashboard/test/integration_tests/pages/project/volumes/volumespage.py
  openstack_dashboard/test/integration_tests/tests/test_floatingips.py
  openstack_dashboard/test/integration_tests/tests/test_images.py
  openstack_dashboard/test/integration_tests/tests/test_instances.py
  openstack_dashboard/test/integration_tests/tests/test_keypairs.py
  openstack_dashboard/test/integration_tests/tests/test_volumes.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Handle an attached volume without volume_image_metadata
  openstack_dashboard/dashboards/project/instances/tabs.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add Create QoS operation to Network QoS Panel
  openstack_dashboard/api/rest/neutron.py
  openstack_dashboard/enabled/_1510_project_network_qos_panel.py
  openstack_dashboard/static/app/core/network_qos/actions/actions.module.js
  openstack_dashboard/static/app/core/network_qos/actions/actions.module.spec.js
  openstack_dashboard/static/app/core/network_qos/actions/create.action.service.js
  openstack_dashboard/static/app/core/network_qos/actions/create.action.service.spec.js
  openstack_dashboard/static/app/core/network_qos/actions/workflow/workflow.service.js
  openstack_dashboard/static/app/core/network_qos/actions/workflow/workflow.service.spec.js
  openstack_dashboard/static/app/core/openstack-service-api/neutron.service.js
  openstack_dashboard/static/app/core/openstack-service-api/neutron.service.spec.js
  releasenotes/notes/network_qos-ee068d073e86de76.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Show image names at Admin-Instances dashboard
  openstack_dashboard/api/glance.py
  openstack_dashboard/dashboards/admin/instances/tests.py
  openstack_dashboard/dashboards/admin/instances/views.py
  openstack_dashboard/test/unit/api/test_glance.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Proper title for Format column
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Changes for tacker-horizon integration tests
  openstack_dashboard/test/integration_tests/regions/menus.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Sync default policy rules
  openstack_dashboard/conf/default_policies/glance.yaml
  openstack_dashboard/conf/default_policies/keystone.yaml
  openstack_dashboard/conf/default_policies/neutron.yaml
  openstack_dashboard/conf/default_policies/nova.yaml
  openstack_dashboard/conf/glance_policy.yaml
  openstack_dashboard/conf/keystone_policy.yaml
  openstack_dashboard/conf/neutron_policy.yaml
  openstack_dashboard/conf/nova_policy.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Escape unicode characters when setting logout_reason cookie
  horizon/templates/auth/_login_form.html
  horizon/templates/auth/_password_form.html
  horizon/utils/functions.py
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  horizon/locale/ru/LC_MESSAGES/django.po
  openstack_auth/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Retrieve volume groups after filtering by project
  openstack_dashboard/dashboards/admin/volumes/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Support Django 3.0 and 3.1 support (1)
  horizon/decorators.py
  openstack_auth/views.py
  openstack_dashboard/api/rest/utils.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add horizontal scrollbar to role dropdown
  openstack_dashboard/static/dashboard/scss/components/_membership.scss
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Support Django 3.0 and 3.1 support (2)
  openstack_dashboard/dashboards/identity/users/forms.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Support Django 3.0 and 3.1 support (3)
  openstack_dashboard/dashboards/project/instances/tests.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Support Django 3.0 and 3.1 support (4)
  openstack_dashboard/dashboards/admin/aggregates/tests.py
  openstack_dashboard/test/helpers.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Clean up extra spaces
  horizon/static/horizon/lib/jquery/jquery.bootstrap.wizard.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Support Django 3.2 support (1)
  openstack_dashboard/test/helpers.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Support Django 3.2 support (3)
  horizon/tables/base.py
  horizon/test/unit/tables/test_tables.py
  horizon/test/unit/test_base.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
