Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-integration-pytest: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-ui-pytest: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$

Fixing basePath in Server Groups description
  openstack_dashboard/static/app/core/server_groups/actions/create.action.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Pass the value of STATIC_URL to the scss variable.
  horizon/utils/scss_filter.py
  openstack_dashboard/static/dashboard/scss/_variables.scss
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add release note about "Defaults" Tab
  releasenotes/notes/defaults-tab-rename.yaml
Due: none

Add TOTP credential generation
  openstack_dashboard/dashboards/identity/credentials/forms.py
  openstack_dashboard/dashboards/identity/credentials/templates/credentials/_create.html
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

remove unicode from files and update configuration for documentation
  doc/source/conf.py
  openstack_dashboard/local/local_settings.py.example
  openstack_dashboard/management/commands/update_catalog.py
  releasenotes/source/conf.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

docs: fix mistakes in documentation
  doc/source/admin/manage-instances.rst
  doc/source/admin/manage-volumes.rst
  doc/source/admin/sessions.rst
  doc/source/admin/set-quotas.rst
  doc/source/user/launch-instances.rst
  doc/source/user/log-in.rst
  doc/source/user/manage-volumes.rst
Due: none

docs: using uppercase for encryption type
  doc/source/admin/manage-volumes.rst
Due: none

Fix small mistakes in release notes
  releasenotes/notes/admin-state-variable.yaml
  releasenotes/notes/remove-rxtx-factor.yaml
Due: none

Fix small mistake in release notes
  releasenotes/notes/admin-state-variable.yaml
Due: none

Remove installation guide for openSUSE/SLES
  doc/source/install/install-obs.rst
  doc/source/install/verify-obs.rst
Due: none

Language selection in config
  doc/source/configuration/settings.rst
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

fix spelling of "horizon"
  horizon/forms/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Make keypair name validation case insensitive
  openstack_dashboard/static/app/core/keypairs/actions/create.service.js
  openstack_dashboard/static/app/core/keypairs/actions/import.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Enable redirect URL check
  openstack_auth/tests/unit/test_auth.py
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Make role name validation case insensitive
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/create.action.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Instead of a text, variables are sent to translation system
  openstack_dashboard/dashboards/project/instances/templates/instances/_instance_flavor.html
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop unused logger override for pyScss
  openstack_dashboard/local/local_settings.py.example
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Replace deprecated django.utils.datetime_safe
  openstack_auth/tests/data_v3.py
  openstack_dashboard/test/test_data/keystone_data.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update bug tracker for ironic UI
  plugin-registry.csv
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add credential details with QR code for TOTP
  openstack_dashboard/dashboards/identity/credentials/tables.py
  openstack_dashboard/dashboards/identity/credentials/templates/credentials/_detail_overview.html
  openstack_dashboard/dashboards/identity/credentials/templates/credentials/detail.html
  openstack_dashboard/dashboards/identity/credentials/urls.py
  openstack_dashboard/dashboards/identity/credentials/views.py
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests for 2FA
  openstack_dashboard/test/selenium/integration/test_user_credentials.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add release note about instances cold migration.
  releasenotes/notes/allow-non-admins-cold-migrate.yaml
Due: none

Fix security group renderring in port overview (4)
  openstack_dashboard/dashboards/admin/networks/ports/tests.py
  openstack_dashboard/dashboards/project/networks/ports/tabs.py
  openstack_dashboard/dashboards/project/networks/ports/tests.py
  openstack_dashboard/dashboards/project/networks/ports/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Skip tests for plugin-registry.csv update
  .zuul.d/base.yaml
  .zuul.d/tempest-and-integrated.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Don't hide region and domain on login screen when using other auth methods
  horizon/static/auth/login/login-finder.directive.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Revert "pytest-based selenium tests for 2FA"
  openstack_dashboard/test/selenium/integration/test_user_credentials.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

SDK for Neutron Security Groups
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

fix small mistake in text error
  openstack_dashboard/dashboards/project/floating_ip_portforwardings/workflows.py
  openstack_dashboard/dashboards/project/floating_ips/workflows.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Correct "Update Defaults" button
  doc/source/admin/set-quotas.rst
  openstack_dashboard/dashboards/admin/defaults/tables.py
  openstack_dashboard/dashboards/admin/defaults/workflows.py
  openstack_dashboard/test/selenium/integration/test_defaults.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Make "Delete Volume on Instance Delete" configurable
  doc/source/configuration/settings.rst
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.spec.js
  releasenotes/notes/configurable-volume-delete.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Revert "Revert "pytest-based selenium tests for 2FA""
  openstack_dashboard/test/selenium/integration/test_user_credentials.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based UI tests add new 2FA panel into browse test
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/selenium/ui/test_browse.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Added support for all Neutron port VNIC types
  openstack_dashboard/api/neutron.py
  releasenotes/notes/new-vnic-types-supported-ef211ff036712ce3.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

SDK for Neutron QoS
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/selenium/ui/test_actions.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/rest/test_neutron.py
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add keycloak OIDC based federation tests
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/selenium/conftest.py
  openstack_dashboard/test/selenium/integration/test_federation_login.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110
