Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-integration-pytest: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-ui-pytest: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$

Remove Neutron LBaaS device owner code
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/project/floating_ips/tables.py
  openstack_dashboard/test/unit/api/test_neutron.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Don't create image property "architecture" if it's empty
  openstack_dashboard/static/app/core/openstack-service-api/glance.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

List ports with project_id.
  openstack_dashboard/api/rest/neutron.py
  openstack_dashboard/dashboards/admin/networks/ports/tests.py
  openstack_dashboard/dashboards/admin/networks/tests.py
  openstack_dashboard/dashboards/project/networks/ports/tabs.py
  openstack_dashboard/dashboards/project/networks/ports/tests.py
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/test/unit/api/rest/test_neutron.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

SDK for Neutron RBAC policies
  openstack_dashboard/api/neutron.py
  openstack_dashboard/test/test_data/neutron_data.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Replace outdated URL in code comment
  openstack_dashboard/api/rest/neutron.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Added missing statuses for volumes
  openstack_dashboard/dashboards/project/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Remove unicode prefix from code
  openstack_dashboard/test/unit/api/test_keystone.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Make integration tests stop on first failure
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Bump hacking
  horizon/middleware/base.py
  horizon/test/settings.py
  horizon/utils/babel_extract_angular.py
  openstack_dashboard/api/keystone.py
  openstack_dashboard/api/rest/neutron.py
  openstack_dashboard/api/swift.py
  openstack_dashboard/context_processors.py
  openstack_dashboard/dashboards/admin/networks/tests.py
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/dashboards/project/routers/tests.py
  openstack_dashboard/test/integration_tests/pages/admin/system/metadatadefinitionspage.py
  openstack_dashboard/test/integration_tests/tests/test_images.py
  openstack_dashboard/test/integration_tests/tests/test_login.py
  openstack_dashboard/test/selenium/integration/conftest.py
  openstack_dashboard/test/selenium/integration/test_credentials.py
  openstack_dashboard/test/selenium/integration/test_defaults.py
  openstack_dashboard/test/selenium/integration/test_floatingips.py
  openstack_dashboard/test/selenium/integration/test_groups.py
  openstack_dashboard/test/selenium/integration/test_grouptypes.py
  openstack_dashboard/test/selenium/integration/test_host_aggregates.py
  openstack_dashboard/test/selenium/integration/test_images.py
  openstack_dashboard/test/selenium/integration/test_instances.py
  openstack_dashboard/test/selenium/integration/test_keypairs.py
  openstack_dashboard/test/selenium/integration/test_metadata_definitions.py
  openstack_dashboard/test/selenium/integration/test_networks.py
  openstack_dashboard/test/selenium/integration/test_projects.py
  openstack_dashboard/test/selenium/integration/test_routers.py
  openstack_dashboard/test/selenium/integration/test_security_groups.py
  openstack_dashboard/test/selenium/integration/test_user_credentials.py
  openstack_dashboard/test/selenium/integration/test_users.py
  openstack_dashboard/test/selenium/integration/test_volume_snapshots.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
  openstack_dashboard/test/selenium/integration/test_volumetypes.py
  openstack_dashboard/test/selenium/ui/test_actions.py
  openstack_dashboard/test/selenium/ui/test_hypervisors.py
  openstack_dashboard/test/selenium/ui/test_settings.py
  openstack_dashboard/test/selenium/widgets.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Deprecation of distutils module
  openstack_dashboard/management/commands/extract_messages.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop EC2 credential download/recreation
  openstack_dashboard/api/keystone.py
  openstack_dashboard/dashboards/project/api_access/forms.py
  openstack_dashboard/dashboards/project/api_access/tables.py
  openstack_dashboard/dashboards/project/api_access/templates/api_access/_credentials.html
  openstack_dashboard/dashboards/project/api_access/templates/api_access/ec2rc.sh.template
  openstack_dashboard/dashboards/project/api_access/templates/api_access/recreate_credentials.html
  openstack_dashboard/dashboards/project/api_access/tests.py
  openstack_dashboard/dashboards/project/api_access/urls.py
  openstack_dashboard/dashboards/project/api_access/views.py
  openstack_dashboard/test/test_data/keystone_data.py
  releasenotes/notes/remove-ec2-creds-7869cba1e7e13af1.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/ru/LC_MESSAGES/doc-user.po
  horizon/locale/ru/LC_MESSAGES/django.po
  horizon/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: none

Fix small mistakes in phrases and prevent problems with translation to another languages
  openstack_dashboard/dashboards/project/networks/subnets/tests.py
  openstack_dashboard/dashboards/project/networks/templates/networks/subnets/_detail_overview.html
  openstack_dashboard/dashboards/project/networks/workflows.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix small mistakes in documentation with Horizon naming and update URL for documentation to python 3
  doc/source/install/from-source.rst
Due: none

Imported Translations from Zanata
  doc/source/locale/ru/LC_MESSAGES/doc-admin.po
  doc/source/locale/ru/LC_MESSAGES/doc-install.po
  doc/source/locale/ru/LC_MESSAGES/doc-user.po
  doc/source/locale/ru/LC_MESSAGES/doc.po
  horizon/locale/ru/LC_MESSAGES/django.po
  horizon/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

pytest-based selenium test wait for angular timeout
  openstack_dashboard/test/selenium/integration/test_images.py
  openstack_dashboard/test/selenium/integration/test_instances.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Replace remaining reference to JSON format policy files
  doc/source/admin/admin-manage-roles.rst
  doc/source/contributor/topics/policy.rst
  doc/source/contributor/topics/tables.rst
Due: none

Use systemctl command to manage service
  doc/source/contributor/topics/profiling.rst
  doc/source/install/from-source.rst
Due: none

pytest-based selenium test fix test import path
  openstack_dashboard/test/selenium/integration/test_keypairs.py
  openstack_dashboard/test/selenium/integration/test_routers.py
  openstack_dashboard/test/selenium/integration/test_volume_snapshots.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix name button for create / edit roles forms
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/create.action.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/roles/actions/edit.action.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
Due: none

pytest-based tests fix login fixture
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/selenium/conftest.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

SDK subnetpools: change prefixlen fields as SDK calls them
  horizon/static/horizon/js/horizon.forms.js
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/dashboards/project/networks/workflows.py
  openstack_dashboard/test/test_data/neutron_data.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

User status has been changed to a more correct one if it does not meet the conditions in group users list
  openstack_dashboard/dashboards/identity/groups/tables.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based tests fix HEADLESS run setting
  openstack_dashboard/test/selenium/conftest.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

docs: remove outdated glossary
  doc/source/contributor/intro.rst
  doc/source/glossary.rst
  doc/source/index.rst
Due: none

pytest-based tests individual timeout for message check
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/selenium/conftest.py
  openstack_dashboard/test/selenium/integration/test_defaults.py
  openstack_dashboard/test/selenium/integration/test_flavors.py
  openstack_dashboard/test/selenium/integration/test_floatingips.py
  openstack_dashboard/test/selenium/integration/test_groups.py
  openstack_dashboard/test/selenium/integration/test_grouptypes.py
  openstack_dashboard/test/selenium/integration/test_host_aggregates.py
  openstack_dashboard/test/selenium/integration/test_images.py
  openstack_dashboard/test/selenium/integration/test_instances.py
  openstack_dashboard/test/selenium/integration/test_keypairs.py
  openstack_dashboard/test/selenium/integration/test_metadata_definitions.py
  openstack_dashboard/test/selenium/integration/test_networks.py
  openstack_dashboard/test/selenium/integration/test_projects.py
  openstack_dashboard/test/selenium/integration/test_routers.py
  openstack_dashboard/test/selenium/integration/test_security_groups.py
  openstack_dashboard/test/selenium/integration/test_user_credentials.py
  openstack_dashboard/test/selenium/integration/test_users.py
  openstack_dashboard/test/selenium/integration/test_volume_snapshots.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
  openstack_dashboard/test/selenium/integration/test_volumetypes.py
  openstack_dashboard/test/selenium/ui/test_actions.py
  openstack_dashboard/test/selenium/ui/test_settings.py
  openstack_dashboard/test/selenium/widgets.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

fix small mistake in code comment
  openstack_dashboard/api/nova.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

docs: remove double point
  doc/source/user/log-in.rst
Due: none

docs: remove information about Xen
  doc/source/user/launch-instances.rst
Due: none

docs: fix small mistake with Volume Snapshots tab
  doc/source/user/manage-volumes.rst
Due: none

docs: fix small mistake with Key Pair
  doc/source/admin/set-quotas.rst
  doc/source/user/launch-instances.rst
Due: none

fix forgot space in phrases
  openstack_dashboard/dashboards/identity/projects/workflows.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110
