Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$

Speed up integration tests
  openstack_dashboard/test/integration_tests/regions/forms.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Pass real client IP to keystoneauth original_ip
  openstack_dashboard/api/keystone.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop py36 and py37 support
  .zuul.d/xstatic-master.yaml
  setup.cfg
  setup.py
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Lorius functioning with changes
  ca.back
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop lower-constraints.txt and its testing
  .zuul.d/project.yaml
  lower-constraints.txt
  requirements.txt
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop Nodejs14 job
  .zuul.d/nodejs-jobs.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update OPENSTACK_ENDPOINT_TYPE documentation
  doc/source/configuration/settings.rst
Due: none

Update nodejs version in parent job of "horizon-cross-ironic-ui-npm"
  .zuul.d/cross-jobs.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Migrate to AngularJS v1.8.2
  horizon/static/framework/framework.module.spec.js
  horizon/static/framework/util/http/http.spec.js
  horizon/static/framework/widgets/metadata/display/metadata-display.controller.js
  horizon/static/framework/widgets/metadata/tree/metadata-tree-item.controller.js
  horizon/static/framework/widgets/metadata/tree/metadata-tree.controller.js
  horizon/static/framework/widgets/property/hz-resource-property.controller.js
  horizon/static/framework/widgets/wizard/wizard.spec.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/delete.service.js
  openstack_dashboard/dashboards/identity/static/dashboard/identity/domains/actions/delete.service.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/containers.controller.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/objects-row-actions.service.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/karma.conf.js
  openstack_dashboard/static/app/app.module.js
  openstack_dashboard/static/app/core/images/actions/delete-image.service.js
  openstack_dashboard/static/app/core/images/images.service.spec.js
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.controller.js
  openstack_dashboard/static/app/core/images/steps/create-image/create-image.controller.spec.js
  openstack_dashboard/static/app/core/images/steps/create-volume/create-volume.controller.js
  openstack_dashboard/static/app/core/images/steps/create-volume/create-volume.controller.spec.js
  openstack_dashboard/static/app/core/network_qos/actions/delete.action.service.spec.js
  openstack_dashboard/static/app/core/openstack-service-api/cinder.service.js
  openstack_dashboard/static/app/core/openstack-service-api/common-test.mock.js
  openstack_dashboard/static/app/core/openstack-service-api/glance.service.js
  openstack_dashboard/static/app/core/openstack-service-api/keystone.service.js
  openstack_dashboard/static/app/core/openstack-service-api/network.service.js
  openstack_dashboard/static/app/core/openstack-service-api/neutron.service.js
  openstack_dashboard/static/app/core/openstack-service-api/neutron.service.spec.js
  openstack_dashboard/static/app/core/openstack-service-api/nova.service.js
  openstack_dashboard/static/app/core/openstack-service-api/nova.service.spec.js
  openstack_dashboard/static/app/core/openstack-service-api/policy.service.js
  openstack_dashboard/static/app/core/openstack-service-api/policy.service.spec.js
  openstack_dashboard/static/app/core/openstack-service-api/security-group.service.js
  openstack_dashboard/static/app/core/openstack-service-api/settings.service.js
  openstack_dashboard/static/app/core/openstack-service-api/settings.service.spec.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.spec.js
  openstack_dashboard/static/app/core/server_groups/actions/delete.action.service.spec.js
  openstack_dashboard/static/app/core/trunks/actions/delete.action.service.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

zuul: Declare queue at top level
  .zuul.d/project.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Make existing empty metadata properties optional
  horizon/static/framework/widgets/metadata/tree/metadata-tree-item.html
  horizon/static/framework/widgets/metadata/tree/tree.service.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix Create Container issues
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/containers-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/containers-model.service.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/containers/containers.controller.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  openstack_auth/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

Use SetUp and cleanup for the network pagination tests
  openstack_dashboard/test/integration_tests/tests/test_networks.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hans/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hant/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Add an option to use Google Chrome for Selenium tests
  horizon/test/webdriver.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix page titles for Angular panels
  horizon/static/framework/widgets/panel/hz-resource-panel.controller.js
  horizon/static/framework/widgets/panel/hz-resource-panel.controller.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
Due: none

Add setup and teardown to the volumes pagination tests
  openstack_dashboard/test/integration_tests/tests/test_volumes.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add setup and teardown to the instances pagination tests
  openstack_dashboard/test/integration_tests/tests/test_instances.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Get ports directly instead of via loop
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/utils.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Escape unicode characters when setting logout_reason cookie
  horizon/templates/auth/_login_form.html
  horizon/templates/auth/_password_form.html
  horizon/utils/functions.py
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix "Set admin password" checkbox visibility
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/keypair/keypair.html
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Pass client IP to keystoneauth1 session
  openstack_auth/backend.py
  openstack_auth/plugin/base.py
  openstack_auth/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Replace deprecated COMPRESS_CSS_FILTERS
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update Xstatic-angular version in ``requirements.txt``
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add new settings to LAUNCH_INSTANCE_DEFAULTS
  doc/source/configuration/settings.rst
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-workflow.service.js
  openstack_dashboard/defaults.py
  releasenotes/notes/add_enable_metadata_and_enable_net_ports_options-8213bb18558031a8.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add the filter function in c-bak dashboard for both Project & Admin
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/admin/backups/tables.py
  openstack_dashboard/dashboards/admin/backups/tests.py
  openstack_dashboard/dashboards/admin/backups/views.py
  openstack_dashboard/dashboards/project/backups/tables.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Extend settings with OPENSTACK_SERVER_DEFAULT_USER_DATA
  doc/source/configuration/settings.rst
  horizon/static/framework/widgets/load-edit/load-edit.directive.js
  horizon/static/framework/widgets/load-edit/load-edit.directive.spec.js
  openstack_dashboard/api/rest/config.py
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/configuration/configuration.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/defaults.py
  releasenotes/notes/add_default_user_data-76d9c17e474fc34e.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

volume-backup add incremental flag
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/project/backups/forms.py
  openstack_dashboard/dashboards/project/backups/tests.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/id/LC_MESSAGES/doc-configuration.po
  openstack_dashboard/locale/cs/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/eo/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/fr/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/id/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/it/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_Hans/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/zh_Hant/LC_MESSAGES/djangojs.po
Due: none

Add cinder-user-facing messages for Backup
  openstack_dashboard/api/cinder.py
  openstack_dashboard/dashboards/admin/backups/tabs.py
  openstack_dashboard/dashboards/admin/backups/templates/backups/_detail_overview.html
  openstack_dashboard/dashboards/admin/snapshots/tabs.py
  openstack_dashboard/dashboards/project/backups/tables.py
  openstack_dashboard/dashboards/project/backups/tabs.py
  openstack_dashboard/dashboards/project/backups/templates/backups/_detail_overview.html
  openstack_dashboard/dashboards/project/backups/tests.py
  openstack_dashboard/dashboards/project/snapshots/tabs.py
  openstack_dashboard/test/test_data/cinder_data.py
  releasenotes/notes/cinder-backup-cinder-messages-2127d04da3c82033.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Sync default policy rules
  openstack_dashboard/conf/default_policies/glance.yaml
  openstack_dashboard/conf/default_policies/neutron.yaml
  openstack_dashboard/conf/default_policies/nova.yaml
  openstack_dashboard/conf/glance_policy.yaml
  openstack_dashboard/conf/neutron_policy.yaml
  openstack_dashboard/conf/nova_policy.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix rescue of volume-based instances
  openstack_dashboard/api/microversions.py
  openstack_dashboard/api/nova.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110
