Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  nodeset: debian-bullseye
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline

horizon-integration-tests:
  parent: devstack
  nodeset: devstack-single-node-debian-bookworm
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  required-projects:
  ...

horizon-integration-pytest:
  parent: devstack
  nodeset: devstack-single-node-debian-bookworm
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  required-projects:
  ...

horizon-ui-pytest:
  parent: devstack
  nodeset: devstack-single-node-debian-bookworm
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  required-projects:
  ...

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  vars:
    devstack_services:
      horizon: true
      tempest: true
    tempest_concurrency: 2
    tempest_test_regex: test_dashboard_basic_ops
    tox_envlist: all

horizon-tempest-plugin-ipv6:
  parent: devstack-tempest-ipv6
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  vars:
    devstack_services:
      horizon: true
      tempest: true
    tempest_concurrency: 2
    tempest_test_regex: test_dashboard_basic_ops
    tox_envlist: all

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

Update filtering in the Images table
  openstack_dashboard/dashboards/project/images/images/tables.py
  openstack_dashboard/dashboards/project/images/images/tests.py
  openstack_dashboard/dashboards/project/images/tests.py
  openstack_dashboard/dashboards/project/images/views.py
  openstack_dashboard/dashboards/project/instances/tests.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

SDK for Nova services
  openstack_dashboard/api/nova.py
  openstack_dashboard/dashboards/admin/hypervisors/compute/tables.py
  openstack_dashboard/dashboards/admin/info/tables.py
  openstack_dashboard/test/test_data/nova_data.py
  openstack_dashboard/test/unit/api/rest/test_nova.py
  openstack_dashboard/test/unit/api/test_nova.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hans/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Drop reference to vitrage-dashboard
  plugin-registry.csv
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Don't pass domain_id to policy's credentials by default
  openstack_auth/policy.py
  openstack_auth/tests/unit/test_policy.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix Font Awesome 4 leftovers missed by the FA6 migration
  horizon/static/framework/widgets/table/table.scss
  openstack_dashboard/static/dashboard/scss/components/_checkboxes.scss
  openstack_dashboard/static/dashboard/scss/components/_network_topology_svg.scss
  openstack_dashboard/static/dashboard/scss/components/_radiobuttons.scss
  openstack_dashboard/static/js/horizon.networktopology.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add activate/deactivate row actions to Images table
  openstack_dashboard/dashboards/project/images/images/tables.py
  openstack_dashboard/dashboards/project/images/tests.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Regenerate default policy rules
  openstack_dashboard/conf/default_policies/glance.yaml
  openstack_dashboard/conf/default_policies/keystone.yaml
  openstack_dashboard/conf/default_policies/neutron.yaml
  openstack_dashboard/conf/default_policies/nova.yaml
  openstack_dashboard/conf/glance_policy.yaml
  openstack_dashboard/conf/keystone_policy.yaml
  openstack_dashboard/conf/neutron_policy.yaml
  openstack_dashboard/conf/nova_policy.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Constrain setuptools<82 due to pkg_resources deprecation
  .zuul.d/project.yaml
  build-constraints.txt
  tools/executable_files.txt
  tools/pip.sh
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add logout test
  openstack_dashboard/test/selenium/integration/test_federation_login.py
  openstack_dashboard/test/selenium/integration/test_services_regions.py
  openstack_dashboard/test/selenium/widgets.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix admin/hypervisors page performance with vGPU resource providers
  openstack_dashboard/api/placement.py
  openstack_dashboard/dashboards/admin/hypervisors/tabs.py
  openstack_dashboard/dashboards/admin/hypervisors/tests.py
  openstack_dashboard/test/selenium/ui/test_hypervisors.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix child ports detection for trunks
  openstack_dashboard/api/neutron.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  openstack_auth/locale/en_GB/LC_MESSAGES/django.po
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-user.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
Due: none

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-user.po
  doc/source/locale/eo/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  doc/source/locale/ru/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/cs/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_AU/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/eo/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/fr/LC_MESSAGES/django.po
  openstack_dashboard/locale/id/LC_MESSAGES/django.po
  openstack_dashboard/locale/it/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ka_GE/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ne/LC_MESSAGES/django.po
  openstack_dashboard/locale/pl_PL/LC_MESSAGES/django.po
  openstack_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hans/LC_MESSAGES/django.po
  openstack_dashboard/locale/zh_Hant/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix error messages for security groups
  openstack_dashboard/dashboards/project/security_groups/forms.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add services_regions tests
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/selenium/conftest.py
  openstack_dashboard/test/selenium/integration/conftest.py
  openstack_dashboard/test/selenium/integration/test_flavors.py
  openstack_dashboard/test/selenium/integration/test_regions.py
  openstack_dashboard/test/selenium/integration/test_services_regions.py
  openstack_dashboard/test/selenium/widgets.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix services_regions tests stability
  openstack_dashboard/test/selenium/integration/test_services_regions.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Remove identity_api_version from sample clouds.yaml
  openstack_dashboard/dashboards/identity/application_credentials/templates/application_credentials/clouds.yaml.template
  openstack_dashboard/dashboards/project/api_access/templates/api_access/clouds.yaml.template
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Disable usage of domain scope by default
  doc/source/configuration/settings.rst
  openstack_auth/defaults.py
  openstack_auth/policy.py
  openstack_dashboard/defaults.py
  releasenotes/notes/do-not-prefer-domain-token-5ae9442900e682d4.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add config option to hide hypervisor resource provider summary
  doc/source/configuration/settings.rst
  openstack_dashboard/dashboards/admin/hypervisors/templates/hypervisors/index.html
  openstack_dashboard/dashboards/admin/hypervisors/tests.py
  openstack_dashboard/dashboards/admin/hypervisors/views.py
  openstack_dashboard/defaults.py
  openstack_dashboard/local/local_settings.py.example
  releasenotes/notes/add-option-to-disable-hypervisor-resource-provider-overview.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add filtering to the image metadata form
  openstack_dashboard/dashboards/project/images/templates/images/images/_metadata.html
  openstack_dashboard/static/js/horizon.image_metadata.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Enable RBAC new defaults in horizon
  horizon/static/framework/framework.module.js
  horizon/static/framework/framework.module.spec.js
  openstack_auth/policy.py
  openstack_dashboard/dashboards/identity/projects/tests.py
  openstack_dashboard/dashboards/project/security_groups/tables.py
  openstack_dashboard/dashboards/project/security_groups/tests.py
  openstack_dashboard/dashboards/project/security_groups/views.py
  openstack_dashboard/static/app/core/openstack-service-api/keystone.service.js
  openstack_dashboard/static/app/core/openstack-service-api/keystone.service.spec.js
  openstack_dashboard/test/helpers.py
  releasenotes/notes/enable-rbac-new-defaults-2a940b4e6db1e2e6.yaml
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add Python 3.14 support
  .zuul.d/project.yaml
  doc/source/install/system-requirements.rst
  pyproject.toml
  releasenotes/notes/add-python-3.14-support-fdf1f1e3c8ae3a69.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add non-voting job to test Django 6.0
  .zuul.d/django-jobs.yaml
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Escape JSON embedded in inline script blocks
  horizon/test/unit/utils/test_escape.py
  horizon/utils/escape.py
  openstack_dashboard/dashboards/admin/metadata_defs/tests.py
  openstack_dashboard/dashboards/admin/metadata_defs/views.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/workflows/resize_instance.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/dashboards/project/volumes/views.py
  releasenotes/notes/bug-2163088-escape-json-in-script-0834b28e4137703d.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

doc: warn about the WebSSO Referer setting
  doc/source/configuration/settings.rst
Due: none

Add WEBSSO_ALLOWED_REFERER_HOSTS
  doc/source/configuration/settings.rst
  openstack_auth/defaults.py
  openstack_auth/tests/unit/test_auth.py
  openstack_auth/tests/unit/test_utils.py
  openstack_auth/utils.py
  openstack_auth/views.py
  releasenotes/notes/websso-allowed-referer-hosts-77825b43a2d4e019.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Build Content-Disposition with Django's helper
  horizon/utils/csvbase.py
  openstack_dashboard/api/rest/swift.py
  openstack_dashboard/dashboards/identity/application_credentials/views.py
  openstack_dashboard/dashboards/project/api_access/tests.py
  openstack_dashboard/dashboards/project/api_access/views.py
  openstack_dashboard/dashboards/project/key_pairs/views.py
  openstack_dashboard/dashboards/project/volumes/tests.py
  openstack_dashboard/dashboards/project/volumes/views.py
  openstack_dashboard/test/unit/api/rest/test_swift.py
  releasenotes/notes/fix-content-disposition-filenames-fa3ed3c67af0eb99.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/ru/LC_MESSAGES/doc-install.po
  doc/source/locale/ru/LC_MESSAGES/doc-user.po
  horizon/locale/ru/LC_MESSAGES/django.po
  horizon/locale/ru/LC_MESSAGES/djangojs.po
  openstack_auth/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  doc/source/locale/ru/LC_MESSAGES/doc-install.po
  doc/source/locale/ru/LC_MESSAGES/doc-user.po
  horizon/locale/ru/LC_MESSAGES/django.po
  horizon/locale/ru/LC_MESSAGES/djangojs.po
  openstack_auth/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/django.po
  openstack_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: none

Update incorrect help text
  openstack_dashboard/dashboards/admin/flavors/workflows.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix spelling and grammar in settings documentation
  doc/source/configuration/settings.rst
Due: none

Build flavor test data with openstacksdk
  openstack_dashboard/dashboards/admin/flavors/tests.py
  openstack_dashboard/test/test_data/nova_data.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Remove dead usages_json from the resize workflow
  openstack_dashboard/dashboards/project/instances/workflows/resize_instance.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

xstatic is not a runtime dep of horizon
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix flaky test_image_filtration_admin test
  openstack_dashboard/test/selenium/integration/test_images.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-integration-pytest, horizon-ui-pytest, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-integration-pytest: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-ui-pytest: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
