Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$

pytest-based selenium tests switch zuul job to voting
  .zuul.d/project.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix Users/Groups tab list when a domain context is set
  openstack_dashboard/dashboards/identity/projects/tabs.py
  openstack_dashboard/dashboards/identity/projects/tests.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Respect SSL settings in placement API
  openstack_dashboard/api/placement.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Show availability zone for volume backups
  openstack_dashboard/dashboards/admin/backups/tables.py
  openstack_dashboard/dashboards/admin/backups/templates/backups/_detail_overview.html
  openstack_dashboard/dashboards/project/backups/tables.py
  openstack_dashboard/dashboards/project/backups/templates/backups/_detail_overview.html
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Show Created At column for backups table
  openstack_dashboard/dashboards/admin/backups/tables.py
  openstack_dashboard/dashboards/project/backups/tables.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Remove old excludes
  doc/requirements.txt
  requirements.txt
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop pymongo from requirements
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update .gitreview for unmaintained/zed
  .gitreview
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

reno: Update master for unmaintained/zed
  releasenotes/source/zed.rst
Due: none

Remove deprecated exceptions.check_message
  horizon/exceptions.py
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add tests stability improvements
  openstack_dashboard/test/selenium/integration/conftest.py
  openstack_dashboard/test/selenium/integration/test_images.py
  openstack_dashboard/test/selenium/integration/test_instances.py
  openstack_dashboard/test/selenium/integration/test_routers.py
  openstack_dashboard/test/selenium/integration/test_volume_snapshots.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
  openstack_dashboard/test/selenium/widgets.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update cirros image to cirros-0.5.3-x86_64
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add clarification of RC file naming
  openstack_dashboard/test/selenium/integration/test_credentials.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add fix instance deleted assertion
  openstack_dashboard/test/selenium/integration/test_instances.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix the display of 'None' in the Volumes table
  openstack_dashboard/dashboards/project/volumes/tables.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Support choice of volume type in instance create
  openstack_dashboard/api/microversions.py
  openstack_dashboard/api/nova.py
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.help.html
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.html
  openstack_dashboard/test/unit/api/test_nova.py
  releasenotes/notes/instance-volume-type-e79d607de15e1a24.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Replace pytz by built-in library
  horizon/middleware/base.py
  horizon/test/unit/middleware/test_base.py
  openstack_auth/backend.py
  openstack_dashboard/api/rest/config.py
  openstack_dashboard/dashboards/settings/user/forms.py
  releasenotes/notes/remove-py38-6914ddb9fdf4cacd.yaml
  requirements.txt
  setup.cfg
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add fix image modal instability
  openstack_dashboard/test/selenium/integration/test_images.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix url for default volume type call to backend
  openstack_dashboard/static/app/core/openstack-service-api/cinder.service.js
  openstack_dashboard/static/app/core/openstack-service-api/cinder.service.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Force scope when listing domains
  openstack_dashboard/api/keystone.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Allow non-admins to cold migrate instances
  openstack_dashboard/dashboards/admin/instances/tables.py
  openstack_dashboard/dashboards/project/instances/tables.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

SDK for Neutron networks and subnets
  horizon/tables/base.py
  openstack_dashboard/api/neutron.py
  openstack_dashboard/dashboards/admin/networks/subnets/tests.py
  openstack_dashboard/dashboards/admin/networks/tables.py
  openstack_dashboard/dashboards/admin/networks/tests.py
  openstack_dashboard/dashboards/admin/networks/views.py
  openstack_dashboard/dashboards/project/instances/tests.py
  openstack_dashboard/dashboards/project/instances/utils.py
  openstack_dashboard/dashboards/project/network_topology/tests.py
  openstack_dashboard/dashboards/project/network_topology/views.py
  openstack_dashboard/dashboards/project/networks/subnets/tests.py
  openstack_dashboard/dashboards/project/networks/subnets/views.py
  openstack_dashboard/dashboards/project/networks/tables.py
  openstack_dashboard/dashboards/project/networks/tabs.py
  openstack_dashboard/dashboards/project/networks/templates/networks/_detail_overview.html
  openstack_dashboard/dashboards/project/networks/tests.py
  openstack_dashboard/dashboards/project/networks/views.py
  openstack_dashboard/dashboards/project/routers/tests.py
  openstack_dashboard/test/test_data/neutron_data.py
  openstack_dashboard/test/unit/api/rest/test_network.py
  openstack_dashboard/test/unit/api/test_network.py
  openstack_dashboard/test/unit/api/test_neutron.py
  openstack_dashboard/utils/filters.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

feat: add clouds.yaml download in menu
  openstack_dashboard/settings.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Delete container show duplicate toast notifications
  openstack_dashboard/static/app/core/openstack-service-api/common-test.mock.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.js
  openstack_dashboard/static/app/core/openstack-service-api/swift.service.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Replace use of testtools.testcase.TestSkipped
  openstack_dashboard/test/integration_tests/decorators.py
  openstack_dashboard/test/integration_tests/helpers.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add fix image modal instability 2
  openstack_dashboard/test/selenium/integration/test_images.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update USER_MENU_LINKS
  doc/source/configuration/settings.rst
Due: none

feat: add floating IP address field under Project Dashboard
  openstack_dashboard/dashboards/project/floating_ips/forms.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update job nodesets from bullseye to bookworm
  .zuul.d/base.yaml
  .zuul.d/nodejs-jobs.yaml
  .zuul.d/project.yaml
  .zuul.d/tempest-and-integrated.yaml
  openstack_dashboard/test/selenium/integration/test_floatingips.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Test for displayed volumes without attachments
  openstack_dashboard/dashboards/project/volumes/tests.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop old integration tests job
  .zuul.d/project.yaml
  .zuul.d/tempest-and-integrated.yaml
  .zuul.d/xstatic-master.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update xstatic-jquery-ui min. version to include latest CVE fix
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add fix test_disassociate_floatingip
  openstack_dashboard/test/selenium/integration/test_floatingips.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Prevent KeyError when getting value of optional key
  openstack_dashboard/dashboards/admin/aggregates/workflows.py
  openstack_dashboard/dashboards/identity/application_credentials/forms.py
  openstack_dashboard/dashboards/identity/users/forms.py
  openstack_dashboard/dashboards/project/instances/workflows/update_instance.py
  openstack_dashboard/dashboards/project/networks/subnets/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Use Placement API along with the hypervisor stats
  openstack_dashboard/api/__init__.py
  openstack_dashboard/api/placement.py
  openstack_dashboard/dashboards/admin/hypervisors/tables.py
  openstack_dashboard/dashboards/admin/hypervisors/tabs.py
  openstack_dashboard/dashboards/admin/hypervisors/templates/hypervisors/index.html
  openstack_dashboard/dashboards/admin/hypervisors/tests.py
  openstack_dashboard/dashboards/admin/hypervisors/views.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110
