Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

horizon-openstack-tox-base:
  parent: openstack-tox

horizon-selenium-headless:
  parent: horizon-openstack-tox-base
  pre-run: playbooks/horizon-selenium-headless/pre.yaml
  vars:
    tox_envlist: selenium-headless

horizon-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline

horizon-integration-tests:
  parent: devstack
  pre-run: playbooks/horizon-devstack-integration/pre.yaml
  run: playbooks/horizon-devstack-integration/run.yaml
  post-run: playbooks/horizon-devstack-integration/post.yaml
  roles:
  - zuul: openstack-infra/devstack
  required-projects:
  - openstack/horizon
  - openstack/requirements
  vars:
  ...

horizon-dsvm-tempest-plugin:
  parent: devstack-tempest
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_services:
      horizon: true
      tempest: true
    tempest_concurrency: 2
    tempest_test_regex: horizon
    tempest_plugins:
    - tempest-horizon
  ...

horizon-tempest-plugin-ipv6:
  parent: devstack-tempest-ipv6
  required-projects:
  - name: openstack/horizon
  - name: openstack/tempest
  - name: openstack/tempest-horizon
  vars:
    devstack_services:
      horizon: true
      tempest: true
    tempest_concurrency: 2
    tempest_test_regex: horizon
    tempest_plugins:
    - tempest-horizon
  ...

horizon-openstack-tox-py27dj18:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj18

horizon-openstack-tox-py27dj19:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj19

horizon-openstack-tox-py27dj110:
  parent: horizon-openstack-tox-base
  vars:
    tox_envlist: py27dj110

On the create instance from, when the image name is empty, show id
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/source/source.controller.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Move "Domain" field under "User Name" and "Password"
  openstack_auth/forms.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Get the timezone offset for the current day instead of January 1st.
  lower-constraints.txt
  openstack_dashboard/dashboards/settings/user/forms.py
  openstack_dashboard/dashboards/settings/user/tests.py
  releasenotes/notes/bug-1822849-2833b5e6a5d021b7.yaml
  requirements.txt
  test-requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Save instace_id inside Associate Floating IP workflow
  openstack_dashboard/dashboards/project/floating_ips/tests.py
  openstack_dashboard/dashboards/project/floating_ips/workflows.py
  openstack_dashboard/test/integration_tests/pages/project/network/floatingipspage.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Don't load user role assignment or groups tabs for non-admins
  openstack_dashboard/dashboards/identity/users/tabs.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update cirros image to cirros-0.5.2-x86_64
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Replace Delete Force Volume Backup with Force Delete Volume Backup
  openstack_dashboard/dashboards/admin/backups/tables.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

handle missing access_rules
  openstack_dashboard/dashboards/identity/application_credentials/forms.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Sync default policy rules
  openstack_dashboard/conf/cinder_policy.yaml
  openstack_dashboard/conf/default_policies/cinder.yaml
  openstack_dashboard/conf/default_policies/glance.yaml
  openstack_dashboard/conf/default_policies/neutron.yaml
  openstack_dashboard/conf/default_policies/nova.yaml
  openstack_dashboard/conf/glance_policy.yaml
  openstack_dashboard/conf/neutron_policy.yaml
  openstack_dashboard/conf/nova_policy.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Change with_data=False for swift_get_container
  openstack_dashboard/api/swift.py
  openstack_dashboard/test/unit/api/test_swift.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Use policy_rules for user role assignment and group tabs
  openstack_dashboard/dashboards/identity/users/tabs.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Setup project-template for nodejs14 jobs
  .zuul.d/nodejs-jobs.yaml
  .zuul.d/project.yaml
  .zuul.d/xstatic-master.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Drop nodejs10 job
  .zuul.d/nodejs-jobs.yaml
  .zuul.d/project.yaml
  .zuul.d/xstatic-master.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Correct confusing wording in a release note
  releasenotes/notes/bug-1785263-46edf7313d833b4c.yaml
  releasenotes/notes/bug-1792524-7497aabcf6bc1e81.yaml
Due: none

Imported Translations from Zanata
  openstack_auth/locale/de/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  openstack_auth/locale/de/LC_MESSAGES/django.po
  openstack_auth/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/pt_BR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  openstack_dashboard/locale/de/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
Due: none

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Consisent abbreviation of size units
  horizon/templatetags/sizeformat.py
  horizon/test/unit/templatetags/test_templatetags.py
  openstack_dashboard/dashboards/admin/defaults/tables.py
  openstack_dashboard/dashboards/admin/defaults/workflows.py
  openstack_dashboard/dashboards/identity/projects/workflows.py
  openstack_dashboard/dashboards/project/overview/tests.py
  openstack_dashboard/test/integration_tests/pages/admin/system/defaultspage.py
  openstack_dashboard/usage/quotas.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix community image handling in launch instance form
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/launch-instance-model.service.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Added a condition to check whether value is in present in choices for ThemableSelectWidget.
  horizon/forms/fields.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Default role checker should be case-insensitive.
  openstack_dashboard/api/keystone.py
  openstack_dashboard/test/unit/api/test_keystone.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/es/LC_MESSAGES/doc.po
  horizon/locale/es/LC_MESSAGES/django.po
  horizon/locale/es/LC_MESSAGES/djangojs.po
  openstack_auth/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
Due: none

Imported Translations from Zanata
  doc/source/locale/es/LC_MESSAGES/doc.po
  horizon/locale/en_GB/LC_MESSAGES/django.po
  horizon/locale/es/LC_MESSAGES/django.po
  horizon/locale/es/LC_MESSAGES/djangojs.po
  openstack_auth/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/en_GB/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

doc: Update our IRC server to OFTC
  doc/source/contributor/contributing.rst
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  horizon/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  horizon/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
  openstack_dashboard/locale/es/LC_MESSAGES/djangojs.po
Due: none

Imported Translations from Zanata
  openstack_dashboard/locale/es/LC_MESSAGES/django.po
Due: none

integration tests: Relax router interface status check
  openstack_dashboard/test/integration_tests/tests/test_router.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Magic Search filter facet removal fix
  horizon/static/framework/widgets/magic-search/magic-search.controller.js
  horizon/static/framework/widgets/magic-search/magic-search.controller.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
