Repository openstack/horizon: changes, and which Zuul jobs are due for each by the changed paths.
All: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Path conditions:
  horizon-openstack-tox-base: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-selenium-headless: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$)
  horizon-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*/locale/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  horizon-integration-tests: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/unit/.*$, ^openstack_auth/tests/unit/.*$, ^openstack_dashboard/test/unit/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-dsvm-tempest-plugin: (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/dashboards/.*/tests.py$)
  horizon-tempest-plugin-ipv6: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^.*/locale/.*$, ^horizon/test/.*$, ^openstack_auth/tests/.*$, ^openstack_dashboard/test/.*$, ^openstack_dashboard/contrib/.*/tests.py$, ^openstack_dashboard/dashboards/.*/tests.py$, ^openstack_dashboard/.*/[^/]*\.spec\.js$, ^horizon/static/.*/[^/]*\.spec\.js$
  horizon-openstack-tox-py27dj18: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj19: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$
  horizon-openstack-tox-py27dj110: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^horizon/locale/.*$, ^openstack_dashboard/locale/.*$, ^openstack_auth/locale/.*$

Bump XStatic-JQuery to make it work with jquery-migrate
  .zuul.d/project.yaml
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/keypair/keypair.html
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Make horizon-integration-tests job voting again
  .zuul.d/project.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Increase explicit wait to avoid timeout error during loading spinner
  openstack_dashboard/test/integration_tests/horizon.conf
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix "Set admin password" checkbox visibility
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/keypair/keypair.html
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

[stable-only] Cap virtualenv/setuptools
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix ports tab at Launch Instance dialog
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/networkports/ports.controller.js
  openstack_dashboard/dashboards/project/static/dashboard/project/workflow/launch-instance/networkports/ports.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Dropping lower constraints testing from stable branches
  .zuul.d/project.yaml
  lower-constraints.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Bump minor version of XStatic-jQuery
  requirements.txt
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add Persian translation
  horizon/locale/fa/LC_MESSAGES/djangojs.po
Due: none

Add pytest-based selenium tests
  openstack_dashboard/test/integration_tests/config.py
  openstack_dashboard/test/integration_tests/horizon.conf
  openstack_dashboard/test/selenium/__init__.py
  openstack_dashboard/test/selenium/conftest.py
  openstack_dashboard/test/selenium/integration/conftest.py
  openstack_dashboard/test/selenium/integration/test_instances.py
  openstack_dashboard/test/selenium/integration/test_login.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
  openstack_dashboard/test/selenium/ui/conftest.py
  openstack_dashboard/test/selenium/ui/test_settings.py
  openstack_dashboard/test/selenium/widgets.py
  tools/selenium_tests.sh
  tools/unit_tests.sh
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Increase the default explicit_wait and page_timeout values
  openstack_dashboard/test/integration_tests/config.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests fix conf. variables and import fixtures
  openstack_dashboard/test/selenium/integration/test_instances.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Add TOTP support
  doc/source/configuration/settings.rst
  horizon/templates/auth/_totp_form.html
  horizon/templates/auth/_totp_page.html
  horizon/templates/auth/totp.html
  openstack_auth/defaults.py
  openstack_auth/exceptions.py
  openstack_auth/forms.py
  openstack_auth/plugin/__init__.py
  openstack_auth/plugin/base.py
  openstack_auth/plugin/totp.py
  openstack_auth/tests/data_v3.py
  openstack_auth/tests/templates/auth/totp.html
  openstack_auth/tests/unit/test_auth.py
  openstack_auth/tests/urls.py
  openstack_auth/urls.py
  openstack_auth/views.py
  releasenotes/notes/add-totp-support-d14d01b038e5deea.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix sphinx extlinks captions
  doc/source/conf.py
Due: none

pytest-based selenium tests add first image test
  openstack_dashboard/test/selenium/integration/test_images.py
  openstack_dashboard/test/selenium/widgets.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add image delete test
  openstack_dashboard/test/selenium/integration/test_images.py
  openstack_dashboard/test/selenium/integration/test_instances.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
  openstack_dashboard/test/selenium/widgets.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Sync default policy rules
  openstack_dashboard/conf/default_policies/glance.yaml
  openstack_dashboard/conf/default_policies/neutron.yaml
  openstack_dashboard/conf/default_policies/nova.yaml
  openstack_dashboard/conf/glance_policy.yaml
  openstack_dashboard/conf/neutron_policy.yaml
  openstack_dashboard/conf/nova_policy.yaml
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests clean/edit find elements/xpaths
  openstack_dashboard/test/selenium/conftest.py
  openstack_dashboard/test/selenium/integration/test_images.py
  openstack_dashboard/test/selenium/integration/test_instances.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add volume snapshots create, delete tests
  openstack_dashboard/test/selenium/integration/test_volume_snapshots.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix test failures with Django 4.x
  horizon/test/helpers.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix runtime detection in virtualenv
  manage.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix manage.py to use python3
  manage.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Fix Python3.11 unit test failures
  openstack_dashboard/dashboards/project/containers/utils.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update .gitreview for stable/2023.2
  .gitreview
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Update master for stable/2023.2
  releasenotes/source/2023.2.rst
  releasenotes/source/index.rst
Due: none

Fix sphinx extlinks captions for releasenotes job
  releasenotes/source/conf.py
Due: none

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-configuration.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  horizon/locale/en_GB/LC_MESSAGES/django.po
  horizon/locale/ja/LC_MESSAGES/django.po
  horizon/locale/ka_GE/LC_MESSAGES/django.po
  horizon/locale/ko_KR/LC_MESSAGES/django.po
  openstack_auth/locale/en_GB/LC_MESSAGES/django.po
  openstack_auth/locale/ja/LC_MESSAGES/django.po
  openstack_auth/locale/ka_GE/LC_MESSAGES/django.po
  openstack_auth/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/django.po
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

pytest-based selenium tests add networks create, delete tests
  openstack_dashboard/test/selenium/integration/test_networks.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests check results via OpenStack SDK instead of Selenium
  openstack_dashboard/test/selenium/integration/test_images.py
  openstack_dashboard/test/selenium/integration/test_instances.py
  openstack_dashboard/test/selenium/integration/test_volume_snapshots.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  openstack_dashboard/locale/ko_KR/LC_MESSAGES/djangojs.po
Due: none

pytest based selenium tests : add_instance_pagination tests
  openstack_dashboard/test/selenium/integration/conftest.py
  openstack_dashboard/test/selenium/integration/test_instances.py
  openstack_dashboard/test/selenium/integration/test_volumes.py
  openstack_dashboard/test/selenium/widgets.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

i18n: nested <translate> tag does not work
  openstack_dashboard/static/app/core/network_qos/actions/rule.description.html
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

Imported Translations from Zanata
  openstack_dashboard/locale/ja/LC_MESSAGES/djangojs.po
Due: none

i18n: Avoid using variables in gettext() in network QoS edit rule
  openstack_dashboard/static/app/core/network_qos/actions/edit-rule.controller.js
  openstack_dashboard/static/app/core/network_qos/actions/edit-rule.controller.spec.js
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-dsvm-tempest-plugin, horizon-tempest-plugin-ipv6, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110

pytest-based selenium tests add flavor create, delete tests
  openstack_dashboard/test/selenium/integration/test_flavors.py
Due: horizon-openstack-tox-base, horizon-selenium-headless, horizon-tox-bandit-baseline, horizon-integration-tests, horizon-openstack-tox-py27dj18, horizon-openstack-tox-py27dj19, horizon-openstack-tox-py27dj110
